<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <title>APP/小程序开发_轻直播平台</title>
    <meta name="keywords"  content="" />
    <meta name="description"  content="" />
    <link rel="stylesheet" href="/static/css/customized_service/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common/banner_common.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script>(function (i, s, o, g, r, a, m) { i["DaoVoiceObject"] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; a.charset = "utf-8"; m.parentNode.insertBefore(a, m) })(window, document, "script", ('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/04cefad5.js", "daovoice")</script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1ceca10e8f570a044c292d9b35be38f5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div id="customized">
        <!-- 头部 -->
        {include file="common/header"}
        <!--演示演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}
        <!-- banner -->
        <div id="banner">
            <div class="layui-carousel" id="banners">
                <div carousel-item class="lunbo-box">
                    {if(isset($banner_list) && $banner_list)}
                    {foreach $banner_list as $item}
                    <div class="banner-item">
                        <a href="{$item.img_link}">
                            <img class="banner-img" src="{$item.img_url}" alt="">
                        </a>
                        <div class="text-{$item.format}">
                            <h2 style='font-size: {$item.title_size}px;
                            font-weight: bold;
                            color:{$item.title_color};
                            text-align: {$item.format};'>{$item.title}</h2>

                            <h5 style=' color: {$item.in_color};
                            opacity: .8;
                            font-size: {$item.in_size}px;
                            width: 96%;
                            margin: 49px 0 85px;
                            text-align: {$item.format};
                            line-height: 1.5;'>{$item.introduction}</h5>

                            {if($item.button_status == 1)}
                            <a class="banner-a" href="{$item.button_link}" style='z-index: 10;
                            display: block;
                            width: 167px;
                            height: 44px;
                            border: 1px solid {$item.button_color};
                            color: {$item.button_color};
                            text-align: center;
                            line-height: 44px;
                            
                            font-size: {$item.button_size}px;'>{$item.button_text}</a>
                            {/if}
                        </div>
                    </div>
                    {/foreach}
                    {/if}
                </div>
            </div>
        </div>

        <!-- nav导航栏 -->
        <nav>
            <div class="layui-container">
                <ul>
                    <li><a href="{:url('/index/customized_service/index')}">直播集成开发</a></li>
                    <li class="active"><a href="{:url('/index/customized_service/applets')}">APP/小程序开发</a></li>
                    <!-- <li><a href="">自助会议系统</a></li> -->
                </ul>
            </div>
        </nav>

        <!-- app开发 -->
        <div id="zhibo">
            <div class="layui-container">
                <div class="title">APP/小程序开发</div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-text">
                        <h5>APP双系统开发</h5>
                        <ul>
                            <li>
                                <i></i>支持IOS、Android双APP开发，应用商店可下载
                            </li>
                            <li>
                                <i></i>兼容性稳定，运行速度流畅
                            </li>
                            <li>
                                <i></i>专属品牌化定制，海量DEMO模板可选
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                    <div class="item-img active">
                        <img src="/static/image/customized/app1.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-img active">
                        <img src="/static/image/customized/app2.svg" alt="">
                    </div>
                    <div class="item-text">
                        <h5>嵌入式应用</h5>
                        <ul>
                            <li>
                                <i></i>无缝对接轻直播平台，轻松发起直播
                            </li>
                            <li>
                                <i></i>灵活的DSK/API接口，支持第三方应用接入
                            </li>
                            <li>
                                <i></i>可搭载更多配套系统，具有更强的业务拓展性
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                </div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-text">
                        <h5>多商业模式应用</h5>
                        <ul>
                            <li>
                                <i></i>B2C、B2B2C、O2O等业务模式全场景覆盖
                            </li>
                            <li>
                                <i></i>独立后台管理，全方位掌握终端数据
                            </li>
                            <li>
                                <i></i>满足商家、门店、平台日程高需求应用
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                    <div class="item-img small-img">
                        <img src="/static/image/customized/app3.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-img active">
                        <img src="/static/image/customized/app4.svg" alt="">
                    </div>
                    <div class="item-text">
                        <h5>安全稳定</h5>
                        <ul>
                            <li>
                                <i></i>基于分布式数据存储、点对点传输、加密Token算法机制
                            </li>
                            <li>
                                <i></i>多副本存储替身数据安全性，有效降低存储成本
                            </li>
                            <li>
                                <i></i>去中心化程度高，网络效应强，审核机制更安全
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                </div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-text">
                        <h5>底层架构</h5>
                        <ul>
                            <li>
                                <i></i>数据传输加密更安全，确保数据的真实性、完整性和不可篡改性
                            </li>
                            <li>
                                <i></i>防注入安全，限制权限和特权、加密私有/机密数据、定期测试、漏洞扫描
                            </li>
                            <li>
                                <i></i>双重认证、动态密钥、VPN技术、第三方认证
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                    <div class="item-img active">
                        <img src="/static/image/customized/app5.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-img active">
                        <img src="/static/image/customized/app6.svg" alt="">
                    </div>
                    <div class="item-text">
                        <h5>强大的开源生态</h5>
                        <ul>
                            <li>
                                <i></i>各系统均提供专门的独家源码出售，方便客户自行系统开发
                            </li>
                            <li>
                                <i></i>产品原生开发，运行更快更流畅，让客户拥有更良好的体验
                            </li>
                            <li>
                                <i></i>提供系统程序及二次开发文档，大大缩短开发进程
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                </div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-text">
                        <h5>全行业体系覆盖</h5>
                        <ul>
                            <li>
                                <i></i>最强分销体系，快速搭建生态系统
                            </li>
                            <li>
                                <i></i>会员等级制度划分明显，适合各大行业应用
                            </li>
                            <li>
                                <i></i>供需端口配置灵活，支付体系高效
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                    <div class="item-img small-img">
                        <img src="/static/image/customized/app7.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-img active">
                        <img src="/static/image/customized/app8.svg" alt="">
                    </div>
                    <div class="item-text">
                        <h5>优质的售后服务</h5>
                        <ul>
                            <li>
                                <i></i>强大的售后团队，配备专门的服务人员及技术人员1v1服务
                            </li>
                            <li>
                                <i></i>产品手册、操作教程、安装帮助等服务手册一应俱全
                            </li>
                            <li>
                                <i></i>7x24小时快速响应
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- “轻”装上阵，玩转企业数字营销5G时代 -->
        <div id="fiveG" class="app">
            <div class="hover"></div>
            <div class="layui-container">
                <div class="fiveg-content">
                    <h2>开发出所有你想要的APP功能</h2>
                    <h5>提供原生APP开发、web APP开发及混合APP开发服务</h5>
                    <button><a href="http://login.qingtv.com/signUp" target="_blank">免费试用</a>
                    </button>
                </div>
            </div>
        </div>

        {include file="common/footer"}
    </div>
</body>

<script src="/static/common/js/header-footer.js"></script>
<script src="/static/common/js/onlineService.js"></script>

<script type="text/javascript">
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });

    //   显示预约演示弹出框
    $('.banner-a').on('click', function () {
        $('#order-container').show();
        $('.q-modal').show();
    })

    $('.learn-more').click(function () {
        daovoice('show')
    })
</script>

</html>