<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <title>企业直播集成开发_轻直播平台</title>
    <meta name="keywords"  content="企业直播开发,企业直播定制,企业直播外包" />
    <meta name="description"  content="轻直播为企业用户提供开放式的直播集成开发服务，完整的API/SDK支持和丰富的外部授权，满足企业直播私有化部署。" />
    <link rel="stylesheet" href="/static/css/customized_service/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common/banner_common.css">
    <script type='text/javascript' src="/static/jquery/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script>(function (i, s, o, g, r, a, m) { i["DaoVoiceObject"] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; a.charset = "utf-8"; m.parentNode.insertBefore(a, m) })(window, document, "script", ('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/04cefad5.js", "daovoice")</script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?92c6dedc52f21878f099f29a26b190a0";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div id="customized">
        <!-- 头部 -->
        {include file="common/header"}

        <!--预约演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}

        <!-- banner -->
        <div id="banner">
            <div class="layui-carousel" id="banners">
                <div carousel-item class="lunbo-box">
                    {if(isset($banner_list) && $banner_list)}
                    {foreach $banner_list as $item}
                    <div class="banner-item">
                        <a href="{$item.img_link}">
                            <img class="banner-img" src="{$item.img_url}" alt="">
                        </a>
                        <div class="text-{$item.format}">
                            <h2 style='font-size: {$item.title_size}px;
                            font-weight: bold;
                            color:{$item.title_color};
                            text-align: {$item.format};'>{$item.title}</h2>

                            <h5 style=' color: {$item.in_color};
                            opacity: .8;
                            font-size: {$item.in_size}px;
                            width: {$item.width};
                            margin: 49px 0 85px;
                            text-align: {$item.format};
                            line-height: 1.5;'>{$item.introduction}</h5>

                            {if($item.button_status == 1)}
                            <a class="banner-a" href="{$item.button_link}" style='z-index: 10;
                            display: block;
                            width: 167px;
                            height: 44px;
                            border: 1px solid {$item.button_color};
                            color: {$item.button_color};
                            text-align: center;
                            line-height: 44px;
                            font-size: {$item.button_size}px;'>{$item.button_text}</a>
                            {/if}
                        </div>
                    </div>
                    {/foreach}
                    {/if}
                </div>
            </div>
        </div>

        <!-- nav导航栏 -->
        <nav>
            <div class="layui-container">
                <ul>
                    <li class="active"><a href="/develop">直播集成开发</a></li>
                    <li><a href="/develop/app">APP/小程序开发</a></li>
                    <!-- <li><a href="">自助会议系统</a></li> -->
                </ul>
            </div>
        </nav>

        <!-- 直播集成开发 -->
        <div id="zhibo">
            <div class="layui-container">
                <div class="title">直播集成开发</div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-text">
                        <h5>播放器、聊天室iframe嵌入</h5>
                        <ul>
                            <li>
                                <i></i>支持播放器、聊天室嵌入到第三方开发者系统中
                            </li>
                            <li>
                                <i></i>为企业用户提供专业的运维服务
                            </li>
                            <li>
                                <i></i>减少企业用户的系统开发成本
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                    <div class="item-img active">
                        <img src="/static/image/customized/kaifa1.svg" alt="">
                    </div>
                </div>

            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-img active">
                        <img src="/static/image/customized/kaifa2.svg" alt="">
                    </div>
                    <div class="item-text">
                        <h5>提供二次开发支持</h5>
                        <ul>
                            <li>
                                <i></i>提供完整的API&SDK支持
                            </li>
                            <li>
                                <i></i>支持系统集成融合
                            </li>
                            <li>
                                <i></i>即调即用
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                </div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-text">
                        <h5>丰富的外部授权</h5>
                        <ul>
                            <li>
                                <i></i>支持播放器、聊天室嵌入到第三方开发者系统中
                            </li>
                            <li>
                                <i></i>为企业用户提供专业的运维服务
                            </li>
                            <li>
                                <i></i>减少企业用户的系统开发成本
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                    <div class="item-img small-img">
                        <img src="/static/image/customized/kaifa3.svg" alt="">
                    </div>
                </div>

            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-img active">
                        <img src="/static/image/customized/kaifa4.svg" alt="">
                    </div>
                    <div class="item-text">
                        <h5>专属开发支持经理</h5>
                        <ul>
                            <li>
                                <i></i>提供1v1服务对接开发
                            </li>
                            <li>
                                <i></i>支持从0到1快速构建专属企业直播间
                            </li>
                            <!-- <li>
                            <i></i>减少企业用户的系统开发成本
                        </li> -->
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                </div>


            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-text">
                        <h5>支持深度整合与定制</h5>
                        <ul>
                            <li>
                                <i></i>支持企业私有化部署
                            </li>
                            <li>
                                <i></i>源代码及控制权授权给企业用户
                            </li>
                            <li>
                                <i></i>让用户更加便捷高效的使用轻直播
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                    <div class="item-img active">
                        <img src="/static/image/customized/kaifa5.svg" alt="">
                    </div>
                </div>

            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-img active">
                        <img src="/static/image/customized/Discuss.svg" alt="">
                    </div>
                    <div class="item-text">
                        <h5>播放器、聊天室iframe嵌入</h5>
                        <ul>
                            <li>
                                <i></i>支持播放器、聊天室嵌入到第三方开发者系统中
                            </li>
                            <li>
                                <i></i>为企业用户提供专业的运维服务
                            </li>
                            <li>
                                <i></i>减少企业用户的系统开发成本
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                </div>
            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-text">
                        <h5>丰富的外部授权</h5>
                        <ul>
                            <li>
                                <i></i>支持播放器、聊天室嵌入到第三方开发者系统中
                            </li>
                            <li>
                                <i></i>为企业用户提供专业的运维服务
                            </li>
                            <li>
                                <i></i>减少企业用户的系统开发成本
                            </li>
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                    <div class="item-img small-img">
                        <img src="/static/image/customized/Customer Service.svg" alt="">
                    </div>
                </div>

            </div>
            <div class="zhibo-item">
                <div class="layui-container">
                    <div class="item-img active">
                        <img src="/static/image/customized/kaifa5(1).svg" alt="">
                    </div>
                    <div class="item-text">
                        <h5>专属开发支持经理</h5>
                        <ul>
                            <li>
                                <i></i>提供1v1服务对接开发
                            </li>
                            <li>
                                <i></i>支持从0到1快速构建专属企业直播间
                            </li>
                            <!-- <li>
                            <i></i>减少企业用户的系统开发成本
                        </li> -->
                        </ul>
                        <button class="learn-more">了解更多</button>
                    </div>
                </div>


            </div>
        </div>

        <!-- “轻”装上阵，玩转企业数字营销5G时代 -->
        <div id="fiveG">
            <div class="hover"></div>
            <div class="layui-container">
                <div class="fiveg-content">
                    <h2>“轻”装上阵，玩转企业数字营销5G时代</h2>
                    <h5>「轻直播」为您提供一站式企业直播解决方案</h5>
                    <button><a href="http://login.qingtv.com/signUp" target="_blank">免费试用</a>
                    </button>
                </div>
            </div>
        </div>

        {include file="common/footer"}
    </div>
</body>

<script src="/static/common/js/header-footer.js"></script>
<script src="/static/common/js/onlineService.js"></script>
<script type="text/javascript">
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });

    //   显示预约演示弹出框
    $('.banner-a').on('click', function () {
        $('#order-container').show();
        $('.q-modal').show();
    })

    $('.learn-more').click(function () {
        daovoice('show')
    })
</script>

</html>