{extend name="common::layout"/}
{block name="main-content"}
<style>

</style>
<div class="page-content" class="index">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <blockquote class="layui-elem-quote">欢迎管理员：
                            <span class="x-red">{$user.name}</span>！当前时间:{$time}
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">数据统计</div>
                    <div class="layui-card-body ">
                        <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                            {if isset($data_arr)}
                            {foreach($data_arr as $item)}
                            <li class="layui-col-md2 layui-col-xs6">
                                <a href="{$item.link}" class="x-admin-backlog-body">
                                    <h3>{$item.name}</h3>
                                    <p>
                                        <cite>{$item.count}</cite>
                                    </p>
                                </a>
                            </li>
                            {/foreach}
                            {/if}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md2">
                <a class="layui-card" style="display: block" href="/admin/consulting/index">
                    <div class="layui-card-header">预约提示
                        <span class="layui-badge layui-bg-cyan layuiadmin-badge">预</span></div>
                    <div class="layui-card-body">
                        <p style="color: red;font-size: 16px;">未处理
                            <span class="layuiadmin-span-color">{$consulting['un_pro_num']}</span>
                        </p>
                        <p>已处理
                            <span class="layuiadmin-span-color">{$consulting['pro_num']}</span>
                        </p>
                        <p>总预约数量
                            <span class="layuiadmin-span-color">{$consulting['all_num']}</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="layui-col-sm6 layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">文章浏览排行
                        <span class="layui-badge layui-bg-cyan layuiadmin-badge">文</span></div>
                    <div class="layui-card-body  ">
                        <p>新下载
                            <span class="layuiadmin-span-color">10%
                                        <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                        </p>
                        <p>新下载
                            <span class="layuiadmin-span-color">10%
                                        <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                        </p>
                        <p>新下载
                            <span class="layuiadmin-span-color">10%
                                        <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">案例浏览排行
                        <span class="layui-badge layui-bg-cyan layuiadmin-badge">案</span></div>
                    <div class="layui-card-body ">
                        <p>新下载
                            <span class="layuiadmin-span-color">10%
                                        <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                        </p>
                        <p>新下载
                            <span class="layuiadmin-span-color">10%
                                        <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                        </p>
                        <p>新下载
                            <span class="layuiadmin-span-color">10%
                                        <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md2">
                <div class="layui-card">
                    <div class="layui-card-header">视频播放排行
                        <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span></div>
                    <div class="layui-card-body ">
                        <p>新下载
                            <span class="layuiadmin-span-color">10%
                                        <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                        </p>
                        <p>新下载
                            <span class="layuiadmin-span-color">10%
                                        <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                        </p>
                        <p>新下载
                            <span class="layuiadmin-span-color">10%
                                        <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">统计</div>
                    <div class="layui-card-body ">
                        <div id="main" style="width: 900px;height:400px;"></div>
                    </div>
                </div>
            </div>
            <style id="welcome_style"></style>
            <div class="layui-col-md12">
                <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,百度Echarts,jquery,本系统由x-admin提供技术支持。
                </blockquote>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    let myChart = echarts.init(document.getElementById('main'));
    let option = {
        title: {
            text: '折线图堆叠'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '邮件营销',
                type: 'line',
                stack: '总量',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '联盟广告',
                type: 'line',
                stack: '总量',
                data: [220, 182, 191, 234, 290, 330, 310]
            },
            {
                name: '视频广告',
                type: 'line',
                stack: '总量',
                data: [150, 232, 201, 154, 190, 330, 410]
            },
            {
                name: '直接访问',
                type: 'line',
                stack: '总量',
                data: [320, 332, 301, 334, 390, 330, 320]
            },
            {
                name: '搜索引擎',
                type: 'line',
                stack: '总量',
                data: [820, 932, 901, 934, 1290, 1330, 1320]
            }
        ]
    };
    myChart.setOption(option);
</script>

{/block}