<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>加入我们_轻直播_国内领先的企业直播平台</title>
    <meta name="keywords"  content="轻直播,经典案例" />
    <meta name="description"
         content="轻直播提供私有化部署,全方位全场景直播一站式服务,服务范围涵盖医疗、教育、金融、科技等各行业,已获得上海医师协会、瀚晖制药、四川大学、等国内知名企业的高度认可。" />
    <link rel="stylesheet" href="/static/css/about/about.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--封装好的视频布局样式-->
    <link rel="stylesheet" href="/static/css/about/jsmodern.min.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <!--mp4视频插件-->
    <script src="/static/common/js/jsmodern.min.js"></script>
</head>

<body>
    <div id="about">

        {include file="common/about_banner"}
        <!--演示演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}
        <!-- nav导航栏 -->
        <nav class="navbar">
            <div class="layui-container">
                <ul class="navinfo">
                    <li><a href="{:url('about/index')}">关于我们</a></li>
                    <li><a href="{:url('corporate_news/news')}">企业新闻</a></li>
                    <li class="active"><a href="{:url('join/joinUs')}">加入我们</a></li>
                    <li><a href="{:url('contact/contactUs')}">联系我们</a></li>
                </ul>
            </div>
        </nav>

        <div class="about-boxs">
            <!-- 加入我们 -->
            <section class="active">
                <div class="recruit">
                    <div class="layui-container">
                        <div class="title">人才招聘</div>
                        <ul class="select">
                            <li>
                                <p>地区：</p>
                                <select name="" id="" placeholder="工作城市">
                                    <option value="1">上海</option>
                                    <option value="1">北京</option>
                                    <option value="1">深圳</option>
                                </select>
                            </li>
                            <li>
                                <p>职位：</p>
                                <select name="" id="" placeholder="职位类别">
                                    <option value="1">上海</option>
                                </select>
                            </li>
                            <li>
                                <p>经验：</p>
                                <select name="" id="" placeholder="经验要求">
                                    <option value="1">上海</option>
                                </select>
                            </li>
                            <li>
                                <p>薪资：</p>
                                <select name="" id="" placeholder="薪资要求">
                                    <option value="1">上海</option>
                                </select>
                            </li>
                        </ul>

                        <ul class="zhaopin-info">
                            {if isset($join_list)}
                            {foreach($join_list as $item)}
                            <li>
                                <h6>{$item.position}</h6>
                                <div class="zhao-content"><span class="xinzi">{$item.salary}</span><i>|</i><span
                                        class="diqu">{$item.region}</span><i>|</i><span
                                        class="xueli">{$item.education}</span><i>|</i><span
                                        class="nianxian">{$item.years}</span></div>
                                <div class="zhao-bottom"><span
                                        class="time">{$item.time}</span><i>|</i><span>投递后：24小时反馈</span><button><a
                                            href="https://sou.zhaopin.com/?jl=538&kw=%E8%A1%8C%E9%82%A6%E9%80%9A%E8%AE%AF" target="_blank">立即应聘</a>
                                        </button>
                                </div>
                            </li>
                            {/foreach}
                            {/if}
                        </ul>
                    </div>
                </div>

                <!-- 我们期待您的加入 -->
                <div class="hope">
                    <div class="layui-container">
                        <div class="title">我们期待您的加入</div>
                        <h5>拥抱互联网行业，加入国内顶级视频云企业</h5>
                        <p>公司福利</p>
                        <ul class="icons">
                            <li>
                                <img src="/static/image/about/baoxian.svg" alt="">
                                <p>五险一金</p>
                            </li>
                            <li>
                                <img src="/static/image/about/liwu.svg" alt="">
                                <p>五险一金</p>
                            </li>
                            <li>
                                <img src="/static/image/about/money.svg" alt="">
                                <p>期权奖励</p>
                            </li>
                            <li>
                                <img src="/static/image/about/dianshi.svg" alt="">
                                <p>专业培训</p>
                            </li>
                            <li>
                                <img src="/static/image/about/yiliao.svg" alt="">
                                <p>年度体检</p>
                            </li>
                            <li>
                                <img src="/static/image/about/cake.svg" alt="">
                                <p>佳节礼物</p>
                            </li>
                            <li>
                                <img src="/static/image/about/lingshi.svg" alt="">
                                <p>零食畅享</p>
                            </li>
                            <li>
                                <img src="/static/image/about/tijian.svg" alt="">
                                <p>带薪年假</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="free">
                    <div class="layui-container">
                        <h3>全功能免费试用，0成本体验轻直播带来的改变</h3>
                        <button><a href="http://login.lighos.com/signUp" target="_blank">免费试用</a></button>
                    </div>
                </div>
            </section>
        </div>


        {include file="common/footer"}
    </div>

</body>
<script src="/static/common/js/header-footer.js"></script>
<!--视频插件调用方法-->
<script>
    // 播放视频
    $(function () {
        //视频
        jsModern.video("#video");
        //播放视频
        $(".VideoBtn").click(function () {
            var video = document.getElementById("videoShow");
            video.play();
            $('.VideoBtn').hide();
            $('.video-hover').hide() // 隐藏视频封面图片
        })
        //监听视频的播放状态
        var video = document.getElementById("videoShow");
        video.oncanplay = function () {
            $(".VideoBtn").show();
            //$("#video").attr("poster","");
        }
        //视频播放事件
        video.onplay = function () {
            $("#videoShow").attr("poster", "");
            $(".VideoBtn").hide();
        };
        video.onplaying = function () {
            $(".VideoBtn").hide();
        };

        //视频暂停事件
        video.onpause = function () {
            $(".VideoBtn").show();
        };
        //点击视频周围暂停播放图片出现
        video.onclick = function () {
            if (video.paused) {
                $(".VideoBtn").hide();
                video.play();
            } else {
                $(".VideoBtn").show();
                video.pause();
            }
        };
    })

    // $('#about').each(function (index, element) {
    //     var obj = $(this);
    //     obj.find('.navinfo').children().on('click li', function () {
    //         $(this).addClass('active').siblings().removeClass('active');
    //         if (obj.find('.about-boxs').children().eq($(this).index()).length > 0)
    //             obj.find('.about-boxs').children().hide().eq($(this).index()).show();
    //     });
    //     setTimeout(function () { obj.find('.navinfo .active').trigger('li'); }, 100);
    // });



    // 发展历程
    $('.fazhan').each(function (index, element) {
        var obj = $(this);
        obj.find('.dot').children().on('mouseover .left-item', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.stories').children().eq($(this).index()).length > 0)
                obj.find('.stories').children().hide().eq($(this).index()).show();
            obj.find('.year li').removeClass('li-active').eq($(this).index()).addClass('li-active');

        });
        // setTimeout(function () { obj.find('.dot .active').trigger('.left-item'); }, 100);
    });

    // 公司分布
    $('.fenbu').each(function (index, element) {
        var obj = $(this);
        obj.find('.fenbu-left').children().on('mouseover .left-item', function () {
            $(this).addClass('actives').siblings().removeClass('actives');
            if (obj.find('.fenbu-right').children().eq($(this).index()).length > 0)
                obj.find('.fenbu-right').children().hide().eq($(this).index()).show();

        });
        // setTimeout(function () { obj.find('.dot .active').trigger('.left-item'); }, 100);
    });
</script>

</html>