<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <title>轻直播_企业直播服务平台,医疗直播领军者,营销直播定制服务商</title>
    <meta name="keywords"  content="企业直播平台,医疗直播,营销直播,活动直播,直播定制服务" />
    <meta name="description"
         content="轻直播是国内知名的企业级直播定制化服务平台,服务全球500强,为企业提供医疗直播、手术直播、活动直播、会议直播、营销直播、年会直播等全场景解决方案,热线:400-920-1599。" />
    <link rel="stylesheet" href="/static/css/qingschool/coursesecond.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/layui/layui.js"></script>
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>(function (i, s, o, g, r, a, m) { i["DaoVoiceObject"] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; a.charset = "utf-8"; m.parentNode.insertBefore(a, m) })(window, document, "script", ('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/04cefad5.js", "daovoice")</script>
    <style>
        .layui-nav {
            background-color: #fff;
            display: none;
        }

        .layui-nav .layui-nav-item a {
            color: #333;
        }

        .layui-nav .layui-nav-item a:hover {
            color: #333;
        }

        .layui-nav-child dd.layui-this {
            background-color: #fff;
            color: #00cc99;
        }

        .layui-nav .layui-nav-more {
            border-top-color: #333;
        }

        .layui-nav .layui-nav-mored {
            border-color: transparent transparent #333;
        }

        .layui-nav-bar {
            display: none;
            background-color: #fff;
        }

        .layui-nav-child {
            left: 16%;
            top: 75px;
            min-width: 85%;
        }

        .layui-nav-child dd a {
            text-align: center;
        }

        .layui-nav-child dd:hover a {
            color: #00cc99;
        }

        .layui-nav .layui-nav-child a:hover {
            background-color: #f2f2f2;
            color: #00cc99
        }

        .layui-nav .layui-nav-child dd.layui-this a,
        .layui-nav-child dd.layui-this {
            background-color: #00cc99;
            color: #fff
        }

        .null-data {
            position: relative;
            top: 16%;
            left: 50%;
            transform: translateX(-50%);
            width: 18%;
        }

        .layui-nav {
            width: 180px;
        }

        .layui-nav .layui-nav-item {
            width: 100%;
        }

        .layui-nav .layui-nav-item #img-a .layui-nav-img {
            margin-right: 6px;
        }

        .layui-nav .layui-nav-item #img-a {
            display: flex;
            align-items: center;
            padding: 0 5px;
        }

        .layui-nav .layui-nav-item #img-a .name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 65%;
            display: inline-block;
        }
    </style>
</head>

<body>
    <!-- 视频教程二级页面 -->
    <div id="course">
        <header>
            <div class="layui-container flexs">
                <div class="logo"><a href="/"><img src="/static/image/index1/logo_text.svg" alt="首页"></a></div>
                <ul class="flexs head-ul">
                    {if(isset($video_type_limit))}
                    {foreach($video_type_limit as $item)}
                    <li onclick="videoPage({$item.id})">{$item.name}</li>
                    {/foreach}
                    {/if}
                </ul>
                <div class="layui-form-item">
                    <div class="layui-input-block flexs">
                        <input type="text" name="word" id="word" required lay-verify="required" placeholder="课程/关键词"
                            autocomplete="off" class="layui-input">
                        <div class="icons" id="icon_search">
                            <img src="/static/image/qingschool1/search_white.svg" alt="">
                        </div>
                    </div>
                </div>
                <a href="/">轻直播首页</a>
                <div class="login flexs">
                    <a href="/login" target="_blank">登录</a>
                    <span>|</span>
                    <a href="http://login.qingtv.com/signUp" target="_blank">注册</a>
                </div>
                <ul class="layui-nav" lay-filter="leftNav">
                    <li class="layui-nav-item">
                        <a id="img-a" href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">
                            <span class="name">11</span>
                            </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" data-id="1">轻直播管理平台</a></dd>
                            <dd><a href="javascript:;" data-id="2">退出登录</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </header>
        <!--演示演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}
        <nav class="nav-second flexs">
            <div class="layui-container">
                <a href="/video">首页</a>
                <i class="layui-icon layui-icon-right"></i>
                <span>全部课程</span>
                <i class="layui-icon layui-icon-right"></i>
                <span>{$pid_name}</span>
            </div>
        </nav>
        <div class="study-direction">
            <div class="layui-container">
                <div class="direction-item flexs">
                    <div class="item-title">学习方向</div>
                    <ul class="flexs study-ul">
                        <li class="active" onclick="pid(0)"><a href="javascript:;">全部</a></li>
                        {if(isset($video_type))}
                        {foreach($video_type as $item)}
                        <li onclick="pid({$item.id})"><a href="javascript:;">{$item.name}</a></li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
                <div class="direction-item flexs">
                    <div class="item-title">课程类型</div>
                    <ul class="flex study-ul">
                        <li class="active" onclick="video(0)"><a href="javascript:;">全部</a></li>
                        <li onclick="video(1)"><a href="javascript:;">视频直播</a></li>
                        <li onclick="video(2)"><a href="javascript:;">视频点播</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="checkbox">
            <div class="layui-container">
                <ul class="checkboxs flexs">
                    <li>
                        <label for="mianfei">
                            <input id="mianfei" type="checkbox">
                            <span>免费</span>
                        </label>
                        <!-- <input type="checkbox" name="" title="发呆" lay-skin="primary"> -->
                        <i>|</i>
                    </li>
                    <li>
                        <label for="fufei">
                            <input id="fufei" type="checkbox">
                            <span>付费</span>
                        </label>
                        <!-- <input type="checkbox" name="" title="发呆" lay-skin="primary"> -->
                        <i>|</i>
                    </li>
                    <li>
                        <label for="lubo">
                            <input id="lubo" type="checkbox">
                            <span>录播</span>
                        </label>
                        <!-- <input type="checkbox" name="" title="发呆" lay-skin="primary"> -->
                        <i>|</i>
                    </li>
                    <li>
                        <label for="zhibo">
                            <input id="zhibo" type="checkbox">
                            <span>直播</span>
                        </label>
                        <!-- <input type="checkbox" name="" title="发呆" lay-skin="primary"> -->
                        <i>|</i>
                    </li>
                    <li>
                        <label for="vip">
                            <input id="vip" type="checkbox">
                            <span>VIP免费</span>
                        </label>
                        <!-- <input type="checkbox" name="" title="发呆" lay-skin="primary"> -->
                    </li>
                </ul>
            </div>
        </div>

        <div class="price-box">
            <div class="price">
                <div class="layui-container">
                    <ul class="price-nav flexs">
                        <li class="active" onclick="screen(1)">热门</li>
                        <li onclick="screen(2)">最新</li>
                        <li class="price-num">价格<i></i></li>
                    </ul>
                </div>
            </div>
            <div class="price-content">
                <div class="study-content layui-container">
                    <div class="study-item active">
                        <ul class="study-box">
                            {if(isset($video_list) && $video_list)}
                            {foreach($video_list as $item)}
                            <li>
                                <a href="/video/tutorial?browse=1&id={$item.id}">
                                    <img src="{$item.cover_img_url}" alt="">
                                    <div class="txt">
                                        <h6>{$item.title}</h6>
                                        <p>
                                            <span>免费</span><span>{$item.browse}人已学习</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            {/foreach}
                            {else}
                            <img class="null-data" src="/static/image/null_data.svg" alt="">
                            {/if}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {include file="common/footer"}

    </div>
</body>
<script src="/static/common/js/onlineService.js"></script>
<script src="/static/common/js/header-footer.js"></script>

<script>
    // 案例教程模块导航栏切换
    $('.price-box').each(function (index, element) {
        var obj = $(this);
        obj.find('.price-nav').children().on('click li', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.study-content').children().eq($(this).index()).length > 0)
                obj.find('.study-content').children().hide().eq($(this).index()).show();
        });
        setTimeout(function () {
            obj.find('.price-nav .active').trigger('li');
        }, 100);
    });

    // 头部导航点击高亮
    $('header').each(function (index, element) {
        var obj = $(this);
        obj.find('.head-ul').children().on('click li', function () {
            $(this).addClass('active').siblings().removeClass('active');
        });
    });

    // 学习方向点击高亮
    $('.study-direction').each(function (index, element) {
        var obj = $(this);
        obj.find('.study-ul').children().on('click li', function () {
            $(this).addClass('active').siblings().removeClass('active');
        });
    });

    //分页方法
    function layPage(data) {
        layui.use('laypage', function () {
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'test1'       //注意，这里的 test1 是分页容器ID，不用加 # 号
                , count: data.count //数据总数
                , curr: data.curr   //当前页
                , limit: 12
                , prev: '<'         // 上一页按钮内容
                , next: '>'         // 下一页按钮内容
                , theme: '#00cc99'
                , jump: function (obj, first) {
                    currPage = obj.curr; //这里是后台返回给前端的当前页数
                    if (!first) {         //点击跳页触发函数自身，并传递当前页：obj.curr  ajax 再次请求
                        videoPage(data.index, data.where, currPage);     //调用ajax请求数据
                    }
                }
            });
        });
    }

    var where = {};
    var index = 0;
    var curr = 1;

    function videoPage(index = window.index, where = window.where, curr = window.curr) {
        $.ajax({
            url: "{:url('/index/qing_school/videoListByPage')}",
            data: { 'pid': index, 'curr': curr, 'where': where},
            type: 'get',
            success: function (res) {
                $('.study-box').empty()
                if (res.status === 200) {
                    for (let item of res.data.data) {
                        $('.study-box').append('<li>\n' +
                            '                            <a href="/video/tutorial?browse=1&id=' + item.id + '">\n' +
                            '                                <img src="' + item.cover_img_url + '" alt="">\n' +
                            '                                <div class="txt">\n' +
                            '                                    <h6>' + item.title + '</h6>\n' +
                            '                                    <p><span>免费</span><span>' + item.browse + '人已学习</span></p>\n' +
                            '                                </div>\n' +
                            '                            </a>\n' +
                            '                        </li>')
                    }
                    layPage(res.data);
                } else {
                    $('.study-box').append('<img class="null-data" src="/static/image/null_data.svg" alt="">');
                    $('.hid-sho').hide();
                }
            }
        })
    }

    //搜索
    $('#icon_search').on('click', function () {
        let word = $('#word').val();
        window.where['word'] = word;
        videoPage();
    })
    //最新最热
    function screen(screen) {
        window.where['screen'] = screen;
        videoPage();
    }
    //视频分类ID
    function pid(pid) {
        window.index = pid;
        videoPage();
    }
    //视频直播 视频点播
    function video(type_id) {
        window.where['video'] = type_id;
        videoPage();
    }
    //免费
    $('#mianfei').on('click', function () {
        window.where['free'] = $('#mianfei').is(':checked') ? 1 : 0;
        videoPage();
    })
    //付费
    $('#fufei').on('click', function () {
        window.where['pay'] = $('#fufei').is(':checked') ? 1 : 0;
        videoPage();
    })
    //录播
    $('#lubo').on('click', function () {
        window.where['record'] = $('#lubo').is(':checked') ? 1 : 0;
        videoPage();
    })
    //直播
    $('#zhibo').on('click', function () {
        window.where['live'] = $('#zhibo').is(':checked') ? 1 : 0;
        videoPage();
    })
    //VIP免费
    $('#vip').on('click', function () {
        window.where['vip'] = $('#vip').is(':checked') ? 1 : 0;
        videoPage();
    })

</script>
<script>
    // 登录成功后显示个人信息
    var tvInfo = JSON.parse(localStorage.getItem('tvInfo'))
    if (tvInfo) {
        $('.layui-nav').show()
        // 隐藏登录按钮
        $('.login').hide();
        $('.layui-nav-img').attr('src', tvInfo.avatar) // 头像
        $('#img-a .name').html(tvInfo.name) // 昵称
    }

    // 提示框
    layui.use('layer', function () {
        var layer = layui.layer;
    });

    layui.use('element', function () {
        var element = layui.element;
        element.on('nav(leftNav)', function (ele) {
            var id = ele.attr('data-id');
            // console.log(id);
            // 退出登录
            if (id == 2) {
                localStorage.removeItem('tvInfo')
                layer.msg('您已退出登录');
                setTimeout(() => {
                    window.location.href = "/login"
                }, 500);
            } else if (id == 1) {
                 var token = tvInfo.token
                var name = tvInfo.name
                var avatar = tvInfo.avatar
                window.open(`http://login.qingtv.com/Home?lighostoken=${token}
                &lighosName${name}
                &lighosHeadUrl=${avatar}`)
            }
        });
    });
</script>

</html>