<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轻直播_企业直播服务平台,医疗直播领军者,营销直播定制服务商</title>
    <meta name="keywords"  content="企业直播平台,医疗直播,营销直播,活动直播,直播定制服务" />
    <meta name="description"
         content="轻直播是国内知名的企业级直播定制化服务平台,服务全球500强,为企业提供医疗直播、手术直播、活动直播、会议直播、营销直播、年会直播等全场景解决方案,热线:400-920-1599。" />
    <link rel="stylesheet" href="/static/css/qingschool/videocourse.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <div id="video">
        <!-- 头部 -->
        <header>
            <div class="layui-container flex">
                <div class="logo">
                    <a href="{:url('/')}"><img src="/static/image/logo.png" alt=""></a>
                </div>
                <div class="head-right flex">
                    <div class="text">
                        <a href="{:url('/')}">轻直播首页</a>
                        <a href="">产品功能</a>
                    </div>
                    <div class="btns">
                        <a href="">
                            <button class="login">登录</button>
                        </a>
                        <a href="http://login.lighos.com/" target="_blank"><button class="free-btn">免费试用</button></a>
                    </div>
                </div>
            </div>
        </header>

        <!-- 导航栏 -->
        <nav class="video-nav ">
            <div class="layui-container box" style="display: flex;align-items: center;justify-content: flex-start">
                <a href="{:url('/index/qing_school/videoCourse')}" class="active">首页</a>
                {if(isset($video_type))}
                {foreach($video_type as $item)}
                <a href="{:url('/index/qing_school/courseSecond')}">{$item.name}</a>
                {/foreach}
                {/if}

            </div>

        </nav>

        <!-- 大家都在看 -->
        <div class="all-watch">
            <div class="layui-container">
                <div class="watch-text flex">
                    <div class="text-title">
                        <h6>大家都在看：</h6>
                        <div class="underline"></div>
                    </div>
                    <a class="more" href="{:url('/index/qing_school/courseSecond')}">更多···</a>
                </div>
                <div class="watch-content">
                    <a href="{:url('/index/tutorial/index')}">
                        <img src="{$first_video['cover_img_url']}" alt="">
                    </a>
                    <div class="content-text">
                        <h5>{$first_video['title']}</h5>
                        <div class="teacher flex">
                            <div>主讲老师：<span>轻直播</span></div>
                            <div>5视频课时：<span class="num">{$first_video['browse']}</span>人在浏览</div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <p>{$first_video['content']}</p>
                </div>
            </div>
        </div>

        <!-- 案例教程模块 -->
        <div class="case-study">
            <div class="layui-container">
                <ul class="study-nav" style="display: flex;align-items: center;justify-content: flex-start">
                    {if(isset($video_type))}
                    {foreach($video_type as $item)}
                    <li class="{$item.id == $id ? 'active' : ''}">
                        <p onclick="videoPoint({$item.id})">{$item.name}</p>
                        <div></div>
                    </li>
                    {/foreach}
                    {/if}
                </ul>
                <div class="study-content">
                    <div class="study-item active">
                        <ul class="study-box">

                        </ul>
                        <button>点击加载更多</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- 产品资讯 -->
        <div class="product-zixun" style="display: none">
            <div class="layui-container">
                <div class="watch-text flex">
                    <div class="text-title">
                        <h6>产品资讯</h6>
                        <div class="underline"></div>
                    </div>
                    <a class="more" href="{:url('/index/qing_school/courseSecond')}">更多···</a>
                </div>

                <div class="product-content">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item class="lunbo-box">
                            <ul class="lunbo-item">
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="lunbo-item">
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="lunbo-item">
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 免费试用 -->
        <div class="video-free">
            <div class="layui-container">
                <h3>全功能免费试用，0成本体验轻直播带来的改变</h3>
                <button>
                    <a href="http://login.lighos.com/" target="_blank">免费体验</a>
                </button>
            </div>
        </div>

        {include file="common/footer"}
    </div>

</body>
<script src="/static/common/js/header-footer.js"></script>
<script>
    // 案例教程模块导航栏切换
    $('.case-study').each(function (index, element) {
        var obj = $(this);
        obj.find('.study-nav').children().on('click li', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.study-content').children().eq($(this).index()).length > 0)
                obj.find('.study-content').children().hide().eq($(this).index()).show();
        });
        setTimeout(function () { obj.find('.study-nav .active').trigger('li'); }, 100);
    });


    // 轮播图
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // ,anim: 'updown' // 切换动画方式
        });
    });
    videoPoint(1)
    function videoPoint(pid) {
        $.ajax({
            url: "{:url('/index/qing_school/getVideoListByWhere')}",
            data:{'pid':pid},
            type:'get',
            success:function (res) {
                console.log(res)
                if (res.status === 200) {
                    $('.study-box').empty();
                    for(let item of res.data) {
                        $('.study-box').append('<li>\n' +
                            '                        <a href="{:url(\'/index/tutorial/index\')}">\n' +
                            '                              <img src="'+item.cover_img_url+'" alt="">\n' +
                            '                              <div class="txt">\n' +
                            '                                   <h6>'+item.title+'</h6>\n' +
                            '                                    <p><span>免费</span> / '+item.browse+'人在浏览</p>\n' +
                            '                                    <span>'+item.time+'</span>\n' +
                            '                               </div>\n' +
                            '                         </a>\n' +
                            '                    </li>')
                    }
                }
            },
            error:function (err) {
                console.log(err)
            }
        })
    }
</script>

</html>