<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视频学院_轻直播学院_企业云视频教程</title>
    <meta name="keywords"  content="" />
    <meta name="description"  content="" />
    <link rel="stylesheet" href="/static/css/qingschool/videocourse.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <style>
        .layui-nav {
            background-color: #f2f4f7;
            display: none;
        }

        .layui-nav .layui-nav-item a {
            color: #333;
        }

        .layui-nav .layui-nav-item a:hover {
            color: #333;
        }

        .layui-nav-child dd.layui-this {
            background-color: #fff;
            color: #00cc99;
        }

        .layui-nav .layui-nav-more {
            border-top-color: #333;
        }

        .layui-nav .layui-nav-mored {
            border-color: transparent transparent #333;
        }

        .layui-nav-bar {
            display: none;
            background-color: #fff;
        }

        .layui-nav-child {
            left: 16%;
            top: 62px;
            min-width: 85%;
        }

        .layui-nav-child dd a {
            text-align: center;
        }

        .layui-nav-child dd:hover a {
            color: #00cc99;
        }

        .layui-nav .layui-nav-child a:hover {
            background-color: #f2f2f2;
            color: #00cc99
        }

        .layui-nav .layui-nav-child dd.layui-this a,
        .layui-nav-child dd.layui-this {
            background-color: #00cc99;
            color: #fff
        }
        .null-data{
            position: relative;
            top: 16%;
            left: 50%;
            transform: translateX(-50%);
            width: 35%;
        }
    </style>
</head>

<body>
    <div id="video">
        <!-- 头部 -->
        <header>
            <div class="layui-container flex">
                <div class="logo">
                    <a href="/"><img src="/static/image/index1/logo_text.svg" alt=""></a>
                </div>
                <div class="head-right flex">
                    <div class="text">
                        <a href="/">轻直播首页</a>
                        <a href="/blog">产品功能</a>
                    </div>
                    <div class="btns">
                        <a href="/login" target="_blank">
                            <button class="login">登录</button>
                        </a>
                        <a href="http://login.lighos.com/signUp" target="_blank"><button
                                class="free-btn">免费试用</button></a>
                    </div>
                    <ul class="layui-nav" lay-filter="leftNav">
                        <li class="layui-nav-item">
                            <a id="img-a" href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img"><span
                                    class="name">11</span></a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;" data-id="1">账户中心</a></dd>
                                <dd><a href="javascript:;" data-id="2">退出登录</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!--演示演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}
        <!-- 导航栏 -->
        <nav class="video-nav ">
            <div class="layui-container box" style="display: flex;align-items: center;justify-content: flex-start">
                <a href="/video" class="active">首页</a>
                {if(isset($video_type_limit))}
                {foreach($video_type_limit as $item)}
                <a href="/video/second?all=1&pid={$item.id}">{$item.name}</a>
                {/foreach}
                {/if}

            </div>

        </nav>

        <!-- 大家都在看 -->
        <div class="all-watch">
            <div class="layui-container">
                <div class="watch-text flex">
                    <div class="text-title">
                        <h6>大家都在看：</h6>
                        <div class="underline"></div>
                    </div>
                    <a class="more" href="/video/second">更多···</a>
                </div>
                <div class="watch-content">
                    <a href="/video/tutorial?browse=1&id={$first_video['id']}">
                        <img class="all-img" src="{$first_video['cover_img_url']}" alt="">
                    </a>
                    <div class="content-text">
                        <h5>{$first_video['title']}</h5>
                        <div class="teacher flex">
                            <div>主讲老师：<span>轻直播</span></div>
                            <div>5视频课时：<span class="num">{$first_video['browse']}</span>人在浏览</div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <p>{$first_video['describe']}</p>
                </div>
            </div>
        </div>

        <!-- 案例教程模块 -->
        <div class="case-study">
            <div class="layui-container">
                <ul class="study-nav" style="display: flex;align-items: center;justify-content: flex-start">
                    {if(isset($video_type_limit))}
                    {foreach($video_type_limit as $item)}
                    <li class="{$item.id == $id ? 'active' : ''}">
                        <p onclick="videoPoint({$item.id})">{$item.name}</p>
                        <div></div>
                    </li>
                    {/foreach}
                    {/if}
                </ul>
                <div class="study-content">
                    <div class="study-item active">
                        <ul class="study-box">

                        </ul>
                        <button class="hid-sho">
                            <a href="/video/second?all=1&pid=1" class="point_more">点击加载更多</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 产品资讯 -->
        <div class="product-zixun" style="display: none">
            <div class="layui-container">
                <div class="watch-text flex">
                    <div class="text-title">
                        <h6>产品资讯</h6>
                        <div class="underline"></div>
                    </div>
                    <a class="more" href="/video/second">更多···</a>
                </div>

                <div class="product-content">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item class="lunbo-box">
                            <ul class="lunbo-item">
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="lunbo-item">
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="lunbo-item">
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <div class="text-box">
                                        <h6>产品教程 新版观看页使用教程</h6>
                                        <p>产品教程 新版观看页使用教程产品教
                                            程 新版观看页使用教程产品教程 新
                                            版观看页使用教程...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 免费试用 -->
        <div class="video-free">
            <div class="layui-container">
                <h3>全功能免费试用，0成本体验轻直播带来的改变</h3>
                <button>
                    <a href="http://login.lighos.com/signUp" target="_blank">免费体验</a>
                </button>
            </div>
        </div>

        {include file="common/footer"}
    </div>

</body>
<script src="/static/common/js/header-footer.js"></script>
<script>
    // 案例教程模块导航栏切换
    $('.case-study').each(function (index, element) {
        var obj = $(this);
        obj.find('.study-nav').children().on('click li', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.study-content').children().eq($(this).index()).length > 0)
                obj.find('.study-content').children().hide().eq($(this).index()).show();
        });
        setTimeout(function () { obj.find('.study-nav .active').trigger('li'); }, 100);
    });


    // 轮播图
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // ,anim: 'updown' // 切换动画方式
        });
    });
    videoPoint(1)
    function videoPoint(pid) {
        $.ajax({
            url: "{:url('/index/qing_school/getVideoListByWhere')}",
            data: { 'pid': pid },
            type: 'get',
            success: function (res) {
                $('.study-box').empty();
                if (res.status === 200) {
                    for (let item of res.data) {
                        $('.study-box').append('<li>\n' +
                            '                        <a href="/video/tutorial?browse=1&id=' + item.id + '">\n' +
                            '                              <img src="' + item.cover_img_url + '" alt="">\n' +
                            '                              <div class="txt">\n' +
                            '                                   <h6>' + item.title + '</h6>\n' +
                            '                                    <p><span>免费</span> / ' + item.browse + '人在浏览</p>\n' +
                            '                                    <span>' + item.time + '</span>\n' +
                            '                               </div>\n' +
                            '                         </a>\n' +
                            '                    </li>')
                    }
                    $('.point_more').attr('href', '/video/second?all=1&pid=' + pid);
                    $('.hid-sho').show();
                }else{
                    $('.study-box').append('<img class="null-data" src="/static/image/null_data.svg" alt="">');
                    $('.hid-sho').hide();
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    }
</script>
<script>
    // 登录成功后显示个人信息
    var tvInfo = JSON.parse(localStorage.getItem('tvInfo'))
    if (tvInfo) {
        $('.layui-nav').show()
        // 隐藏登录按钮
        $('.btns').hide();
        $('.layui-nav-img').attr('src', tvInfo.avatar) // 头像
        $('#img-a .name').html(tvInfo.name) // 昵称
    }

    // 提示框
    layui.use('layer', function () {
        var layer = layui.layer;
    });

    layui.use('element', function () {
        var element = layui.element;
        element.on('nav(leftNav)', function (ele) {
            var id = ele.attr('data-id');
            // console.log(id);
            // 退出登录
            if (id == 2) {
                localStorage.removeItem('tvInfo')
                layer.msg('您已退出登录');
                setTimeout(() => {
                    window.location.href = "/login"
                }, 500);
            }
        });
    });
</script>

</html>