<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="renderer" content="webkit">
    <title>轻直播_企业直播服务平台,医疗直播领军者,营销直播定制服务商</title>
    <meta name="keywords"  content="企业直播平台,医疗直播,营销直播,活动直播,直播定制服务"/>
    <meta name="description"
           content="轻直播是国内知名的企业级直播定制化服务平台,服务全球500强,为企业提供医疗直播、手术直播、活动直播、会议直播、营销直播、年会直播等全场景解决方案,热线:400-920-1599。"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/caseCenter/case_item.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>

<body cz-shortcut-listen="true">
<div id="qingschool">
    <!-- 头部 -->
    <header>
        <div class="layui-container flex-center-space-between header-nav">
            <div class="logo">
                <a href="{:url('/')}"><img src="/static/image/index1/logo_text.svg" alt=""></a>
            </div>
            <div class="head-right">
                <div class="text">
                    <a href="{:url('/')}">轻直播首页</a>
                    <a href="{:url('/case')}">案例中心</a>
                </div>
                <div class="btns">
                    <a class="login" href="{:url('/index/login/login')}">登录</a>
                    <a class="free-btn" href="http://login.lighos.com/signUp" target="_blank">免费试用</a>
                </div>
                <ul class="layui-nav" lay-filter="leftNav">
                    <li class="layui-nav-item">
                        <a id="img-a" href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img"><span
                                class="name">11</span></a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" data-id="1">账户中心</a></dd>
                            <dd><a href="javascript:;" data-id="2">退出登录</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </header>
      <!--演示演示弹出框 -->
      {include file="common/order_box"}
      <!-- 咨询版块 -->
      {include file="common/siderbar-right"}
    <!-- 导航栏 -->
    <nav>
        <div class="layui-container school-nav">
            <a href="{:url('/case/medical')}">
                <!-- <i class="icon-nav-item icon-nav-home"></i> -->
                <span>医疗</span>
            </a>
            <a href="{:url('/case/education')}">
                <!-- <i class="icon-nav-item icon-nav-home"></i> -->
                <span>教育</span>
            </a>
            <a href="{:url('/case/finance')}" class="active">
                <!-- <i class="icon-nav-item icon-nav-home"></i> -->
                <span>金融</span>
            </a>
            <a href="{:url('/case/car')}">
                <!-- <i class="icon-nav-item icon-nav-home"></i> -->
                <span>汽车</span>
            </a>
            <a href="{:url('/case/technology')}">
                <span>科技</span>
            </a>
            <a href="{:url('/case/property')}">
                <span>地产</span>
            </a>
        </div>
    </nav>
    <!-- 内容区域 -->
    <section id="content-center">
        <div class="layui-container flex-space-between">
            <div class="school-left-con">
                <!-- 课程区域 -->
                <div class="cause-con">
                    <ul>
                        {if(isset($case_list))}
                        {if($case_list)}
                        {foreach($case_list as $item)}
                        <li class="cause-item">
                            <a href="/case/detail?type_id=4&id={$item.id}" class="cause-cover"
                               target="_blank"
                               style="background: url({$item.cover_img_url});background-size: cover;
 background-position: center;">
                            </a>
                            <div class="cause-des">
                                <a href="" class="cause-title">
                                    <h3>
                                        <i class="cause-icon icon-item-solution"></i>
                                        {$item.title}
                                    </h3>
                                    <p class="cause-intro">
                                        {$item.second_title}
                                    </p>
                                </a>
                                <div class="cause-tags">
                                    <span class="post-time">{$item.time}</span>
                                    <i class="vertical-bar">|</i>

                                    {if(!empty($item['label']))}
                                    {foreach($item['label'] as $val)}
                                    <a href="" class="cause-tag-item">{$val}</a>
                                    {/foreach}
                                    {/if}

                                </div>
                            </div>
                        </li>
                        {/foreach}
                        {else}
                        <img class="null-data" src="/static/image/null_data.svg" alt="">
                        {/if}
                        {/if}
                    </ul>
                </div>
                <!-- 移动端 -->
                <div class="m-cause-con">
                    <ul>
                        {if(isset($case_list))}
                        {foreach($case_list as $item)}
                        <li class="cause-item">
                            <a href="/case/detail?type_id=4&id={$item.id}">
                                <h3>
                                    {$item.title}
                                </h3>
                            </a>

                            <div class="cause-tags">
                                <span class="post-time">{$item.time}</span>
                                <i class="vertical-bar">|</i>
                                {if(!empty($item['label']))}
                                {foreach($item['label'] as $val)}
                                <a href="" class="cause-tag-item">{$val}</a>
                                {/foreach}
                                {/if}
                            </div>
                            <a href="" class="cause-item-desc">
                                <img src="{$item.cover_img_url}" alt="">
                                <p>{$item.second_title}</p>
                            </a>
                        </li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
            </div>
            <div class="school-right-con">
                <div class="siderbar-item siderbar-item-search">
                    <form action="{$action}" class="search-form" id="search-form">
                        <input type="text" name="word" value="{:request()->param('word')}" class="searchInput" placeholder="输入关键词" autocomplete="off">
                        <input type="submit" class="submitInput" alt="search">
                        <input type="hidden" name="'pid" value="{$pid}">
                    </form>
                </div>
                <!-- 热门文章 -->
                <div class="siderbar-item siderbar-item-article">
                    <div class="siderbar-item-head">
                        <h2>
                            <span>热门文章</span>
                            <div class="switch-article">
                                <div class="switch-article-btn active" data-name="hot">热门</div>
                                <div class="switch-article-btn" data-name="recommend">推荐</div>
                            </div>
                        </h2>

                    </div>
                    <ul class="hot-article-list active" data-name="hot">
                        {if($hot_and_rem['hot_case'])}
                        {foreach($hot_and_rem['hot_case'] as $item)}
                        <li class="article-item">
                            <a href="/case/detail?type_id=2&id={$item.id}" class="link" title="{$item.second_title}" target="_blank" rel="noopener noreferrer">
                                <p>{$item.title}</p>
                                <span class="time">{$item.time}</span>
                            </a>
                        </li>
                        {/foreach}
                        {/if}
                    </ul>
                    <ul class="hot-article-list" data-name="recommend">
                        {if($hot_and_rem['recommend_case'])}
                        {foreach($hot_and_rem['recommend_case'] as $item)}
                        <li class="article-item">
                            <a href="/case/detail?type_id=3&id={$item.id}" class="link" title="{$item.second_title}" target="_blank" rel="noopener noreferrer">
                                <p>{$item.title}</p>
                                <span class="time">{$item.time}</span>
                            </a>
                        </li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>

                <!-- 热门产品 -->
                <!-- <div class="siderbar-item">
                      <div class="siderbar-item-head">
                          <h2>
                              <span>
                                  热门产品
                              </span>
                          </h2>
                      </div>
                      <ul class="hot-products-list">
                          <li>
                              <a href="" class="hot-products-item" target="_blank">
                                  <i class="icon-hot-product icon-hot-product_1"></i>
                                  <span>企业直播</span>
                              </a>
                          </li>
                          <li>
                            <a href="" class="hot-products-item" target="_blank">
                                <i class="icon-hot-product icon-hot-product_2"></i>
                                <span>培训直播</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="hot-products-item" target="_blank">
                                <i class="icon-hot-product icon-hot-product_3"></i>
                                <span>视频点播</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="hot-products-item" target="_blank">
                                <i class="icon-hot-product icon-hot-product_4"></i>
                                <span>视频混合云</span>
                            </a>
                        </li>
                      </ul>
                </div> -->

                <!-- 热门标签 -->
                <div class="siderbar-item siderbar-item-label">
                    <div class="siderbar-item-head">
                        <h2>
                                <span>
                                    热门标签
                                </span>
                            <a href="" class="hot-tags-more" rel="tag">更多</a>
                        </h2>
                    </div>
                    <ul class="hot-tags-list">
                        {if(!empty($label_list))}
                        {foreach($label_list as $item)}
                        <li><a href="{$action}?pid={$pid}&label={$item.name}" class="hot-tag-item">{$item.name}</a></li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
                <!-- 微信公众号 -->
                <div class="siderbar-item">
                    <div class="siderbar-item-head">
                        <h2>
                                <span>
                                    微信公众号
                                </span>
                        </h2>
                    </div>
                    <div class="wechat-public">
                        <img src="/static/image/qingschool/wechat_public.png" alt="更多视频云干货，尽在轻直播公众号">
                        <p style="line-height: 2;">
                            更多直播干货<br>
                            尽在轻直播公众号
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="kefu">
        <div class="layui-container">
            <div class="kefu-content">
                <h2>轻直播为您提供一站式企业视频解决方案</h2>
                <button>立即咨询</button>
            </div>

        </div>
    </div>
      <!-- 底部 -->
      {include file="common/footer"}
</div>

</body>
<script src="/static/common/js/header-footer.js"></script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });

    // 热门文章点击切换
    $('.switch-article .switch-article-btn').on('click', function () {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
        let dataName = $(this).attr('data-name');
        if(dataName == 'hot') {
            $('.hot-article-list').eq(0).show();
            $('.hot-article-list').eq(1).hide();

        } else if (dataName == 'recommend') {
            $('.hot-article-list').eq(0).hide();
            $('.hot-article-list').eq(1).show();
        }
    })

     // 登录成功后显示个人信息
     var tvInfo = JSON.parse(localStorage.getItem('tvInfo'))
        if (tvInfo.token) {
            $('.layui-nav').show()
            // 隐藏登录按钮
            $('.btns').hide();
            $('.layui-nav-img').attr('src', tvInfo.avatar) // 头像
            $('#img-a .name').html(tvInfo.name) // 昵称
        }

        // 提示框
        layui.use('layer', function () {
            var layer = layui.layer;
        });

        layui.use('element', function () {
            var element = layui.element;
            element.on('nav(leftNav)', function (ele) {
                var id = ele.attr('data-id');
                // console.log(id);
                // 退出登录
                if (id == 2) {
                    localStorage.removeItem('tvInfo')
                    layer.msg('您已退出登录');
                    setTimeout(() => {
                        window.location.href = "/login"
                    }, 500);
                }
            });
        });
</script>

</html>