<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <title>案例中心_轻直播全场景案例_企业直播案例库</title>
    <meta name="keywords"  content="" />
    <meta name="description"  content="" />
    <link rel="stylesheet" href="/static/css/caseCenter/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common/banner_common.css">

    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script>(function (i, s, o, g, r, a, m) { i["DaoVoiceObject"] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; a.charset = "utf-8"; m.parentNode.insertBefore(a, m) })(window, document, "script", ('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/04cefad5.js", "daovoice")</script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1ceca10e8f570a044c292d9b35be38f5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div id="case-center">
        {include file="common/header"}
        <!--演示演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}
        <!-- banner -->
        <div id="banner">
            <div class="layui-carousel" id="banners">
                <div carousel-item class="lunbo-box">
                    {if(isset($banner_list) && $banner_list)}
                    {foreach($banner_list as $item)}
                    <div class="banner-item">
                        <a href="{$item.img_link}">
                            <img class="banner-img" src="{$item.img_url}" alt="">
                        </a>
                        <div class="text-{$item.format}">
                            <h2 style='font-size: {$item.title_size}px;
                            font-weight: bold;
                            color:{$item.title_color};
                            text-align: {$item.format};'>{$item.title}</h2>

                            <h5 style=' color: {$item.in_color};
                            opacity: .8;
                            font-size: {$item.in_size}px;
                            width: {$item.width};
                            margin: 49px 0 85px;
                            text-align: {$item.format};
                            line-height: 1.5;'>{$item.introduction}</h5>

                            {if($item.button_status == 1)}
                            <a class="banner-a" href="{$item.button_link}" style='z-index: 10;
                            display: block;
                            width: 167px;
                            height: 44px;
                            border: 1px solid {$item.button_color};
                            color: {$item.button_color};
                            text-align: center;
                            line-height: 44px;
                            
                            font-size: {$item.button_size}px;'>{$item.button_text}</a>
                            {/if}
                        </div>
                    </div>
                    {/foreach}
                    {/if}

                </div>
            </div>
        </div>

        <!-- 精选案例 -->
        <div id="jingxuan">
            <div class="layui-container">
                <h2 class="title">精选案例</h2>
                <ul class="anlis">
                    {if isset($case_selected)}
                    {foreach($case_selected as $item)}
                    <li>
                        <a href="/case/detail?id={$item.id}&type_id=1">
                            <img class="bg-img" src="{$item.cover_img_url}" alt="">
                            <div class="hover">
                                <img class="logo-img" src="/static/image/logo_white_text.svg" alt="">
                            </div>
                        </a>

                    </li>
                    {/foreach}
                    {/if}
                </ul>
            </div>
        </div>

        <!-- 全部案例 -->
        <div id="all-case">
            <div class="layui-container">
                <h2 class="title">全部案例</h2>
                <ul class="all-nav">
                    <li class="active" onclick="casePoint(0)">全部</li>
                    <li onclick="casePoint(1)">医疗</li>
                    <li onclick="casePoint(2)">教育</li>
                    <li onclick="casePoint(3)">金融</li>
                    <li onclick="casePoint(4)">汽车</li>
                    <li onclick="casePoint(5)">科技</li>
                    <li onclick="casePoint(6)">地产</li>
                </ul>
                <div class="all-box">
                    <ul class="case_type"></ul>
                </div>
                <div id="test1"></div>
            </div>
        </div>

        <!-- 轻产品与服务 -->
        <div id="product">
            <div class="layui-container">
                <h2 class="title">「轻」产品与服务</h2>
                <div class="product-content">
                    <div class="product-item">
                        <div class="item-head">
                            <img src="/static/image/index1/chanping.svg" alt="">
                            <h5>产品与服务</h5>
                        </div>
                        <div class="item-body">
                            <p>轻直播平台全球化部署的企业级云视频平台 ，支持数百万并发，支持8K、4K、1080P 清晰度直播，300+增强功能，稳定可靠， 便捷易用。</p>
                        </div>
                        <div class="item-footer">
                            <button class="more"><a href="/live">了解更多</a></button>
                            <button class="free"><a href="http://login.qingtv.com/signUp"
                                    target="_blank">免费试用</a></button>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="item-head">
                            <img src="/static/image/index1/dingzhihua.svg" alt="">
                            <h5>定制化服务</h5>
                        </div>
                        <div class="item-body">
                            <p>快捷响应，为用户提供深度定制服务，支持 与用户既有OA、CRM、视频会议系统等集 成化开发，打造用户专属直播平台。</p>
                        </div>
                        <div class="item-footer">
                            <button class="more"><a href="/develop">了解更多</a></button>
                            <button class="free"><a href="http://login.qingtv.com/signUp"
                                    target="_blank">免费试用</a></button>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="item-head">
                            <img src="/static/image/index1/fuwu.svg" alt="">
                            <h5>现场服务</h5>
                        </div>
                        <div class="item-body">
                            <p>基于长期深耕于企业直播领域的服务经验，
                                从方案设计到现场硬件支持，全程跟进方
                                案落地，为用户提供一站式的直播解决方
                                案。</p>
                        </div>
                        <div class="item-footer">
                            <button class="more"><a href="/service">了解更多</a></button>
                            <button class="free"><a href="http://login.qingtv.com/signUp"
                                    target="_blank">免费试用</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 轻直播为您提供一站式企业视频解决方案 -->
        <div id="jiejue">
            <div class="hover"></div>
            <div class="layui-container">
                <div class="jiejue-content">
                    <h2>轻直播为您提供一站式企业视频解决方案</h2>
                    <button class="get-func">获取方案</button>
                </div>
            </div>
        </div>


        {include file="common/footer"}
    </div>

</body>
<script src="/static/common/js/onlineService.js"></script>
<script src="/static/common/js/header-footer.js"></script>
<script type="text/javascript">
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });


    // 全部案例
    $('#all-case').each(function (index, element) {
        var obj = $(this);
        obj.find('.all-nav').children().on('click li', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.all-box').children().eq($(this).index()).length > 0)
                obj.find('.all-box').children().hide().eq($(this).index()).show();
        });
        setTimeout(function () {
            obj.find('.all-nav .active').trigger('li');
        }, 100);
    });

    //分页方法
    function layPage(data) {
        layui.use('laypage', function () {
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'test1'       //注意，这里的 test1 是分页容器ID，不用加 # 号
                , count: data.count //数据总数
                , curr: data.curr   //当前页
                , limit: 12
                , prev: '<'         // 上一页按钮内容
                , next: '>'         // 下一页按钮内容
                , theme: '#00cc99'
                , jump: function (obj, first) {
                    currPage = obj.curr; //这里是后台返回给前端的当前页数
                    if (!first) {         //点击跳页触发函数自身，并传递当前页：obj.curr  ajax 再次请求
                        casePoint(data.index, currPage);     //调用ajax请求数据
                    }
                }
            });
        });
    }

    casePoint(0)

    function casePoint(index, curr = 1) {
        $.ajax({
            url: "{:url('/index/case_center/getCaseByWhere')}",
            data: { 'pid': index, 'curr': curr },
            type: 'get',
            success: function (res) {
                if (res.status === 200) {
                    $('.case_type').empty();
                    for (let item of res.data.data) {
                        var label_html = '';
                        for (let label of item.label) {
                            if (label !== '') {
                                label_html += '<span>' + label + '</span><i>|</i>';
                            }
                        }
                        $('.case_type').append('<li style="cursor: pointer"><a href="/case/detail?type_id=4&id=' + item.id + '"><img src="' + item.cover_img_url + '" alt=""><div class="text"><h5>' + item.title + '</h5><p>' + item.second_title + '</p><div class="biaoqian">' + label_html + '</div></div></a></li>');
                    }
                    layPage(res.data);      //请求成功调用分页方法
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    };

    //   显示预约演示弹出框
    $('.get-func,.banner-a').on('click', function () {
        $('#order-container').show();
        $('.q-modal').show();
    })
</script>

</html>