<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>直播解决方案_各行业现场直播方案_轻直播</title>
    <meta name="keywords"  content="企业直播解决方案,活动直播方案,营销直播方案" />
    <meta name="description"  content="轻直播特有的沉浸式应用场景解决方案,符合多行业用户选择，独特双语直播模式，服务全球用户。" />
    <link rel="stylesheet" href="/static/css/solution/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script>(function (i, s, o, g, r, a, m) { i["DaoVoiceObject"] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; a.charset = "utf-8"; m.parentNode.insertBefore(a, m) })(window, document, "script", ('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/04cefad5.js", "daovoice")</script>
    <style>
        .turn {
            display: block;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="solution">
        <!-- 头部 -->
        {include file="common/header"}
        <!--演示演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}
        <div id="banner">
            <div class="layui-carousel" id="banners">
                <div carousel-item class="lunbo-box">
                    {if isset($banner_list)}
                    {foreach $banner_list as $item}
                    <img src="{$item.img_url}" alt="">
                    {/foreach}
                    {/if}
                </div>
            </div>

        </div>

        <!-- 行业解决方案 -->
        <div id="industry">
            <div class="layui-container">
                <h2 class="title">行业解决方案</h2>
                <ul class="industry-content">
                    {if isset($solution_list['ind_res'])}
                    {foreach($solution_list['ind_res'] as $item)}
                    <li>
                        <a href="{$item.link}" class="turn">
                        <img src="{$item.img_url}" alt="">
                        <div class="text">
                            <h6>{$item.title}</h6>
                            <p>{$item.introduction}</p>
                        </div>
                        </a>
                    </li>
                    {/foreach}
                    {/if}
                </ul>
            </div>
        </div>

        <!-- 场景解决方案 -->
        <div id="scene">
            <div class="layui-container">
                <h2 class="title">场景解决方案</h2>
                <ul class="scene-content">
                    {if isset($solution_list['sce_res'])}
                    {foreach($solution_list['sce_res'] as $item)}
                    <li>
                        <a href="{$item.link}" class="turn">
                            <img class="bg-img" src="{$item.img_url}" alt="">
                            <div>
                                <p>{$item.title}</p>
                                <img src="/static/image/solution/jiantou.png" alt="">
                            </div>
                        </a>
                    </li>
                    {/foreach}
                    {/if}

                </ul>
            </div>
        </div>

        <!-- 赋能「100,000+」企业 -->
        <div id="qiye">
            <div class="layui-container">
                <h2 class="title">赋能「100,000+」企业</h2>
                <nav>
                    <ul class="logo-title">
                        <li class="active" onclick="logoPoint(0)"><span>全部</span></li>
                        <li onclick="logoPoint(1)"><span>医疗</span></li>
                        <li onclick="logoPoint(2)"><span>教育</span></li>
                        <li onclick="logoPoint(3)"><span>金融</span></li>
                        <li onclick="logoPoint(4)"><span>汽车</span></li>
                        <li onclick="logoPoint(5)"><span>科技</span></li>
                        <li onclick="logoPoint(6)"><span>地产</span></li>
                    </ul>
                </nav>
                <div class="logo-box">
                    <ul class="logo-imgs active">

                    </ul>
                </div>
            </div>
        </div>

        <!-- 联系客服 -->
        <!-- “轻”装上阵，玩转企业数字营销5G时代 -->
        <div id="kefu">
            <div class="hover"></div>
            <div class="layui-container">
                <div class="kefu-content">
                    <h2>联系客服，为您推荐专属解决方案</h2>
                    <button id="zixun">立即咨询</button>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        {include file="common/footer"}
    </div>
</body>
<script src="/static/common/js/header-footer.js"></script>
<script type="text/javascript">
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });

    // logo墙
    $('#qiye').each(function (index, element) {
        var obj = $(this);
        obj.find('.logo-title').children().on('click li', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.logo-box').children().eq($(this).index()).length > 0)
                obj.find('.logo-box').children().hide().eq($(this).index()).show();
        });
        setTimeout(function () { obj.find('.logo-title .active').trigger('li'); }, 100);
    });

    logoPoint(0);
    function logoPoint(index) {
        $.ajax({
            url: "{:url('/index/logo_wall/getLogoByWhere')}",
            data: { 'pid': 3, 'type_id': index },
            type: 'get',
            success: function (res) {
                if (res.status === 200) {
                    $('.logo-imgs').empty();
                    for (let item of res.data) {
                        $('.logo-imgs').append('<li><img src="' + item.img_url + '" alt=""></li>');
                    }
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    }

</script>
<script>
    ; daovoice('init', {
        app_id: '04cefad5',   // 必填，您的 APP 标识
    }, {
        // 可选
        launcher: {
            disableLauncherIcon: true, // 悬浮 ICON 是否显示
            defaultEnterView: 'list', // 'list' 或 'new' 默认是 list(在对话列表是空的时候默认切换到 new)
        },
    });
    daovoice('update');
    $('#zixun').click(function () {
        daovoice('show')
    })
</script>

</html>