<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>直播解决方案_各行业现场直播方案_轻直播</title>
    <meta name="keywords"  content="企业直播解决方案,活动直播方案,营销直播方案" />
    <meta name="description"  content="轻直播特有的沉浸式应用场景解决方案,符合多行业用户选择，独特双语直播模式，服务全球用户。" />
    <link rel="stylesheet" href="/static/css/solution/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <div id="solution">
        <div id="banner">
            <div class="layui-carousel" id="banners">
                <div carousel-item class="lunbo-box">
                    <img src="/static/image/index/banner.png" alt="">
                    <img src="/static/image/index/banner.png" alt="">
                    <img src="/static/image/index/banner.png" alt="">
                </div>
            </div>

        </div>

        <!-- 行业解决方案 -->
        <div id="industry">
            <div class="layui-container">
                <h2 class="title">行业解决方案</h2>
                <ul class="industry-content">
                    <li>
                        <img src="/static/image/solution/hangye.png" alt="">
                        <div class="text">
                            <h6>医疗</h6>
                            <p>我是内容我是内容我是内容我是内容。</p>
                        </div>
                    </li>
                    <li>
                        <img src="/static/image/solution/hangye.png" alt="">
                        <div class="text">
                            <h6>医疗</h6>
                            <p>我是内容我是内容我是内容我是内容。</p>
                        </div>
                    </li>
                    <li>
                        <img src="/static/image/solution/hangye.png" alt="">
                        <div class="text">
                            <h6>医疗</h6>
                            <p>我是内容我是内容我是内容我是内容。</p>
                        </div>
                    </li>
                    <li>
                        <img src="/static/image/solution/hangye.png" alt="">
                        <div class="text">
                            <h6>医疗</h6>
                            <p>我是内容我是内容我是内容我是内容。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 场景解决方案 -->
        <div id="scene">
            <div class="layui-container">
                <h2 class="title">场景解决方案</h2>
                <ul class="scene-content">
                    <li>
                        <p>企业会议</p>
                    </li>
                    <li>
                        <p>企业培训</p>
                    </li>
                    <li>
                        <p>在线课堂</p>
                    </li>
                    <li>
                        <p>营销活动</p>
                    </li>
                    <li>
                        <p>医学教育</p>
                    </li>
                    <li>
                        <p>手术示教</p>
                    </li>
                    <li>
                        <p>金融保险</p>
                    </li>
                    <li>
                        <p>大会直播</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });
</script>

</html>