<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录 | 轻直播</title>
    <meta name="keywords"  content="轻直播" />
    <meta name="description"  content="" />
    <link rel="stylesheet" href="/static/css/login/login.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <div id="login">
        <header>
            <div class="layui-container">
                <img src="/static/image/logo.png" alt="">
                <div class="text">
                    <a href="{:url('/')}">首页</a>
                    <!-- <span>|</span> -->
                    <!-- <span id="language">切换语言</span> -->
                </div>
            </div>
        </header>
        <section>
            <div class="layui-container">
                <div class="sec-left">
                    <h3>让视频创造价值</h3>
                    <h5>Let the video create value</h5>
                    <img src="/static/image/login/image1.png" alt="">
                </div>
                <div class="sec-right">
                    <h4>欢迎登录QINGTV管理系统</h4>
                    <div class="type">
                        <a class="active" href="">密码登录</a>
                    </div>
                    <form action="" name="loginForm">
                        <input id="phone" type="text" name="iphone" placeholder="请输入手机号码">
                        <input id="pwd" type="password" name="pwd" placeholder="请输入登录密码">
                        <p>
                            <label for="">
                                <input id="checkbox" type="checkbox" name="checkbox">记住账号
                            </label>
                            <a href="">忘记密码</a>
                        </p>
                        <input type="button" value="登录" id="login-btn">
                        <a href="">没有账号，我要免费注册>></a>
                    </form>
                </div>
            </div>
        </section>
        <footer>
            <div class="layui-container">
                <p>©2020 Copyright SHANGHAI BONWEY TECHNOLOGY CO., LTD；. All rights <a
                        href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">沪ICP备16029097号-7</a></p>
            </div>
        </footer>
    </div>
</body>
<!-- 引入cookie插件 -->
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    // 如果本地存有cookie，在登录页面显示账号密码
    if ($.cookie('rmbUser') == 'true') {
        $("#phone").val($.cookie('phone'));
        $("#pwd").val($.cookie('pwd'));
        $("#checkbox").attr('checked', true);
    }
    layui.use('layer', function () {
        var layer = layui.layer;
    });

    // 存cookie
    function save(num, password) {
        // 如果勾选记住账号则存cookie
        if ($("#checkbox").is(":checked")) {
            // 存储一个带14天期限的cookie
            $.cookie("rmbUser", 'true', {
                expires: 14
            });
            $.cookie("phone", num, {
                expires: 14
            });
            $.cookie("pwd", password, {
                expires: 14
            });

        } else {
            $.cookie("rmbUser", 'false', {
                expire: -1
            });
            $.cookie("phone", '', {
                expire: -1
            });
            $.cookie("pwd", '', {
                expire: -1
            });

        }
    };

    $('#login-btn').click(function () {
        var phoneReg = /^1[0-9]{10}$/ // 校验手机号码
        // var pwdReg = /^1[0-9]{10}$/ // 校验密码
        var phone = loginForm.phone.value // 手机号
        var pwd = loginForm.pwd.value // 密码
        if (phone == '' || pwd == '') {
            layer.msg('请输入完整信息');
            return false
        }
        if (!phoneReg.test(phone)) {
            layer.msg('请输入正确格式的手机号');
            return false
        }
        if (phone && pwd && phoneReg.test(phone)) {
            $.ajax({
                url: "{:url('/index/live/liveLogin')}",
                data: { 'phone': phone, 'password': pwd },
                type: 'post',
                success: function (res) {
                    if (res.status == 200) {
                        layer.msg('登录成功');
                        // 存cookie的方法
                        save(phone, pwd)
                        localStorage.setItem('tvToken', res.data.token)
                        setTimeout(() => {
                            window.location.href = "/index/index.html"
                        }, 500);
                    } else {
                        layer.msg(res.message);
                    }
                },
                error: function (err) {
                    layer.msg(err);
                }
            })
        }
    })
</script>

</html>