<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们_轻直播_国内领先的企业直播平台</title>
    <meta name="keywords"  content="轻直播,经典案例" />
    <meta name="description"
         content="轻直播提供私有化部署,全方位全场景直播一站式服务,服务范围涵盖医疗、教育、金融、科技等各行业,已获得上海医师协会、瀚晖制药、四川大学、等国内知名企业的高度认可。" />
    <link rel="stylesheet" href="/static/css/about/about.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <div id="about">

        <!-- 视频播放区域 -->
        {include file="common/about_banner"}
        <!--演示演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}
        <!-- nav导航栏 -->
        <nav class="navbar">
            <div class="layui-container">
                <ul class="navinfo">
                    <li class="active"><a href="{:url('/about')}">关于我们</a></li>
                    <li><a href="{:url('/news')}">企业新闻</a></li>
                    <li><a href="{:url('/join')}">加入我们</a></li>
                    <li><a href="{:url('/contact')}">联系我们</a></li>
                </ul>
            </div>
        </nav>

        <div class="about-boxs">
            <!-- 关于我们 -->
            <section class="active">
                <div class="guanyu">
                    <div class="layui-container">
                        <div class="title">关于我们</div>
                        <div class="guanyu-content">
                            <h2><i></i>ABOUT US</h2>
                            <h4>企业级云视频通讯综合服务商</h4>
                            <!-- <p>行邦通讯旗下产品有“轻直播”、“轻会议”、“轻课堂”，研发中心坐落于上海嘉定。行邦通讯以“企业云视频通讯数字化创新”为使命，助力企业在内部协作、外部沟通、品牌与市场营销等业务场景全面向数字化转型。
                            </p> -->
                            <p>上海行邦通讯科技有限公司专注于企业云视频融合通讯领域，拥有强大的核心技术自主研发团队和平台运营团队，为企业提供一站式云视频通讯解决方案，是国内领先的云视频通讯综合服务提供商。以“企业云视频通讯数字化创新”为使命，全面助力企业在内部协作、外部沟通、品牌与市场营销等业务场景中的数字化转型。始终秉持着“专业细致，真诚守信，务实创新”的文化理念，在企业直播、医学直播、医学课件拍摄与制作、平台研发与运营和数字化定制营销方面，成功为世界五百强在华企业、中国百强企业以及上下游合作伙伴提供了10万+大型直播项目全案服务。
                            </p>
                            <img src="/static/image/about/gongsi.png" alt="">
                        </div>
                    </div>
                </div>

                <!-- 企业文化 -->
                <div class="culture">
                    <div class="layui-container">
                        <div class="title">企业文化</div>
                        <ul class="culture-content">
                            <li>
                                <div class="imgs">
                                    <img src="/static/image/about/yuanjing.png" alt="">
                                </div>
                                <div class="text">
                                    <h6>愿景</h6>
                                    <p>成为全球第一企业视频云服务平台</p>
                                </div>
                            </li>
                            <li>
                                <div class="text">
                                    <h6>使命</h6>
                                    <p>让云视频赋能企业无限价值</p>
                                </div>
                                <div class="imgs">
                                    <img src="/static/image/about/shiming.png" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="imgs">
                                    <img src="/static/image/about/hexin.png" alt="">
                                </div>
                                <div class="text">
                                    <h6>核心价值观</h6>
                                    <p>敢想，敢做，敢为，快人一步！
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- 发展历程 -->
                <div class="fazhan">
                    <div class="layui-container">
                        <div class="title">发展历程</div>
                        {if(isset($development_list) && $development_list)}
                        <ul class="year">
                            {foreach($development_list as $key => $item)}
                            <li class="{$key == 0 ? 'li-active' : ''}">{$item.time}</li>
                            {/foreach}

                        </ul>
                        <div class="left-line"></div>
                        <ul class="dot">
                            {foreach($development_list as $key => $item)}
                            <li>
                                <div></div>
                            </li>
                            {/foreach}
                        </ul>
                        <div class="stories">
                            {foreach($development_list as $key => $item)}
                            <div class="year-story {$key == 0 ? 'actives' : ''}">
                                <h4>{$item.time}</h4>
                                <div><i>●</i>
                                    <span>{$item.content}</span>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                        {/if}
                    </div>
                </div>

                <!-- 产品与服务 -->
                <div class="product">
                    <div class="layui-container">
                        <div class="title">产品与服务</div>
                        <div class="product-content">
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>轻直播</h5>
                                    <p>企业级云视频定制服务平台</p>
                                </div>
                            </li>
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>轻课堂</h5>
                                    <p>学习培训全服务平台</p>
                                </div>
                            </li>
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>轻会议</h5>
                                    <p>企业会议全服务平台</p>
                                </div>
                            </li>
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>集成开发</h5>
                                    <p>APP、小程序开发服务</p>
                                </div>
                            </li>
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>营销定制</h5>
                                    <p>营销直播全案专属定制服务</p>
                                </div>
                            </li>
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>现场服务</h5>
                                    <p>专业设备+团队服务</p>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        {include file="common/footer"}
    </div>

</body>
<script src="/static/common/js/header-footer.js"></script>
<script>

    $('#about').each(function (index, element) {
        var obj = $(this);
        obj.find('.navinfo').children().on('click li', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.about-boxs').children().eq($(this).index()).length > 0)
                obj.find('.about-boxs').children().hide().eq($(this).index()).show();
        });
        setTimeout(function () { obj.find('.navinfo .active').trigger('li'); }, 100);
    });



    // 发展历程
    $('.fazhan').each(function (index, element) {
        var obj = $(this);
        obj.find('.dot').children().on('mouseover .left-item', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.stories').children().eq($(this).index()).length > 0)
                obj.find('.stories').children().hide().eq($(this).index()).show();
            obj.find('.year li').removeClass('li-active').eq($(this).index()).addClass('li-active');

        });
        // setTimeout(function () { obj.find('.dot .active').trigger('.left-item'); }, 100);
    });

    // 公司分布
    $('.fenbu').each(function (index, element) {
        var obj = $(this);
        obj.find('.fenbu-left').children().on('mouseover .left-item', function () {
            $(this).addClass('actives').siblings().removeClass('actives');
            if (obj.find('.fenbu-right').children().eq($(this).index()).length > 0)
                obj.find('.fenbu-right').children().hide().eq($(this).index()).show();

        });
        // setTimeout(function () { obj.find('.dot .active').trigger('.left-item'); }, 100);
    });
</script>

</html>