<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轻直播_客户案例_直播定制化服务</title>
    <meta name="keywords"  content="轻直播,经典案例" />
    <meta name="description"
         content="轻直播提供私有化部署,全方位全场景直播一站式服务,服务范围涵盖医疗、教育、金融、科技等各行业,已获得上海医师协会、瀚晖制药、四川大学、等国内知名企业的高度认可。" />
    <link rel="stylesheet" href="/static/css/about/about.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <div id="about">

        <!-- 视频播放区域 -->
        {include file="common/about_banner"}

        <!-- nav导航栏 -->
        <nav class="navbar">
            <div class="layui-container">
                <ul class="navinfo">
                    <li class="active"><a href="{:url('about/index')}">关于我们</a></li>
                    <li><a href="{:url('about/joinUs')}">加入我们</a></li>
                    <li><a href="{:url('about/contactUs')}">联系我们</a></li>
                    <li><a href="{:url('about/news')}">企业新闻</a></li>
                </ul>
            </div>
        </nav>

        <div class="about-boxs">
            <!-- 关于我们 -->
            <section class="active">
                <div class="guanyu">
                    <div class="layui-container">
                        <div class="title">关于我们</div>
                        <div class="guanyu-content">
                            <h2><i></i>ABOUT US</h2>
                            <h4>行邦-企业级云视频融合通讯解决方案，云视频通讯服务提供商。</h4>
                            <p>行邦通讯旗下产品有“轻直播”、“轻会议”、“轻课堂”，研发中心坐落于上海嘉定。行邦通讯以“企业云视频通讯数字化创新”为使命，助力企业在内部协作、外部沟通、品牌与市场营销等业务场景全面向数字化转型。
                            </p>
                            <p>轻直播，国内领先的企业级云视频直播平台，上海行邦通讯科技有限公司旗下核心产品之一。依托于行邦通讯长期为企业用户提供一站式的视频直播运营经验，基于用户视角出发，通过不断的优化用户体验，为企业打造性能极致、交互简约、高度定制化的直播平台。
                                轻直播本着“轻量不轻质，简约不简单”的设计理念，围绕着全行业云视频直播的内外应用需求，为企业提供全方位的视频运营和高度定制化的服务，助力企业视频应用数字化转型与创新。
                                轻直播广泛应用于企业会议、企业培训、在线教育、医学会诊、手术示教、品牌推广等领域。为企业内部沟通、外部协作提供了全新的开展形式。</p>
                            <img src="/static/image/about/gongsi.png" alt="">
                        </div>
                    </div>
                </div>
                
                <!-- 企业文化 -->
                <div class="culture">
                    <div class="layui-container">
                        <div class="title">企业文化</div>
                        <ul class="culture-content">
                            <li>
                                <div class="imgs">
                                    <img src="/static/image/about/yuanjing.png" alt="">
                                </div>
                                <div class="text">
                                    <h6>愿景</h6>
                                    <p>成为全球第一企业视频云服务平台</p>
                                </div>
                            </li>
                            <li>
                                <div class="text">
                                    <h6>使命</h6>
                                    <p>让云视频赋能企业无限价值</p>
                                </div>
                                <div class="imgs">
                                    <img src="/static/image/about/shiming.png" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="imgs">
                                    <img src="/static/image/about/hexin.png" alt="">
                                </div>
                                <div class="text">
                                    <h6>核心价值观</h6>
                                    <p>敢想，敢做，敢为，快人一步！
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- 发展历程 -->
                <div class="fazhan">
                    <div class="layui-container">
                        <div class="title">发展历程</div>
                        <ul class="year">
                            <li class="li-active">2020</li>
                            <li>2019</li>
                            <li>2018</li>
                            <li>2017</li>
                            <li>2016</li>
                            <li>2015</li>
                        </ul>
                        <div class="left-line"></div>
                        <ul class="dot">
                            <li>
                                <div></div>
                            </li>
                            <li>
                                <div></div>
                            </li>
                            <li>
                                <div></div>
                            </li>
                            <li>
                                <div></div>
                            </li>
                            <li>
                                <div></div>
                            </li>
                            <li>
                                <div></div>
                            </li>
                        </ul>
                        <div class="stories">
                            <div class="year-story actives">
                                <h4>2020</h4>
                                <p><i>●</i>
                                    <span>2020年2月，公司创始人在杭州创办直播实验室，开展直播技术平台的前期开发工作。</span>
                                </p>
                            </div>
                            <div class="year-story">
                                <h4>2019</h4>
                                <p><i>●</i>
                                    <span>2015年2月，公司创始人在杭州创办直播实验室，开展直播技术平台的前期开发工作。</span>
                                </p>
                            </div>
                            <div class="year-story">
                                <h4>2018</h4>
                                <p><i>●</i>
                                    <span>2015年2月，公司创始人在杭州创办直播实验室，开展直播技术平台的前期开发工作。</span>
                                </p>
                            </div>
                            <div class="year-story">
                                <h4>2017</h4>
                                <p><i>●</i>
                                    <span>2015年2月，公司创始人在杭州创办直播实验室，开展直播技术平台的前期开发工作。</span>
                                </p>
                            </div>
                            <div class="year-story">
                                <h4>2016</h4>
                                <p><i>●</i>
                                    <span>2015年2月，公司创始人在杭州创办直播实验室，开展直播技术平台的前期开发工作。</span>
                                </p>
                            </div>
                            <div class="year-story">
                                <h4>2015</h4>
                                <p><i>●</i>
                                    <span>2015年2月，公司创始人在杭州创办直播实验室，开展直播技术平台的前期开发工作。</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 产品与服务 -->
                <div class="product">
                    <div class="layui-container">
                        <div class="title">产品与服务</div>
                        <div class="product-content">
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>轻直播</h5>
                                    <p>企业直播营销平台</p>
                                </div>
                            </li>
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>轻直播</h5>
                                    <p>企业直播营销平台</p>
                                </div>
                            </li>
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>轻直播</h5>
                                    <p>企业直播营销平台</p>
                                </div>
                            </li>
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>轻直播</h5>
                                    <p>企业直播营销平台</p>
                                </div>
                            </li>
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>轻直播</h5>
                                    <p>企业直播营销平台</p>
                                </div>
                            </li>
                            <li>
                                <img src="/static/image/about/feng.png" alt="">
                                <div class="text">
                                    <h5>轻直播</h5>
                                    <p>企业直播营销平台</p>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        {include file="common/footer"}
    </div>

</body>
<script src="/static/common/js/header-footer.js"></script>
<script>

    $('#about').each(function (index, element) {
        var obj = $(this);
        obj.find('.navinfo').children().on('click li', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.about-boxs').children().eq($(this).index()).length > 0)
                obj.find('.about-boxs').children().hide().eq($(this).index()).show();
        });
        setTimeout(function () { obj.find('.navinfo .active').trigger('li'); }, 100);
    });



    // 发展历程
    $('.fazhan').each(function (index, element) {
        var obj = $(this);
        obj.find('.dot').children().on('mouseover .left-item', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.stories').children().eq($(this).index()).length > 0)
                obj.find('.stories').children().hide().eq($(this).index()).show();
            obj.find('.year li').removeClass('li-active').eq($(this).index()).addClass('li-active');

        });
        // setTimeout(function () { obj.find('.dot .active').trigger('.left-item'); }, 100);
    });

    // 公司分布
    $('.fenbu').each(function (index, element) {
        var obj = $(this);
        obj.find('.fenbu-left').children().on('mouseover .left-item', function () {
            $(this).addClass('actives').siblings().removeClass('actives');
            if (obj.find('.fenbu-right').children().eq($(this).index()).length > 0)
                obj.find('.fenbu-right').children().hide().eq($(this).index()).show();

        });
        // setTimeout(function () { obj.find('.dot .active').trigger('.left-item'); }, 100);
    });
</script>

</html>