<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轻直播_客户案例_直播定制化服务</title>
    <meta name="keywords"  content="轻直播,经典案例" />
    <meta name="description"
         content="轻直播提供私有化部署,全方位全场景直播一站式服务,服务范围涵盖医疗、教育、金融、科技等各行业,已获得上海医师协会、瀚晖制药、四川大学、等国内知名企业的高度认可。" />
    <link rel="stylesheet" href="/static/css/deploy/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <div id="deploy">
        <!-- 头部 -->
        {include file="common/header"}

        <!-- banner -->
        <div id="banner">
            <div class="layui-carousel" id="banners">
                <div carousel-item class="lunbo-box">
                    <img src="/static/image/index/banner.png" alt="">
                    <img src="/static/image/index/banner.png" alt="">
                    <img src="/static/image/index/banner.png" alt="">
                </div>
            </div>
        </div>

        <!-- 点播私有化部署 -->
        <div id="dianbo">
            <div class="layui-container">
                <div class="title">点播私有化部署</div>
                <ul class="dianbo-content">
                    <li class="dianbo-item">
                        <div class="item-left">
                            <img src="/static/image/index/product1.png" alt="">
                        </div>
                        <div class="item-right">
                            <h5>视频混合加密</h5>
                            <p>Qingtv私有加密协议，独立密码本，每个切片不同加密算法，极大增加破解视频的难度</p>
                        </div>
                    </li>
                    <li class="dianbo-item">
                        <div class="item-left">
                            <img src="/static/image/index/product1.png" alt="">
                        </div>
                        <div class="item-right">
                            <h5>视频混合加密</h5>
                            <p>Qingtv私有加密协议，独立密码本，每个切片不同加密算法，极大增加破解视频的难度</p>
                        </div>
                    </li>
                    <li class="dianbo-item">
                        <div class="item-left">
                            <img src="/static/image/index/product1.png" alt="">
                        </div>
                        <div class="item-right">
                            <h5>视频混合加密</h5>
                            <p>Qingtv私有加密协议，独立密码本，每个切片不同加密算法，极大增加破解视频的难度</p>
                        </div>
                    </li>
                    <li class="dianbo-item">
                        <div class="item-left">
                            <img src="/static/image/index/product1.png" alt="">
                        </div>
                        <div class="item-right">
                            <h5>视频混合加密</h5>
                            <p>Qingtv私有加密协议，独立密码本，每个切片不同加密算法，极大增加破解视频的难度</p>
                        </div>
                    </li>
                    <li class="dianbo-item">
                        <div class="item-left">
                            <img src="/static/image/index/product1.png" alt="">
                        </div>
                        <div class="item-right">
                            <h5>视频混合加密</h5>
                            <p>Qingtv私有加密协议，独立密码本，每个切片不同加密算法，极大增加破解视频的难度</p>
                        </div>
                    </li>
                    <li class="dianbo-item">
                        <div class="item-left">
                            <img src="/static/image/index/product1.png" alt="">
                        </div>
                        <div class="item-right">
                            <h5>视频混合加密</h5>
                            <p>Qingtv私有加密协议，独立密码本，每个切片不同加密算法，极大增加破解视频的难度</p>
                        </div>
                    </li>
                    <li class="dianbo-item">
                        <div class="item-left">
                            <img src="/static/image/index/product1.png" alt="">
                        </div>
                        <div class="item-right">
                            <h5>视频混合加密</h5>
                            <p>Qingtv私有加密协议，独立密码本，每个切片不同加密算法，极大增加破解视频的难度</p>
                        </div>
                    </li>
                    <li class="dianbo-item">
                        <div class="item-left">
                            <img src="/static/image/index/product1.png" alt="">
                        </div>
                        <div class="item-right">
                            <h5>视频混合加密</h5>
                            <p>Qingtv私有加密协议，独立密码本，每个切片不同加密算法，极大增加破解视频的难度</p>
                        </div>
                    </li>
                </ul>
                <div class="dianbo-bottom">
                    <div class="bottom-left">
                        <img src="/static/image/site_service/people.png" alt="">
                    </div>
                    <div class="bottom-right">
                        <h4>Lorem ipsum dolor sit amet, consectet urlacusvel facilisis. </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan facilisis. </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 轻视云 -->
        <div id="qingshiyun">
            <div class="layui-container">
                <div class="title">轻视云</div>
                <ul class="qing-content">
                    <li>
                        <img src="/static/image/site_service/icon.svg" alt="">
                        <h5>Lorem ipsum dolor sit  </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </li>
                    <li>
                        <img src="/static/image/site_service/icon.svg" alt="">
                        <h5>Lorem ipsum dolor sit  </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </li>
                    <li>
                        <img src="/static/image/site_service/icon.svg" alt="">
                        <h5>Lorem ipsum dolor sit  </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </li>
                    <li>
                        <img src="/static/image/site_service/icon.svg" alt="">
                        <h5>Lorem ipsum dolor sit  </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </li>
                    <li>
                        <img src="/static/image/site_service/icon.svg" alt="">
                        <h5>Lorem ipsum dolor sit  </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </li>
                    <li>
                        <img src="/static/image/site_service/icon.svg" alt="">
                        <h5>Lorem ipsum dolor sit  </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- “轻”装上阵，玩转企业数字营销5G时代 -->
        <div id="fiveG">
            <div class="hover"></div>
            <div class="layui-container">
                <div class="fiveg-content">
                    <h2>“轻”装上阵，玩转企业数字营销5G时代</h2>
                    <h5>「轻直播」为您提供一站式企业直播解决方案</h5>
                    <button>免费使用</button>
                </div>

            </div>
        </div>

        {include file="common/footer"}
    </div>
</body>

<script src="/static/common/js/header-footer.js"></script>
<script type="text/javascript">
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });
</script>

</html>