#solution .title {
  font-size: 30px;
  color: #333;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 auto;
  text-align: center;
}
#solution #banner {
  height: 600px;
  position: relative;
}
#solution #banner .lunbo-box img {
  object-fit: cover;
}
#solution #banner .layui-carousel .layui-carousel-ind {
  display: none !important;
}
#solution #industry {
  padding: 85px 0 87px;
}
#solution #industry .industry-content {
  display: flex;
  align-items: center;
  margin-top: 55px;
}
#solution #industry .industry-content li {
  width: 24%;
  margin: 0 auto 20px;
  position: relative;
  cursor: pointer;
}
#solution #industry .industry-content li img {
  width: 100%;
}
#solution #industry .industry-content li .text {
  position: absolute;
  bottom: -24%;
  left: 50%;
  transform: translateY(50%);
  transform: translateX(-50%);
  width: 70%;
  height: 116px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px 0px rgba(204, 204, 204, 0.29);
  border-radius: 6px;
}
#solution #industry .industry-content li .text h6 {
  font-size: 22px;
  margin-bottom: 13px;
  color: #333;
}
#solution #industry .industry-content li .text p {
  width: 85%;
  font-size: 14px;
  color: #666;
}
#solution #industry .industry-content li:hover .text {
  background-color: #00cc99;
}
#solution #industry .industry-content li:hover p,
#solution #industry .industry-content li:hover h6 {
  color: #fff;
}
#solution #scene {
  padding: 39px 0 50px;
  background-color: #FBF8FB;
}
#solution #scene .title {
  margin-bottom: 61px;
}
#solution #scene .scene-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#solution #scene .scene-content li {
  width: 23%;
  height: 230px;
  margin: 0 auto 29px;
  background: url('/static/image/solution/hangye.png') no-repeat;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
#solution #scene .scene-content li div {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 8%;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  padding-bottom: 4px;
  padding-bottom: 10px;
}
#solution #scene .scene-content li div p {
  font-size: 22px;
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 2px solid #00cc99;
  margin-right: 45%;
}
#solution #scene .scene-content li div img {
  display: none;
}
#solution #scene .scene-content li:hover div {
  background-color: #00cc99;
}
#solution #scene .scene-content li:hover div img {
  display: block;
}
#solution #qiye {
  background-color: #fff;
  padding: 60px 0 20px;
}
#solution #qiye .title {
  margin-bottom: 70px;
}
#solution #qiye nav {
  width: 90%;
  margin: 0 auto 70px;
}
#solution #qiye nav .logo-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#solution #qiye nav .logo-title .active {
  background-color: #00cc99;
  border-radius: 20px;
}
#solution #qiye nav .logo-title .active span {
  color: #fff;
}
#solution #qiye nav .logo-title li {
  cursor: pointer;
  height: 32px;
  width: 8%;
  margin: 0 auto;
  line-height: 32px;
  text-align: center;
  padding: 0 15px;
}
#solution #qiye nav .logo-title li:hover {
  background-color: #00cc99;
  border-radius: 20px;
}
#solution #qiye nav .logo-title li:hover span {
  color: #fff;
}
#solution #qiye nav .logo-title li span {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
  text-align: center;
}
#solution #qiye .logo-box .logo-imgs {
  display: none;
}
#solution #qiye .logo-box .logo-imgs li {
  width: 13.5%;
  height: 67px;
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 62px;
}
#solution #qiye .logo-box .logo-imgs li:nth-child(6n) {
  margin-right: 0px;
}
#solution #qiye .logo-box .logo-imgs li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#solution #qiye .logo-box .active {
  display: block;
}
#solution #kefu {
  height: 260px;
  background: url('/static/image/index/fiveG.png') no-repeat;
  background-size: cover;
  position: relative;
}
#solution #kefu .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 47, 35, 0.5);
  z-index: 0;
}
#solution #kefu .kefu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 49px 0 0;
  box-sizing: border-box;
}
#solution #kefu .kefu-content h2 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin: 0 auto 38px;
}
#solution #kefu .kefu-content button {
  width: 31%;
  height: 60px;
  border: 0;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  outline: none;
  background-color: transparent;
  font-size: 28px;
  color: #FFFFFF;
  cursor: pointer;
}
#solution #kefu .kefu-content button:hover {
  background-color: #00cc99;
  color: #fff;
  border: 0;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  #solution #banner {
    height: 400px;
  }
  #solution #qiye nav {
    margin: 0 auto 70px;
  }
  #solution #qiye nav .logo-title li span {
    font-size: 16px;
  }
  #solution #qiye .logo-box .logo-imgs li {
    width: 18%;
    height: 55px;
    margin: 0 15px 50px 0;
  }
  #solution #kefu {
    height: 200px;
  }
  #solution #kefu .kefu-content {
    padding: 30px 0 0;
  }
  #solution #kefu .kefu-content h2 {
    font-size: 45px;
    margin-bottom: 25px;
  }
  #solution #kefu .kefu-content button {
    width: 28%;
    height: 50px;
    font-size: 25px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1195px) {
  #solution .title {
    font-size: 26px;
  }
  #solution #industry {
    padding: 65px 0 70px;
  }
  #solution #industry .layui-container {
    width: 95%;
  }
  #solution #industry .layui-container .industry-content {
    margin-top: 35px;
  }
  #solution #industry .layui-container .industry-content li {
    width: 23%;
    height: 170px;
  }
  #solution #industry .layui-container .industry-content li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  #solution #industry .layui-container .industry-content li .text {
    width: 70%;
    height: 90px;
    bottom: -28%;
  }
  #solution #industry .layui-container .industry-content li .text h6 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  #solution #industry .layui-container .industry-content li .text p {
    width: 90%;
    font-size: 14px;
  }
  #solution #scene .layui-container {
    width: 95%;
  }
  #solution #scene .layui-container .title {
    margin-bottom: 35px;
  }
  #solution #scene .layui-container .scene-content li {
    width: 24%;
    height: 190px;
    margin: 0 auto 5px;
  }
  #solution #scene .layui-container .scene-content li div {
    height: 45px;
    padding-bottom: 2px;
  }
  #solution #scene .layui-container .scene-content li div p {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #solution #industry {
    padding: 55px 0 60px;
  }
  #solution #industry .layui-container {
    width: 97%;
    padding: 0;
  }
  #solution #industry .layui-container .industry-content {
    margin-top: 35px;
  }
  #solution #industry .layui-container .industry-content li {
    width: 23%;
    height: 140px;
  }
  #solution #industry .layui-container .industry-content li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  #solution #industry .layui-container .industry-content li .text {
    width: 70%;
    height: 80px;
    bottom: -32%;
  }
  #solution #industry .layui-container .industry-content li .text h6 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #solution #industry .layui-container .industry-content li .text p {
    width: 90%;
    font-size: 12px;
  }
  #solution #scene {
    padding: 30px 0 40px;
  }
  #solution #scene .layui-container {
    width: 97%;
    padding: 0;
  }
  #solution #scene .layui-container .title {
    margin-bottom: 25px;
  }
  #solution #scene .layui-container .scene-content li {
    width: 24%;
    height: 160px;
    margin: 0 auto 10px;
  }
  #solution #scene .layui-container .scene-content li div {
    height: 40px;
    padding-bottom: 2px;
  }
  #solution #scene .layui-container .scene-content li div p {
    font-size: 16px;
  }
  #solution #scene .layui-container .scene-content li div img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  #solution #qiye .layui-container {
    width: 90%;
  }
  #solution #qiye .layui-container .title {
    margin-bottom: 75px;
  }
  #solution #qiye .layui-container nav {
    width: 95%;
  }
  #solution #qiye .layui-container nav .logo-title li {
    width: 10%;
  }
  #solution #qiye .layui-container .logo-box .logo-imgs li {
    width: 19%;
    margin: 0 auto 40px;
  }
  #solution #kefu {
    height: 170px;
  }
  #solution #kefu .kefu-content {
    padding: 30px 0 0;
  }
  #solution #kefu .kefu-content h2 {
    font-size: 35px;
  }
  #solution #kefu .kefu-content button {
    width: 28%;
    height: 45px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  #solution .title {
    font-size: 22px;
  }
  #solution #banner {
    height: 300px;
  }
  #solution #banner .layui-carousel .lunbo-box {
    width: 100%;
    height: 100%;
  }
  #solution #banner .layui-carousel .lunbo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #solution #industry {
    padding: 35px 0 50px;
  }
  #solution #industry .layui-container {
    width: 90%;
    padding: 0;
  }
  #solution #industry .layui-container .industry-content {
    margin-top: 35px;
    flex-wrap: wrap;
  }
  #solution #industry .layui-container .industry-content li {
    width: 45%;
    height: 120px;
    margin-bottom: 55px;
  }
  #solution #industry .layui-container .industry-content li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  #solution #industry .layui-container .industry-content li .text {
    width: 80%;
    height: 70px;
    bottom: -30%;
  }
  #solution #industry .layui-container .industry-content li .text h6 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  #solution #industry .layui-container .industry-content li .text p {
    width: 90%;
    font-size: 12px;
  }
  #solution #scene {
    padding: 30px 0 40px;
  }
  #solution #scene .layui-container {
    width: 95%;
    padding: 0;
  }
  #solution #scene .layui-container .title {
    margin-bottom: 25px;
  }
  #solution #scene .layui-container .scene-content li {
    width: 47%;
    height: 130px;
    margin: 0 auto 10px;
  }
  #solution #scene .layui-container .scene-content li div {
    height: 35px;
    padding-bottom: 2px;
  }
  #solution #scene .layui-container .scene-content li div p {
    font-size: 14px;
  }
  #solution #scene .layui-container .scene-content li div img {
    width: 15px;
    height: 15px;
    object-fit: cover;
  }
  #solution #qiye {
    padding: 40px 0 20px;
  }
  #solution #qiye .title {
    margin-bottom: 35px;
  }
  #solution #qiye nav {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto 30px;
  }
  #solution #qiye nav::-webkit-scrollbar {
    display: none;
  }
  #solution #qiye nav .logo-title {
    width: auto;
  }
  #solution #qiye nav .logo-title li {
    flex-shrink: 0;
    width: 14%;
    padding: 0px;
    height: 25px;
    line-height: 25px;
  }
  #solution #qiye nav .logo-title li span {
    margin: 0;
    font-size: 14px;
  }
  #solution #qiye .logo-box .logo-imgs li {
    width: 19%;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 22px;
  }
  #solution #kefu {
    height: 150px;
  }
  #solution #kefu .kefu-content {
    padding: 25px 0 15px;
  }
  #solution #kefu .kefu-content h2 {
    font-size: 22px;
  }
  #solution #kefu .kefu-content button {
    width: 36%;
    height: 40px;
    font-size: 14px;
  }
}
