{extend name="common::layout"/}
{block name="main-content"}
<style>
    .layui-btn {
        margin-top: 8px;
        margin-left: 5px;
    }

    .btn {
        margin-top: 0 !important;
    }

    #add {
        padding-top: 20px;
        padding-right: 30px;
    }

</style>
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <button class="layui-btn" onclick="add()"><i class="layui-icon"></i>增加</button>
                    </button>
                    <!-- 动态表格 -->
                    <table id="table-rule" lay-filter="table-rule"></table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 中部结束 -->
<div id="add" style="display: none;">
    <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-form-item">
            <label class="layui-form-label">联系种类</label>
            <div class="layui-input-block">
                <input type="text" name="type_name" placeholder="请输入联系种类(咨询电话/简历投递)" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input type="text" name="num_en" placeholder="请输入联系电话或者邮箱" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="order" placeholder="请输入(数值越大，排序越靠前)" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">启用</label>
            <div class="layui-input-block">
                <input name="status" value="1" type="checkbox" checked lay-skin="switch">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标上传</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn icon_url">
                    <i class="layui-icon">&#xe67c;</i>上传图标
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input type="hidden" name="icon_url" class="icon_url">
                <img src="" alt="" width="200px" class="icon-show">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">保存</button>
            </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </form>
</div>
<div id="edit" style="display: none;">
    <div class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-form-item">
            <label class="layui-form-label">联系种类</label>
            <div class="layui-input-block">
                <input type="text" name="type_name" id="type_name" placeholder="请输入联系种类(咨询电话/简历投递)" autocomplete="off" class="layui-input">
                <input type="hidden" name="id" id="id" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input type="text" name="num_en" id="num_en" placeholder="请输入联系电话或者邮箱" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" name="order" id="order" placeholder="请输入(数值越大，排序越靠前)" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">启用</label>
            <div class="layui-input-block">
                <input name="status" id="status" value="1" type="checkbox" checked lay-skin="switch">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标上传</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn icon_url">
                    <i class="layui-icon">&#xe67c;</i>上传图标
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input type="hidden" name="icon_url" class="icon_url">
                <img src="" alt="" width="200px" class="icon-show">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="edit">保存</button>
            </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </div>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn btn layui-btn-xs" lay-event="info">详情</a>
    <a class="layui-btn btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['form', 'table', 'layedit','upload'], function () {
        var table = layui.table;
        var form = layui.form;
        var upload = layui.upload;
        layedit = layui.layedit;

        //图片上传接口
        upload.render({
            elem:'.icon_url'
            ,url: "{:url('admin/common_file/uploadFile')}"
            ,ext: 'jpg|jpeg|svg|png|gif'
            ,acceptMime: 'image/*'
            ,done: function(res){
                $('.icon-show').attr('src',res.data.src);
                $('.icon_url').val(res.data.src);
                layer.msg(res.msg);
            }
        });

        //创建动态表格
        table.render({
            elem: '#table-rule'
            , height: 850
            , url: '/admin/contact/getContactList' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {
                    field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'
                }
                , {field: 'type_name', title: '联系种类'}
                , {field: 'num_en', title: '联系方式'}
                , {field: 'order', title: '排序'}
                , {field: 'status', title: '状态'}
                , {width: 160, title: '操作', align: 'center', toolbar: '#barDemo'}
            ]]
        });

        //监听工具条
        table.on('tool(table-rule)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'info') { //查看
                $.post('/admin/contact/contactInfo', {id: data.id}, (res) => {
                    if (res.status === 200) {
                        layer.open({
                            type: 1,
                            title: '编辑',
                            area: ['900px', '800px'],
                            content: $('#edit'),
                        });

                        $('#id').val(res.data.id);
                        $('#type_name').val(res.data.type_name);
                        $('#num_en').val(res.data.num_en);
                        $('#order').val(res.data.order);
                        $('.icon-show').attr('src',res.data.icon_url);
                        $('.icon_url').val(res.data.icon_url);
                        if (res.data.status === 0) {
                            $('#status').removeAttr('checked');
                        } else {
                            $('#status').attr('checked', true);
                        }
                        form.render();

                    }
                })

            } else if (layEvent === 'del') { //删除
                layer.confirm('真的要删除吗？', {
                    btn:['确定吧','取消'],
                },function () {
                    $.post('/admin/contact/contactDelete',{id: data.id}, (res) => {
                        if (res.status === 200) {
                            layer.msg(res.message);
                            setTimeout(()=>{
                                window.location.reload()
                            },500)
                        }else{
                            layer.msg(res.message);
                        }
                    })
                });
            }
        });

    });


</script>
{/block}