{extend name="common::layout"/}
{block name="main-content"}
<style>
    .layui-btn {
        margin-top: 8px;
        margin-left: 5px;
    }

    .btn {
        margin-top: 0 !important;
    }

</style>

<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <button class="layui-btn" onclick="add()"><i class="layui-icon"></i>增加</button>
                    </button>
                    <!-- 动态表格 -->
                    <table id="table-rule" lay-filter="table-rule"></table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 中部结束 -->
<div id="add" style="display: none;">
    <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限选择</label>
            <div class="layui-input-block">
                {foreach $rules as $key=>$val}
                <input type="checkbox" name="like{$val.rule_id}" value="{$val.rule_id}" title="{$val.title}">
                {/foreach}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">启用</label>
            <div class="layui-input-block">
                <input name="status" value="1" type="checkbox" checked lay-skin="switch">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">保存</button>
            </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </form>
</div>
<div id="edit" style="display: none;">
    <form class="layui-form" id="edit_id"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" id="title" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限选择</label>
            <div class="layui-input-block" id="rules">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">启用</label>
            <div class="layui-input-block" id="status">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="edit">保存</button>
            </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </form>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['laydate', 'form', 'table'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;
      //创建动态表格
        table.render({
            elem: '#table-rule'
            , height: 850
            , url: '/admin/Administrators/getRoleList' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'group_id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                , {field: 'title', title: '标题'}
                , {field: 'rules', title: '权限'}
                , {field: 'status', title: '状态'}
                , {fixed: 'right', width: 150, title: '操作', align: 'center', toolbar: '#barDemo'}
            ]]
        });

        //监听工具条
        table.on('tool(table-rule)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'edit') { //查看
                $.post('/admin/Administrators/getRoleInfo', {group_id: data.group_id}, (res) => {
                    if (res.status === 200) {

                        $('#title').val(res.data.title);
                        $("#rules").empty();
                        $("#status").empty();
                        $("#group_id").remove();
                        for (var i = 0; i < res.data.rules_all.length; i++) {
                            if ($.inArray(String(res.data.rules_all[i].rule_id), res.data.rules) !== -1) {
                                var dom = `<input type="checkbox" name="like` + res.data.rules_all[i].rule_id + `" checked value="` + res.data.rules_all[i].rule_id + `" title="` + res.data.rules_all[i].title + `">`;
                            } else {
                                var dom = `<input type="checkbox" name="like` + res.data.rules_all[i].rule_id + `" value="` + res.data.rules_all[i].rule_id + `" title="` + res.data.rules_all[i].title + `">`;
                            }
                            $('#rules').append(dom);
                        }
                        if (res.data.status) {
                            var dom1 = `<input name="status" value="1" type="checkbox" checked lay-skin="switch">`
                        } else {
                            var dom1 = `<input name="status" value="1" type="checkbox"  lay-skin="switch">`
                        }
                        $('#status').append(dom1)
                        var dom2 = `<input type="text" style="display:none" id="group_id" name="group_id" value="` + data.group_id + `" placeholder="请输入" autocomplete="off" class="layui-input">`
                        $('#edit_id').append(dom2);
                        form.render();
                    }
                })
                layer.open({
                    type: 1,
                    title: '编辑',
                    area: ['900px', '800px'],
                    content: $('#edit') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                });
            } else if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                });
            }
        });

        //编辑
        form.on('submit(edit)', function (data) {
            $.post('/admin/Administrators/editGroup', data.field, (res) => {
                if (res.status === 200) {
                    layer.msg(res.message);
                    setTimeout(() => {
                        window.location.reload()
                    }, 500)
                } else {
                    layer.msg(res.message);
                }
            })
            return false;
        });

    });

</script>
{/block}