{extend name="common::layout"/}
{block name="main-content"}
<style>
    .layui-btn {
        margin-top: 8px;
        margin-left: 5px;
    }

    .btn {
        margin-top: 0 !important;
    }

    #add {
        padding-top: 20px;
        padding-right: 30px;
    }

</style>
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">

                    <!-- 动态表格 -->
                    <table id="table-rule" lay-filter="table-rule"></table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 中部结束 -->
<div id="edit" style="display: none;">
    <div class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <span style="color: red;font-size: 16px;">仅可更改排序!</span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择父级</label>
            <div class="layui-input-block">
                <select name="pid" id="pid" >

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" id="title" name="title" readonly placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">第二标题</label>
            <div class="layui-input-block">
                <input type="text" id="second_title" name="second_title" readonly placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" id="order" name="order" placeholder="请输入(数值越大，排序越靠前)" autocomplete="off"
                       class="layui-input">
                <input type="hidden" id="id" name="id" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上传封面图片</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn fileUp" disabled>
                    <i class="layui-icon">&#xe67c;</i>上传封面图片
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input type="hidden" name="cover_img_url" class="cover_img_url" value="">
                <img src="" alt="" width="200px" class="cover_img_show">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                        <textarea type="text" name="content" id="articleEdit" lay-verify="fu_content"
                                  style="width: 100%;height: 140px;" readonly>
                        </textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="edit">保存</button>
            </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </div>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn btn layui-btn-xs" lay-event="info">详情</a>
    <a class="layui-btn btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="imgtmp">
    <div id="layer-photos-demo" style="cursor:pointer;">
        <img onclick="imgPoint(this)" src="{{d.cover_img_url}}" alt="">
    </div>
</script>
<script>
    //图片弹出
    function imgPoint(obj) {
        var img = new Image();
        img.src = obj.src;
        var imgHtml = "<img src='" + obj.src + "' style='margin-left:45px' width='800px'/>";
        //弹出层
        layer.open({
            type: 1,
            shade: 0.8,
            offset: 'auto',
            area: [900 + 'px',800+'px'],
            shadeClose:true,
            scrollbar: false,
            title: "图片预览", //不显示标题
            content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
            cancel: function () {
                //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
            }
        });
    }

    layui.use(['form', 'table', 'layedit'], function () {
        var table = layui.table;
        var form = layui.form;
        layedit = layui.layedit;

        //创建动态表格
        table.render({
            elem: '#table-rule'
            , height: 850
            , url: '/admin/hot_article/getHotArticleList' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {
                    field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'
                }
                , {field: 'cover_img_url', title: '缩略图', templet:'#imgtmp'}
                , {field: 'title', title: '标题'}
                , {field: 'second_title', title: '第二标题'}
                , {field: 'pid_name', title: '所属分类'}
                , {field: 'order', title: '排序'}
                , {field: 'status', title: '状态'}
                , {width: 160, title: '操作', align: 'center', toolbar: '#barDemo'}
            ]]
        });

        window.articleEdit = function () {
            //设置图片上传接口
            layedit.set({
                uploadImage: {
                    url: "{:url('admin/common_file/uploadFile')}" //接口url
                    , type: 'post' //默认post
                }
            });
            //建立编辑器
            var index = layedit.build('articleEdit', {
                tool: ['strong' //加粗
                    , 'italic' //斜体
                    , 'underline' //下划线
                    , 'del' //删除线
                    , '|' //分割线
                    , 'left' //左对齐
                    , 'center' //居中对齐
                    , 'right' //右对齐
                    , 'link' //超链接
                    , 'unlink' //清除链接
                    , 'face' //表情
                    , 'image' //插入图片
                    , 'help' //帮助
                ]
            });
            $("[id *= 'LAY_layedit']").contents().find("body[contenteditable]").prop("contenteditable", false);
            //同步富文本内容到textarea
            form.verify({
                fu_content: function (value) {
                    return layedit.sync(index);
                }
            })
            layedit.setContent(index, '');
            return index;
        }

        //监听工具条
        table.on('tool(table-rule)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'info') { //查看
                $.post('/admin/hot_article/hotArticleInfo', {id: data.id}, (res) => {
                    if (res.status === 200) {
                        layer.open({
                            type: 1,
                            title: '编辑',
                            area: ['1000px', '900px'],
                            content: $('#edit'),
                        });
                        let index = articleEdit();

                        $('#id').val(res.data.id);
                        $('#title').val(res.data.title);
                        $('#second_title').val(res.data.second_title);
                        $('#order').val(res.data.order);
                        $('.cover_img_show').attr('src',res.data.cover_img_url);
                        $('.cover_img_url').val(res.data.cover_img_url);
                        //状态
                        if (res.data.status === 0) {
                            $('#status').removeAttr('checked');
                        } else {
                            $('#status').attr('checked', true);
                        }
                        for (let item of res.data.article_type) {
                            if (res.data.pid === item.id) {
                                $('#pid').append('<option value="' + item.id + '" selected>' + item.name + '</option>')
                            }
                        }

                        form.render();
                        layedit.setContent(index, res.data.content);

                    }
                })

            } else if (layEvent === 'del') { //删除
                layer.confirm('真的要删除吗？', {
                    btn:['确定吧','取消'],
                },function () {
                    $.post('/admin/hot_article/hotArticleDelete',{id: data.id}, (res) => {
                        if (res.status === 200) {
                            layer.msg(res.message);
                            setTimeout(()=>{
                                window.location.reload()
                            },500)
                        }else{
                            layer.msg(res.message);
                        }
                    })
                });
            }
        });

    });


</script>
{/block}