#banner {
  height: 600px;
  position: relative;
}
#banner .layui-carousel #banners .layui-carousel > [carousel-item] .banner-item {
  position: relative;
}
#banner .layui-carousel .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
#banner .layui-carousel .text-left {
  position: absolute;
  top: 25%;
  left: 20%;
}
#banner .layui-carousel .text-left h2 {
  font-size: 45px;
  font-weight: bold;
  color: #1DECFF;
  text-align: left;
}
#banner .layui-carousel .text-left h5 {
  color: #fff;
  opacity: 0.8;
  font-size: 16px;
  width: 70%;
  margin: 78px 0 103px;
  line-height: 1.5;
}
#banner .layui-carousel .text-left .banner-a {
  position: absolute;
  left: 0;
  z-index: 10;
  display: block;
  width: 167px;
  height: 44px;
  border: 1px solid #FFFFFF;
  color: #fff;
  text-align: center;
  line-height: 44px;
  font-size: 18px;
}
#banner .layui-carousel .text-center {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
#banner .layui-carousel .text-center h5 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#banner .layui-carousel .text-center h2 {
  font-size: 45px;
  font-weight: bold;
  color: #1DECFF;
  text-align: center;
}
#banner .layui-carousel .text-center h5 {
  color: #fff;
  opacity: 0.8;
  font-size: 16px;
  width: 100%;
  margin: 78px 0 103px;
  line-height: 1.5;
  text-align: center;
}
#banner .layui-carousel .text-center .banner-a {
  margin: 0 auto;
}
#banner .layui-carousel .text-right {
  position: absolute;
  top: 25%;
  right: 16%;
}
#banner .layui-carousel .text-right h2 {
  font-size: 45px;
  font-weight: bold;
  color: #1DECFF;
  background: linear-gradient(257deg, #73FFE0 0%, #3EC0A5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
#banner .layui-carousel .text-right h5 {
  width: 80%;
  margin-left: 100%;
  margin: 78px 0 103px;
  text-align: left;
  color: #fff;
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.5;
}
#banner .layui-carousel .text-right .banner-a {
  position: absolute;
  right: 0;
}
#banner .layui-carousel .layui-carousel-ind {
  display: none !important;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  #banner {
    height: 400px;
  }
  #banner .layui-carousel .text-left {
    position: absolute;
    top: 17%;
    left: 13%;
  }
  #banner .layui-carousel .text-left h2 {
    font-size: 32px !important;
    text-align: left;
  }
  #banner .layui-carousel .text-left h5 {
    font-size: 14px !important;
    width: 70%;
    margin: 15px 0 27px !important;
    line-height: 1.5;
  }
  #banner .layui-carousel .text-left .banner-a {
    width: 127px !important;
    height: 38px !important;
    line-height: 38px !important;
    font-size: 14px !important;
  }
  #banner .layui-carousel .text-center {
    position: absolute;
    top: 17% !important;
    left: 50%;
    transform: translateX(-50%);
  }
  #banner .layui-carousel .text-center h2 {
    font-size: 32px !important;
    text-align: center !important;
  }
  #banner .layui-carousel .text-center h5 {
    font-size: 14px;
    width: 100% !important;
    margin: 15px 0 27px !important;
    line-height: 1.5;
    text-align: center !important;
  }
  #banner .layui-carousel .text-center .banner-a {
    margin: 0 auto;
    width: 127px !important;
    height: 38px !important;
    line-height: 38px !important;
    font-size: 14px !important;
  }
  #banner .layui-carousel .text-right {
    position: absolute;
    top: 15%;
    right: 5%;
  }
  #banner .layui-carousel .text-right h2 {
    font-size: 35px !important;
    text-align: right !important;
  }
  #banner .layui-carousel .text-right h5 {
    width: 100% !important;
    margin-left: 100%;
    margin: 15px 0 27px !important;
    text-align: right !important;
    font-size: 14px !important;
    line-height: 1.5;
  }
  #banner .layui-carousel .text-right .banner-a {
    width: 127px !important;
    height: 38px !important;
    line-height: 38px !important;
    font-size: 14px !important;
    float: right !important;
  }
}
@media screen and (max-width: 768px) {
  #banner {
    height: 300px;
  }
  #banner .text-left {
    position: absolute;
    top: 15% !important;
    left: 10% !important;
  }
  #banner .text-left h2 {
    font-size: 22px !important;
  }
  #banner .text-left h5 {
    font-size: 12px !important;
    width: 70%;
    margin: 28px 0 33px !important;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  #banner .text-left .banner-a {
    width: 107px !important;
    height: 32px !important;
    text-align: center;
    line-height: 32px !important;
    font-size: 12px !important;
  }
  #banner .text-center {
    width: 90%;
    top: 19% !important;
    left: 50%;
    transform: translateX(-50%);
  }
  #banner .text-center h2 {
    font-size: 22px !important;
    text-align: center !important;
  }
  #banner .text-center h5 {
    width: 80% !important;
    margin: 38px auto 43px !important;
    text-align: center !important;
    font-size: 12px !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  #banner .text-center .banner-a {
    margin: 0 auto;
    width: 107px !important;
    height: 32px !important;
    text-align: center;
    line-height: 32px !important;
    font-size: 12px !important;
  }
  #banner .text-right {
    position: absolute;
    top: 20% !important;
    right: 7% !important;
  }
  #banner .text-right h2 {
    font-size: 22px !important;
    text-align: right !important;
  }
  #banner .text-right h5 {
    width: 100% !important;
    margin-left: 100%;
    margin: 38px 0 43px !important;
    text-align: right !important;
    font-size: 12px !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  #banner .text-right .banner-a {
    float: right !important;
    width: 107px !important;
    height: 32px !important;
    text-align: center;
    line-height: 32px !important;
    font-size: 12px !important;
  }
}
