<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轻直播_客户案例_直播定制化服务</title>
    <meta name="keywords"  content="轻直播,经典案例" />
    <meta name="description"
         content="轻直播提供私有化部署,全方位全场景直播一站式服务,服务范围涵盖医疗、教育、金融、科技等各行业,已获得上海医师协会、瀚晖制药、四川大学、等国内知名企业的高度认可。" />
    <link rel="stylesheet" href="/static/css/moreLive/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <div id="more-live">

        <!-- banner -->
        <div id="banner">
            <div class="layui-carousel" id="banners">
                <div carousel-item class="lunbo-box">
                    {if isset($banner_list)}
                    {foreach $banner_list as $item}
                    <img src="{$item.img_url}" alt="">
                    {/foreach}
                    {/if}
                </div>
            </div>
        </div>

        <div class="functions">
            <div class="layui-container">
                <div class="func-nav flex-box">
                    <div class="nav-left flex-box"><img src="/static/image/morelive/hot.png" alt="">
                        <span>新增功能：</span>
                    </div>
                    <ul class="nav-right flex-box">
                        {if isset($new)}
                        {foreach($new as $item)}
                        <li>{$item.title}</li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
                <div class="func-content">
                    {if isset($article_list)}
                    {foreach($article_list['article_type'] as $item)}
                    <div class="func-item">
                        <h5>{$item.name}</h5>
                        <ul class="flex-box">
                            {foreach($article_list['all_article'] as $val)}
                            {if($val.pid == $item.id)}
                            <li >
                                <a class="flex-box" href="{:url('/index/docs/article',['id'=>$val.id])}">
                                    <img src="{$val.icon_img_url}" alt="">
                                    <div class="text">
                                        <h6>{$val.title}</h6>
                                        <p>{$val.second_title}</p>
                                    </div>
                                </a>
                            </li>
                            {/if}
                            {/foreach}
                        </ul>
                    </div>
                    {/foreach}
                    {/if}
                </div>
            </div>
        </div>

        <div class="videos">
            <div class="layui-container">
                <h4>直播视频教学专区</h4>
                <div class="new-live">
                    <div class="title flex-box">
                        <h6>最新直播功能</h6>
                        <a href="">查看更多></a>
                    </div>
                    <ul class="video-box flex-box">
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                    </ul>
                </div>
                <div class="new-live">
                    <div class="title flex-box">
                        <h6>最新直播功能</h6>
                        <a href="">查看更多></a>
                    </div>
                    <ul class="video-box flex-box">
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                        <li>
                            <img class="video-logo" src="/static/image/qingschool/bg_big.png" alt="">
                            <p>如何实现多分会场同时直播？</p>
                            <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                        </li>
                    </ul>
                </div>

                <button class="free-btn">免费使用</button>
            </div>
        </div>

        {include file="common/footer"}
    </div>
</body>
<script src="/static/common/js/header-footer.js"></script>
<script type="text/javascript">
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });
</script>

</html>