<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <title>轻直播_客户案例_直播定制化服务</title>
    <meta name="keywords"  content="轻直播,经典案例" />
    <meta name="description"
         content="轻直播提供私有化部署,全方位全场景直播一站式服务,服务范围涵盖医疗、教育、金融、科技等各行业,已获得上海医师协会、瀚晖制药、四川大学、等国内知名企业的高度认可。" />
    <link rel="stylesheet" href="/static/css/moreLive/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common/banner_common.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/common/js/onlineService.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?92c6dedc52f21878f099f29a26b190a0";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div id="more-live">
        {include file="common/header"}
        <!--演示演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}
        <!-- banner -->
        <div id="banner">
            <div class="layui-carousel" id="banners">
                <div carousel-item class="lunbo-box">
                    {if(isset($banner_list) && $banner_list)}
                    {foreach $banner_list as $item}
                    <div class="banner-item">
                        <a href="{$item.img_link}" target="_blank">
                            <img class="banner-img" src="{$item.img_url}" alt="">
                        </a>
                        <div class="text-{$item.format}">
                            <h2 style='font-size: {$item.title_size}px;
                        font-weight: bold;
                        color:{$item.title_color};
                        text-align: {$item.format};'>{$item.title}</h2>

                            <h5 style=' color: {$item.in_color};
                        opacity: .8;
                        font-size: {$item.in_size}px;
                        width: {$item.width};
                        margin: 49px 0 85px;
                        text-align: {$item.format};
                        line-height: 1.5;'>{$item.introduction}</h5>

                            {if($item.button_status == 1)}
                            <a class="banner-a" href="{$item.button_link}" style='z-index: 10;
                        display: block;
                        width: 167px;
                        height: 44px;
                        border: 1px solid {$item.button_color};
                        color: {$item.button_color};
                        text-align: center;
                        line-height: 44px;
                        float: {$item.float};
                        font-size: {$item.button_size}px;'>{$item.button_text}</a>
                            {/if}
                        </div>
                    </div>
                    {/foreach}
                    {/if}
                </div>
            </div>
        </div>

        <div class="functions">
            <div class="layui-container">
                <div class="func-nav flex-box">
                    <div class="nav-left flex-box"><img src="/static/image/morelive/hot.png" alt="">
                        <span>新增功能：</span>
                    </div>
                    <ul class="nav-right flex-box">
                        {if isset($new)}
                        {foreach($new as $item)}
                        <li>{$item.title}</li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
                <div class="func-content">
                    {if isset($article_list)}
                    {foreach($article_list['article_type'] as $item)}
                    <div class="func-item">
                        <h5>{$item.name}</h5>
                        <ul class="flex-box">
                            {foreach($article_list['all_article'] as $val)}
                            {if($val.pid == $item.id)}
                            <li>
                                <a class="flex-box" href="/guide?id={$val.id}">
                                    <img src="{$val.icon_img_url}" alt="">
                                    <div class="text">
                                        <h6>{$val.title}</h6>
                                        <p>{$val.second_title}</p>
                                    </div>
                                </a>
                            </li>
                            {/if}
                            {/foreach}
                        </ul>
                    </div>
                    {/foreach}
                    {/if}
                </div>
            </div>
        </div>

        <div class="videos">
            <div class="layui-container">
                <h4>直播视频教学专区</h4>
                <div class="new-live">
                    <div class="title flex-box">
                        <h6>最新直播功能</h6>
                        <a href="/video/second?all=1&pid=1">查看更多></a>
                    </div>
                    <ul class="video-box flex-box">
                        {if($more_video['new_video'])}
                        {foreach($more_video['new_video'] as $item)}
                        <li>
                            <a href="/video/tutorial?browse=1&id={$item.id}" style="display: block;height: 100%;">
                                <img class="video-logo" src="{$item.cover_img_url}" alt="">
                                <p>{$item.title}</p>
                                <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                            </a>
                        </li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
                <div class="new-live">
                    <div class="title flex-box">
                        <h6>推荐直播教程</h6>
                        <a href="/video/second?all=1&pid=1">查看更多></a>
                    </div>
                    <ul class="video-box flex-box">
                        {if($more_video['recommend_video'])}
                        {foreach($more_video['recommend_video'] as $item)}
                        <li>
                            <a href="/video/tutorial?browse=1&id={$item.id}" style="display: block;height: 100%;">
                                <img class="video-logo" src="{$item.cover_img_url}" alt="">
                                <p>{$item.title}</p>
                                <img class="bofang" src="/static/image/morelive/bofang.png" alt="">
                            </a>
                        </li>
                        {/foreach}
                        {/if}

                    </ul>
                </div>

                <button class="free-btn"><a href="http://login.qingtv.com/signUp" target="_blank">免费试用</a>
                </button>
            </div>
        </div>

        {include file="common/footer"}
    </div>
</body>
<script src="/static/common/js/onlineService.js"></script>
<script src="/static/common/js/header-footer.js"></script>
<script type="text/javascript">
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });

    //   显示预约演示弹出框
    $('.banner-a').on('click', function () {
        $('#order-container').show();
        $('.q-modal').show();
    })
</script>

</html>