<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            {foreach $menu as $key=>$val}
                <li>
                    <a href="<?php echo $val['href'] ? $val['href'] : 'javascript:;' ?>">
                        <i class="iconfont left-nav-li" lay-tips="{$val.title}">&#xe6b8;</i>
                        <cite>{$val.title}</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    {if $val.list}
                        <ul class="sub-menu">
                            {foreach $val.list as $k => $v}
                                <li>
                                    <a href="{$v.href}">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>{$v.title}</cite></a>
                                </li>
                            {/foreach}
                        </ul>
                    {else /}
                    {/if}

                </li>
            {/foreach}
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->