<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轻直播</title>
    <link rel="stylesheet" href="/static/css/siteService/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <div id="service">
        <!-- 头部 -->
        {include file="common/header"}
        <!-- banner -->
        <div id="banner">
            <div class="layui-carousel" id="banners">
                <div carousel-item class="lunbo-box">
                    {if isset($banner_list)}
                    {foreach $banner_list as $item}
                    <img src="{$item.img_url}" alt="">
                    {/foreach}
                    {/if}
                </div>
            </div>
        </div>

        <!-- 导航栏 -->
        <nav>
            <div class="layui-container">
                <div class="nav-content">
                    <li><a href="#section-1">服务范围</a></li>
                    <li><a href="#section-2">方案设计</a></li>
                    <li><a href="#section-3">搭建支持</a></li>
                    <li><a href="#section-4">现场保障</a></li>
                    <li><a href="#section-5">数据报告</a></li>
                </div>
            </div>
        </nav>

        <!-- 6大服务模块 -->
        <div id="section-1" class="module">
            <div class="layui-container">
                <h2 class="title">轻直播现场六大服务模块</h2>
                <ul class="module-content">
                    <li>
                        <img src="/static/image/site_service/people.png" alt="">
                        <div class="text">
                            <h5>直播策划</h5>
                            <p>定制专业直播营销活动策划，针对提供从流量获取到转化的方案</p>
                        </div>
                    </li>
                    <li>
                        <img src="/static/image/site_service/people.png" alt="">
                        <div class="text">
                            <h5>直播策划</h5>
                            <p>定制专业直播营销活动策划，针对提供从流量获取到转化的方案</p>
                        </div>
                    </li>
                    <li>
                        <img src="/static/image/site_service/people.png" alt="">
                        <div class="text">
                            <h5>直播策划</h5>
                            <p>定制专业直播营销活动策划，针对提供从流量获取到转化的方案</p>
                        </div>
                    </li>
                    <li>
                        <img src="/static/image/site_service/people.png" alt="">
                        <div class="text">
                            <h5>直播策划</h5>
                            <p>定制专业直播营销活动策划，针对提供从流量获取到转化的方案</p>
                        </div>
                    </li>
                    <li>
                        <img src="/static/image/site_service/people.png" alt="">
                        <div class="text">
                            <h5>直播策划</h5>
                            <p>定制专业直播营销活动策划，针对提供从流量获取到转化的方案</p>
                        </div>
                    </li>
                    <li>
                        <img src="/static/image/site_service/people.png" alt="">
                        <div class="text">
                            <h5>直播策划</h5>
                            <p>定制专业直播营销活动策划，针对提供从流量获取到转化的方案</p>
                        </div>
                    </li>
                </ul>
                <button>立即试用</button>
            </div>
        </div>

        <!-- 轻直播为您创造价值 -->
        <div id="light-live">
            <div class="layui-container">
                <h2 class="title">轻量不轻质，简约不简单</h2>
                <div class="live-content">
                    <div class="live-item">
                        <div class="item-top">
                            <div class="nums">8</div>
                            <span>年</span>
                        </div>
                        <p class="item-bottom">行业经验</p>
                    </div>
                    <div class="live-item">
                        <div class="item-top">
                            <div class="nums">10</div>
                            <span>万</span>
                            <span>+</span>
                        </div>
                        <p class="item-bottom">服务企业</p>
                    </div>
                    <div class="live-item">
                        <div class="item-top">
                            <div class="nums">100</div>
                            <span>+</span>
                        </div>
                        <p class="item-bottom">行业解决方案</p>
                    </div>
                    <div class="live-item">
                        <div class="item-top">
                            <div class="nums">10</div>
                            <!-- <div class="nums">%</div> -->
                            <span>万</span>
                            <span>+</span>
                        </div>
                        <p class="item-bottom">现场服务经验</p>
                    </div>
                </div>
                <button>立即试用</button>
            </div>
        </div>

        <!-- 四个方案 -->
        <div id="section-2" class="plans">
            <div class="layui-container">
                <div class="plans-text">
                    <div class="text-head">
                        <img src="/static/image/site_service/icon.svg" alt="">
                        <h6>方案设计</h6>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan lacus vel facilisis. </p>
                    <button>在线咨询</button>
                </div>
                <div class="plans-img">
                    <img src="/static/image/site_service/sheji.svg" alt="">
                </div>
            </div>
        </div>

        <div id="section-3" class="plans">
            <div class="layui-container">
                <div class="plans-img">
                    <img src="/static/image/site_service/zhichi.svg" alt="">
                </div>
                <div class="plans-text">
                    <div class="text-head">
                        <img src="/static/image/site_service/icon.svg" alt="">
                        <h6>搭建支持</h6>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan lacus vel facilisis. </p>
                    <button>在线咨询</button>
                </div>
            </div>
        </div>

        <div id="section-4" class="plans">
            <div class="layui-container">
                <div class="plans-text">
                    <div class="text-head">
                        <img src="/static/image/site_service/icon.svg" alt="">
                        <h6>现场保障</h6>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan lacus vel facilisis. </p>
                    <button>在线咨询</button>
                </div>
                <div class="plans-img">
                    <img src="/static/image/site_service/baozhang.svg" alt="">
                </div>
            </div>
        </div>

        <div id="section-5" class="plans">
            <div class="layui-container">
                <div class="plans-img">
                    <img src="/static/image/site_service/baogao.svg" alt="">
                </div>
                <div class="plans-text">
                    <div class="text-head">
                        <img src="/static/image/site_service/icon.svg" alt="">
                        <h6>数据报告</h6>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan lacus vel facilisis. </p>
                    <button>在线咨询</button>
                </div>
            </div>
        </div>

        <!-- “轻”装上阵，玩转企业数字营销5G时代 -->
        <div id="fiveG">
            <div class="hover"></div>
            <div class="layui-container">
                <div class="fiveg-content">
                    <h2>“轻”装上阵，玩转企业数字营销5G时代</h2>
                    <h5>「轻直播」为您提供一站式企业直播解决方案</h5>
                    <button>免费使用</button>
                </div>

            </div>
        </div>
        <!-- 底部 -->
        {include file="common/footer"}
    </div>
</body>
<script src="/static/common/js/header-footer.js"></script>
<script type="text/javascript">
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });
</script>

</html>