<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <title>渠道合作伙伴招募_轻直播_国内领先的企业直播平台</title>
    <meta name="keywords"  content="轻直播,直播视频教程" />
    <meta name="description"
         content="轻直播是国内知名的企业级直播定制化服务平台,服务全球500强,为企业提供医疗直播、手术直播、活动直播、会议直播、营销直播、年会直播等全场景解决方案,热线:400-920-1599。" />
    <link rel="stylesheet" href="/static/css/channel/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type='text/javascript' src="/static/jquery/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script>(function (i, s, o, g, r, a, m) { i["DaoVoiceObject"] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; a.charset = "utf-8"; m.parentNode.insertBefore(a, m) })(window, document, "script", ('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/04cefad5.js", "daovoice")</script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?92c6dedc52f21878f099f29a26b190a0";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div id="channel">
        {include file="common/header"}
        <!--演示演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}
        <div class="banner">
            <!-- <div class="layui-carousel" id="banners">
                <div carousel-item class="lunbo-box">
                    <img src="/static/image/channel/banner.png" alt="">
                    <img src="/static/image/channel/banner.png" alt="">
                </div>
            </div> -->
            <img src="/static/image/channel/banner.png" alt="">

            <div class="layui-container">
                <h3>轻直播渠道合作伙伴招募</h3>
                <h6>立即加入轻直播合作伙伴体系，共同开阔企业直播市场</h6>
                <button id="zixun">合作咨询</button>
            </div>

        </div>

        <nav class="channel-nav">
            <div class="layui-container flex-box">
                <a class="transition active" href="#section-1">合作支持</a>
                <a class="transition" href="#section-2">合作条件</a>
                <a class="transition" href="#section-3">合作流程</a>
                <a class="transition" href="#section-4">合作优势</a>
                <a class="transition" href="#section-5">客户案例</a>
                <a class="transition" href="#section-6">加入合作伙伴</a>
            </div>
        </nav>

        <!-- 多云架构混合云部署 -->
        <div id="section-1" class="jiagou">
            <div class="layui-container flex-box">
                <img class="duoyun" src="/static/image/channel/duoyun.png" alt="">
                <h5>多云架构混合云部署</h5>
                <div class="line"></div>
                <p>混合云部署更像是<span>SAAS</span>应用</p>
                <p>在特定网络环境下，针对集中性高并发观看事件的区域，<span>ECDN</span>定向部署回调数据服务包</p>
                <p>通过中心负载均衡调度与切换分发模式，从源站以较低的带宽获取数据，在不影响用户体验的情景下，降低网路拥塞</p>
                <img class="yin yin-l" src="/static/image/channel/yin-l.png" alt="">
                <img class="yin yin-r" src="/static/image/channel/yin-r.png" alt="">
                <ul class="dot flex-box">
                    <li></li>
                    <li class="active flex-box"><span></span></li>
                    <li></li>
                </ul>
            </div>
        </div>

        <!-- 合作伙伴权益 -->
        <div id="section-4" class="partner">
            <div class="layui-container">
                <div class="title">合作伙伴权益</div>
                <ul class="part-content flex-box">
                    <li class="flex-box">
                        <img src="/static/image/channel/fanli.svg" alt="">
                        <h6>丰厚返利</h6>
                        <p>合作共赢政策，提供高额返点，优惠辅助合作伙伴更好的发展公司、拓展市场。</p>
                    </li>
                    <li class="flex-box">
                        <img src="/static/image/channel/peixun.svg" alt="">
                        <h6>体系化培训</h6>
                        <p>产品理念培训、使用操作培训销售技能培训，随时预约，持续更新内容。</p>
                    </li>
                    <li class="flex-box">
                        <img src="/static/image/channel/yunying.svg" alt="">
                        <h6>运营支持</h6>
                        <p>专业运营团队为合作伙伴提供7x12小时的客户服务支持，做到快速响应。</p>
                    </li>
                    <li class="flex-box">
                        <img src="/static/image/channel/xiaoshou.svg" alt="">
                        <h6>销售支持</h6>
                        <p>客户跟进售前指导，重点大客户全程辅助跟进，持续输出客户成功方案。</p>
                    </li>
                    <li class="flex-box">
                        <img src="/static/image/channel/jishu.svg" alt="">
                        <h6>技术支持</h6>
                        <p>专业的技术运维团队，将为每一位代理商及客户提供全方位的技术保障，保障系统的安全性、稳定性及可靠性。</p>
                    </li>
                    <li class="flex-box">
                        <img src="/static/image/channel/shichang.svg" alt="">
                        <h6>市场支持</h6>
                        <p>轻直播为合作伙伴持续输出宣传页、展会、PPT、案例等销售物料，专属授权服务商贴牌等。</p>
                    </li>
                    <li class="flex-box">
                        <img src="/static/image/channel/chanping.svg" alt="">
                        <h6>产品支持</h6>
                        <p>全方位完善产品，为更多行业提供解决方案；每三周更新迭代一次产品，让产品跟上市场实现销售转化。</p>
                    </li>
                    <li class="flex-box">
                        <img src="/static/image/channel/ziyuan.svg" alt="">
                        <h6>链接资源</h6>
                        <p>帮助优秀的合作伙伴链接资源对接人脉，包括但不限于互联网资源、行业研究及数据资源等</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 希望合作伙伴可以具备的条件 -->
        <div id="section-2" class="part-term">
            <div class="layui-container">
                <div class="title">
                    希望合作伙伴可以具备的条件
                </div>
                <ul class="term-content flex-box">
                    <li class="flex-box">
                        <img src="/static/image/channel/gsi.svg" alt="">
                        <h6>公司资质</h6>
                        <div class="line"></div>
                        <p>公司营业执照完善，具有良好商业信誉和口碑</p>
                    </li>
                    <li></li>
                    <li class="flex-box">
                        <img src="/static/image/channel/kehu.svg" alt="">
                        <h6>客户资源</h6>
                        <div class="line"></div>
                        <p>所在区域或行业有一定的客户资源和品牌效应</p>
                    </li>
                    <li></li>
                    <li class="flex-box">
                        <img src="/static/image/channel/team.svg" alt="">
                        <h6>专业团队</h6>
                        <div class="line"></div>
                        <p>完善成熟的市场团队，健全的售后服务体系</p>
                    </li>
                    <li></li>
                    <li class="flex-box">
                        <img src="/static/image/channel/hezuo.svg" alt="">
                        <h6>共同价值观</h6>
                        <div class="line"></div>
                        <p>认同轻直播的发展前景和价值观，愿共谋长期发展的伙伴</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 如何成为轻直播合作伙伴 -->
        <div id="section-3" class="become-part">
            <div class="layui-container">
                <div class="title">如何成为轻直播合作伙伴</div>
                <ul class="icons flex-box">
                    <li><img src="/static/image/channel/step1.svg" alt=""></li>
                    <li><img src="/static/image/channel/step2.svg" alt=""></li>
                    <li><img src="/static/image/channel/step3.svg" alt=""></li>
                    <li><img src="/static/image/channel/step4.svg" alt=""></li>
                    <li><img src="/static/image/channel/step5.svg" alt=""></li>
                    <li><img src="/static/image/channel/step6.svg" alt=""></li>
                </ul>
                <ul class="dots flex-box">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="text flex-box">
                    <li>1.提交申请</li>
                    <li>2.资质审核</li>
                    <li>3.合作洽谈</li>
                    <li>4.签订协议</li>
                    <li>5.业务培训</li>
                    <li>6.正式运营</li>
                </ul>

                <!-- 合作客户 -->
                <div id="section-5" class="kehu">
                    <div class="layui-carousel" id="logos">
                        <div carousel-item id="logo-content">
                            {if isset($advantage_logo)}
                            {foreach($advantage_logo as $item)}
                            <ul class="logo-imgs">
                                {foreach($item as $val)}
                                <li>
                                    <img src="{$val.img_url}" alt="">
                                </li>
                                {/foreach}
                            </ul>
                            {/foreach}
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="section-6" class="join">
            <div class="layui-container">
                <h3>立即加入，合作共赢</h3>
                <button><a href="http://login.qingtv.com/signUp.html" target="_blank">立即试用</a>
                </button>
            </div>
        </div>

        {include file="common/footer"}
    </div>
</body>
<script src="/static/common/js/header-footer.js"></script>
<script src="/static/common/js/onlineService.js"></script>

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banners'
            , width: '100%' // 设置容器宽度
            , height: '100%'
            , arrow: 'none' // 始终显示箭头
            // , anim: 'updown' // 切换动画方式
            , interval: 3000 // 轮播间隔时间
        });
    });

    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#logos'
            , width: '100%' // 设置容器宽度
            // , height: '100%'
            , arrow: 'none' // 始终显示箭头
            , interval: 3000 // 轮播间隔时间
        });

    });

    $(".transition").click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var $target = $(this.hash);
            $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');
            if ($target.length) {
                var targetOffset = $target.offset().top;
                $('html,body').animate({ scrollTop: targetOffset }, 400);
                return false;
            }
        }
    });

    $('#zixun').click(function () {
        daovoice('show');
    })
</script>

</html>