@media screen and (min-width: 1200px) {
  .layui-container {
    width: 1200px !important;
    padding: 0 !important;
  }
}
#channel .flex-box {
  display: flex;
  align-items: center;
}
#channel .title {
  font-size: 30px;
  color: #333;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 auto;
  text-align: center;
}
#channel .banner {
  height: 600px;
}
#channel .banner .layui-carousel .lunbo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#channel .banner .layui-carousel .layui-carousel-ind {
  display: none;
}
#channel .channel-nav {
  height: 60px;
  box-shadow: 0px 4px 6px 0px rgba(193, 193, 193, 0.28);
  line-height: 60px;
}
#channel .channel-nav .layui-container {
  justify-content: space-between;
}
#channel .channel-nav .layui-container a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}
#channel .channel-nav .layui-container .active {
  color: #00cc99;
  border-bottom: 3px solid #00cc99;
}
#channel .jiagou {
  padding: 68px 0 97px;
}
#channel .jiagou .layui-container {
  flex-direction: column;
  position: relative;
}
#channel .jiagou .layui-container h5 {
  color: #333;
  font-size: 20px;
  margin: 37px 0 21px;
}
#channel .jiagou .layui-container .line {
  width: 144px;
  height: 1px;
  background: #E5E5E5;
  margin-bottom: 22px;
}
#channel .jiagou .layui-container p {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
#channel .jiagou .layui-container p span {
  color: #00cc99;
}
#channel .jiagou .layui-container .yin {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
}
#channel .jiagou .layui-container .yin-l {
  left: 0;
}
#channel .jiagou .layui-container .yin-r {
  right: 0;
}
#channel .jiagou .layui-container .dot {
  margin-top: 80px;
  width: 569px;
  height: 1px;
  background: #E5E5E5;
  padding: 0 113px;
  box-sizing: border-box;
  justify-content: space-between;
}
#channel .jiagou .layui-container .dot li {
  width: 13px;
  height: 13px;
  background: #00CC99;
  border-radius: 50%;
}
#channel .jiagou .layui-container .dot .active {
  width: 28px;
  height: 28px;
  border: 1px solid #00CC99;
  border-radius: 50%;
  background: #fff;
  justify-content: center;
}
#channel .jiagou .layui-container .dot .active span {
  display: block;
  width: 13px;
  height: 13px;
  background: #00CC99;
  border-radius: 50%;
}
#channel .partner {
  padding: 97px 0 133px;
  background: #f2f4f7;
}
#channel .partner .layui-container .title {
  margin-bottom: 127px;
}
#channel .partner .layui-container .part-content {
  flex-wrap: wrap;
}
#channel .partner .layui-container .part-content li {
  width: 266px;
  height: 297px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 34px 37px 0;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 45px 37px 0;
}
#channel .partner .layui-container .part-content li:nth-child(4n) {
  margin: 0 0 37px 0;
}
#channel .partner .layui-container .part-content li h6 {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin: 20px 0 22px;
}
#channel .partner .layui-container .part-content li p {
  text-align: center;
  font-size: 14px;
  color: #999;
  line-height: 1.8;
}
#channel .part-term {
  height: 700px;
  padding: 110px 0 0;
  box-sizing: border-box;
  background: url('/static/image/channel/tiaojian.png') no-repeat;
  background-size: cover;
}
#channel .part-term .layui-container .title {
  color: #fff;
  margin-bottom: 110px;
}
#channel .part-term .layui-container .term-content {
  padding: 0 110px;
  box-sizing: border-box;
}
#channel .part-term .layui-container .term-content li {
  width: 188px;
  flex-direction: column;
}
#channel .part-term .layui-container .term-content li:nth-child(2n) {
  width: 2px;
  height: 232px;
  background: #FFFFFF;
  margin: 0 38px 0;
}
#channel .part-term .layui-container .term-content li h6 {
  color: #fff;
  margin: 45px 0 30px;
  font-size: 20px;
  font-weight: bold;
}
#channel .part-term .layui-container .term-content li .line {
  width: 56px;
  height: 8px;
  background: #00CC99;
  border-radius: 4px;
  margin-bottom: 23px;
}
#channel .part-term .layui-container .term-content li p {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}
#channel .become-part {
  padding: 73px 0 49px;
}
#channel .become-part .layui-container .title {
  margin-bottom: 98px;
}
#channel .become-part .layui-container .icons {
  padding: 0 48px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 35px;
}
#channel .become-part .layui-container .icons li {
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #00CC99;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#channel .become-part .layui-container .dots {
  padding: 0 65px;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  height: 1px;
  background-color: #00cc99;
  margin-bottom: 26px;
}
#channel .become-part .layui-container .dots li {
  width: 18px;
  height: 18px;
  border: 3px solid #9AFFE6;
  border-radius: 50%;
  background-color: #fff;
}
#channel .become-part .layui-container .text {
  padding: 0 33px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 200px;
}
#channel .become-part .layui-container .text li {
  color: #666;
  font-size: 16px;
}
#channel .become-part .layui-container .kehu #logos {
  height: 238px !important;
  background-color: #fff;
}
#channel .become-part .layui-container .kehu #logos #logo-content .logo-imgs {
  height: 100px;
  background-color: #fff !important;
}
#channel .become-part .layui-container .kehu #logos #logo-content .logo-imgs li {
  width: 19%;
  height: 100%;
  display: inline-block;
  position: relative;
}
#channel .become-part .layui-container .kehu #logos #logo-content .logo-imgs li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  object-fit: cover;
}
#channel .become-part .layui-container .kehu #logos .layui-carousel-ind ul {
  background-color: transparent;
}
#channel .become-part .layui-container .kehu #logos .layui-carousel-ind ul li {
  width: 35px;
  height: 7px;
  background: #E5E5E5;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 14px;
}
#channel .become-part .layui-container .kehu #logos .layui-carousel-ind ul .layui-this {
  background: #00AC81;
}
#channel .become-part .layui-container .kehu .layui-carousel > [carousel-item]:before {
  content: '' !important;
}
#channel .join {
  height: 400px;
  background: url('/static/image/channel/join.png') no-repeat;
  background-size: cover;
  padding: 142px 0 0;
  box-sizing: border-box;
}
#channel .join .layui-container h3 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 97px;
  text-align: center;
}
#channel .join .layui-container button {
  width: 168px;
  height: 40px;
  background: linear-gradient(90deg, #009CA9, #39D6AF);
  border-radius: 20px;
  border: 0;
  color: #fff;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  #channel .banner {
    height: 400px;
  }
  #channel .banner .layui-carousel .lunbo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #channel .banner .layui-carousel .layui-carousel-ind {
    display: none;
  }
  #channel .channel-nav {
    height: 50px;
    line-height: 50px;
  }
  #channel .channel-nav .layui-container a {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
  #channel .jiagou {
    padding: 38px 0 47px;
  }
  #channel .jiagou .layui-container h5 {
    color: #333;
    font-size: 20px;
    margin: 37px 0 21px;
  }
  #channel .jiagou .layui-container .line {
    width: 144px;
    height: 1px;
    background: #E5E5E5;
    margin-bottom: 22px;
  }
  #channel .jiagou .layui-container p {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    letter-spacing: 1px;
  }
  #channel .jiagou .layui-container p span {
    color: #00cc99;
  }
  #channel .jiagou .layui-container .yin {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
  }
  #channel .jiagou .layui-container .yin-l {
    left: 0;
  }
  #channel .jiagou .layui-container .yin-r {
    right: 0;
  }
  #channel .jiagou .layui-container .dot {
    margin-top: 80px;
    width: 569px;
    height: 1px;
    background: #E5E5E5;
    padding: 0 113px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  #channel .jiagou .layui-container .dot li {
    width: 13px;
    height: 13px;
    background: #00CC99;
    border-radius: 50%;
  }
  #channel .jiagou .layui-container .dot .active {
    width: 28px;
    height: 28px;
    border: 1px solid #00CC99;
    border-radius: 50%;
    background: #fff;
    justify-content: center;
  }
  #channel .jiagou .layui-container .dot .active span {
    display: block;
    width: 13px;
    height: 13px;
    background: #00CC99;
    border-radius: 50%;
  }
}
