@media screen and (min-width: 1200px) {
    .layui-container {
        width: 1200px !important;
        padding: 0 !important;
    }
}

#channel {
    .flex-box {
        display: flex;
        align-items: center;
    }

    .title {
        font-size: 30px;
        color: #333;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 0 auto;
        text-align: center;
    }

    .banner {
        height: 600px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: 0;

        }

        .layui-container {
            padding: 129px 0 0 !important;
            box-sizing: border-box;

            h3 {
                color: #fff;
                font-size: 50px;
                text-align: center;
            }

            h6 {
                color: #fff;
                font-size: 30px;
                text-align: center;
                margin: 77px 0;
            }

            button {
                width: 210px;
                height: 60px;
                background: #FFFFFF;
                border-radius: 30px;
                border: 0;
                display: block;
                margin: 0 auto;
                color: #00cc99;
                font-size: 20px;
                text-align: center;
                line-height: 60px;
                cursor: pointer;

            }
        }

        .layui-carousel {
            .lunbo-box {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .layui-carousel-ind {
                display: none;
            }
        }
    }

    .channel-nav {
        height: 60px;
        box-shadow: 0px 4px 6px 0px rgba(193, 193, 193, 0.28);
        line-height: 60px;

        .layui-container {
            justify-content: space-between;

            a {
                display: inline-block;
                height: 60px;
                line-height: 60px;
                font-size: 16px;
                color: #333;
                box-sizing: border-box;
            }

            .active {
                color: #00cc99;
                border-bottom: 3px solid #00cc99;
            }
        }
    }

    .jiagou {
        padding: 68px 0 97px;

        .layui-container {
            flex-direction: column;
            position: relative;

            h5 {
                color: #333;
                font-size: 20px;
                margin: 37px 0 21px;
            }

            .line {
                width: 144px;
                height: 1px;
                background: #E5E5E5;
                margin-bottom: 22px;
            }

            p {
                font-size: 16px;
                color: #333;
                margin-bottom: 8px;
                letter-spacing: 1px;

                span {
                    color: #00cc99;
                }
            }

            .yin {
                position: absolute;
                top: 65%;
                transform: translateY(-50%);
            }

            .yin-l {
                left: 0;

            }

            .yin-r {
                right: 0;

            }

            .dot {
                margin-top: 80px;
                width: 569px;
                height: 1px;
                background: #E5E5E5;
                padding: 0 113px;
                box-sizing: border-box;
                justify-content: space-between;

                li {
                    width: 13px;
                    height: 13px;
                    background: #00CC99;
                    border-radius: 50%;
                }

                .active {
                    width: 28px;
                    height: 28px;
                    border: 1px solid #00CC99;
                    border-radius: 50%;
                    background: #fff;
                    justify-content: center;

                    span {
                        display: block;
                        width: 13px;
                        height: 13px;
                        background: #00CC99;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .partner {
        padding: 97px 0 133px;
        background: #f2f4f7;

        .layui-container {
            .title {
                margin-bottom: 127px;
            }

            .part-content {
                flex-wrap: wrap;

                li {
                    width: 266px;
                    height: 297px;
                    background: #FFFFFF;
                    border-radius: 10px;
                    padding: 34px 37px 0;
                    box-sizing: border-box;
                    flex-direction: column;
                    margin: 0 45px 37px 0;

                    &:nth-child(4n) {
                        margin: 0 0 37px 0;
                    }

                    h6 {
                        font-size: 20px;
                        color: #333;
                        font-weight: bold;
                        text-align: center;
                        margin: 20px 0 22px;
                    }

                    p {
                        text-align: center;
                        font-size: 14px;
                        color: #999;
                        line-height: 1.8;
                    }
                }
            }
        }
    }

    .part-term {
        height: 700px;
        padding: 110px 0 0;
        box-sizing: border-box;
        background: url('/static/image/channel/tiaojian.png') no-repeat;
        background-size: cover;

        .layui-container {
            .title {
                color: #fff;
                margin-bottom: 110px;
            }

            .term-content {
                padding: 0 110px;
                box-sizing: border-box;

                li {
                    width: 188px;
                    flex-direction: column;

                    &:nth-child(2n) {
                        width: 2px;
                        height: 232px;
                        background: #FFFFFF;
                        margin: 0 38px 0;

                    }

                    h6 {
                        color: #fff;
                        margin: 45px 0 30px;
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .line {
                        width: 56px;
                        height: 8px;
                        background: #00CC99;
                        border-radius: 4px;
                        margin-bottom: 23px;

                    }

                    p {
                        color: #fff;
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
            }
        }

    }

    .become-part {
        padding: 73px 0 49px;
        background-color: #fff;
        .layui-container {
            .title {
                margin-bottom: 98px;
            }

            .icons {
                padding: 0 48px;
                box-sizing: border-box;
                justify-content: space-between;
                margin-bottom: 35px;

                li {
                    width: 50px;
                    height: 50px;
                    background: #FFFFFF;
                    border: 1px solid #00CC99;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .dots {
                padding: 0 65px;
                box-sizing: border-box;
                justify-content: space-between;
                width: 100%;
                height: 1px;
                background-color: #00cc99;
                margin-bottom: 26px;

                li {
                    width: 18px;
                    height: 18px;
                    border: 3px solid #9AFFE6;
                    border-radius: 50%;
                    background-color: #fff;
                }
            }

            .text {
                padding: 0 33px;
                box-sizing: border-box;
                justify-content: space-between;
                // margin-bottom: 200px;

                li {
                    color: #666;
                    font-size: 16px;
                }
            }

            .kehu {
                padding-top: 200px;
                #logos {
                    height: 238px !important;
                    background-color: #fff;

                    #logo-content {
                        .logo-imgs {
                            height: 100px;
                            background-color: #fff !important;
                            // display: flex;
                            // align-items: center;

                            li {
                                width: 19%;
                                height: 100%;
                                display: inline-block;
                                // justify-content: center;
                                // align-items: center;
                                position: relative;

                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    height: 80px;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    .layui-carousel-ind {
                        ul {
                            background-color: transparent;

                            li {
                                width: 35px;
                                height: 7px;
                                background: #E5E5E5;
                                border-radius: 4px;
                                margin: 0 10px;
                                font-size: 14px;
                            }

                            .layui-this {
                                background: #00AC81;
                            }
                        }
                    }
                }

                .layui-carousel>[carousel-item]:before {
                    content: '' !important;
                }
            }
        }
    }

    .join {
        height: 400px;
        background: url('/static/image/channel/join.png') no-repeat;
        background-size: cover;
        padding: 142px 0 0;
        box-sizing: border-box;

        .layui-container {
            h3 {
                font-size: 50px;
                color: #fff;
                margin-bottom: 97px;
                text-align: center;
            }

            button {
                width: 168px;
                height: 40px;
                background: linear-gradient(90deg, #009CA9, #39D6AF);
                border-radius: 20px;
                border: 0;
                color: #fff;
                font-size: 20px;
                display: block;
                margin: 0 auto;
                cursor: pointer;
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1300px) {
        .title {
            font-size: 24px;
        }

        .banner {
            height: 400px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                z-index: 0;

            }

            .layui-container {
                padding: 89px 0 0 !important;
                box-sizing: border-box;

                h3 {
                    font-size: 35px;
                }

                h6 {
                    color: #fff;
                    font-size: 22px;
                    text-align: center;
                    margin: 57px 0;
                }

                button {
                    width: 170px;
                    height: 50px;
                    font-size: 16px;
                    line-height: 50px;

                }
            }

            .layui-carousel {
                .lunbo-box {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .layui-carousel-ind {
                    display: none;
                }
            }
        }

        .channel-nav {
            height: 50px;
            line-height: 50px;

            .layui-container {

                a {
                    height: 50px;
                    line-height: 50px;
                    font-size: 14px;
                }
            }
        }

        .jiagou {
            padding: 38px 0 47px;

            .layui-container {
                width: 100% !important;

                .duoyun {
                    width: 90px;
                    height: 90px;
                }

                h5 {
                    font-size: 16px;
                    margin: 25px 0 15px;
                }

                .line {
                    width: 144px;
                    height: 1px;
                    margin-bottom: 18px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 6px;
                    letter-spacing: .5px;
                }

                .yin {
                    top: 58%;
                    width: 25px;
                    height: 25px;
                }

                .yin-l {
                    left: 30px;

                }

                .yin-r {
                    right: 30px;

                }

                .dot {
                    margin-top: 50px;
                    width: 569px;
                    height: 1px;
                    padding: 0 113px;

                    li {
                        width: 13px;
                        height: 13px;
                        background: #00CC99;
                        border-radius: 50%;
                    }

                    .active {
                        width: 28px;
                        height: 28px;
                        border: 1px solid #00CC99;
                        border-radius: 50%;
                        background: #fff;
                        justify-content: center;

                        span {
                            display: block;
                            width: 13px;
                            height: 13px;
                            background: #00CC99;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .partner {
            padding: 47px 0 63px;

            .layui-container {
                width: 100% !important;

                .title {
                    margin-bottom: 57px;
                }

                .part-content {
                    flex-wrap: wrap;

                    li {
                        width: 23.5%;
                        height: 227px;
                        padding: 18px 20px 0;
                        margin: 0 2% 2% 0;

                        &:nth-child(4n) {
                            margin: 0 0 2% 0;
                        }

                        img {
                            width: 40px;
                            height: 48px;
                        }

                        h6 {
                            font-size: 16px;
                            margin: 14px 0 16px;
                        }

                        p {
                            font-size: 14px;
                            line-height: 1.5;

                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 4;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .part-term {
            height: 450px;
            padding: 70px 0 0;

            .layui-container {
                width: 100% !important;

                .title {
                    margin-bottom: 60px;
                }

                .term-content {
                    padding: 0 80px;

                    li {
                        width: 188px;
                        flex-direction: column;

                        &:nth-child(2n) {
                            width: 2px;
                            height: 232px;
                            margin: 0 30px 0;

                        }

                        img {
                            width: 48px;
                        }

                        h6 {
                            margin: 35px 0 20px;
                            font-size: 16px;
                            font-weight: bold;
                        }

                        .line {
                            width: 46px;
                            height: 6px;
                            margin-bottom: 18px;

                        }

                        p {
                            font-size: 12px;
                            line-height: 1.5;
                        }
                    }
                }
            }

        }

        .become-part {
            padding: 43px 0 39px;

            .layui-container {
                width: 95% !important;

                .title {
                    margin-bottom: 68px;
                }

                .icons {
                    padding: 0 48px;
                    margin-bottom: 35px;

                    li {
                        width: 40px;
                        height: 40px;

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                .dots {
                    padding: 0 60px;
                    margin-bottom: 22px;

                    li {
                        width: 15px;
                        height: 15px;
                        border: 2px solid #9AFFE6;
                    }
                }

                .text {
                    padding: 0 30px;
                    // margin-bottom: 100px;

                    li {
                        font-size: 14px;
                    }
                }

                .kehu {
                    padding-top: 100px;
                    #logos {
                        height: 180px !important;

                        #logos>[carousel-item] {
                            width: 85% !important;
                            margin: 0 auto !important;

                            .logo-imgs {
                                height: 80px;
                                background-color: #fff !important;

                                li {
                                    img {
                                        width: 80px;
                                        height: 80px;
                                    }
                                }
                            }
                        }

                        .layui-carousel-ind {
                            ul {
                                background-color: transparent;

                                li {
                                    width: 30px;
                                    height: 6px;
                                    border-radius: 4px;
                                    margin: 0 4px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    .layui-carousel>[carousel-item]:before {
                        content: '' !important;
                    }
                }
            }
        }

        .join {
            height: 300px;
            padding: 82px 0 0;

            .layui-container {
                h3 {
                    font-size: 35px;
                    margin-bottom: 67px;
                }

                button {
                    width: 148px;
                    height: 40px;
                    font-size: 16px;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        .title {
            font-size: 18px;
        }

        .banner {
            height: 240px;
            position: relative;

            .layui-container {
                padding: 59px 0 0 !important;
                box-sizing: border-box;

                h3 {
                    font-size: 20px;
                }

                h6 {
                    font-size: 14px;
                    margin: 37px 0;
                }

                button {
                    width: 130px;
                    height: 34px;
                    font-size: 14px;
                    line-height: 34px;

                }
            }

            .layui-carousel {
                .lunbo-box {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .layui-carousel-ind {
                    display: none;
                }
            }
        }

        .channel-nav {
            height: 45px;
            line-height: 45px;

            .layui-container {
                padding: 0 5px !important;

                a {
                    height: 45px;
                    line-height: 45px;
                    font-size: 12px;
                }
            }
        }

        .jiagou {
            padding: 23px 0 40px;

            .layui-container {
                width: 100% !important;

                .duoyun {
                    width: 50px;
                    height: 50px;
                }

                h5 {
                    font-size: 14px;
                    margin: 20px 0 12px;
                }

                .line {
                    width: 124px;
                    height: 1px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 12px;
                    margin-bottom: 6px;
                    letter-spacing: 0;
                    text-align: center;
                }

                .yin {
                    display: none;
                }

                .dot {
                    width: 90%;
                    margin: 0 auto;
                    margin-top: 30px;

                    height: 1px;
                    padding: 0 10%;

                    li {
                        width: 8px;
                        height: 8px;
                    }

                    .active {
                        width: 20px;
                        height: 20px;

                        span {
                            width: 8px;
                            height: 8px;
                            background: #00CC99;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .partner {
            padding: 27px 0 33px;

            .layui-container {
                width: 100% !important;

                .title {
                    margin-bottom: 37px;
                }

                .part-content {
                    flex-wrap: wrap;

                    li {
                        width: 49%;
                        height: 177px;
                        padding: 13px 17px 0;
                        margin: 0 2% 2% 0;

                        &:nth-child(2n) {
                            margin: 0 0 2% 0;
                        }

                        img {
                            width: 30px;
                            height: 38px;
                        }

                        h6 {
                            font-size: 14px;
                            margin: 10px 0 12px;
                        }

                        p {
                            font-size: 12px;
                            line-height: 1.5;

                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 4;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .part-term {
            height: 430px;
            padding: 30px 0 0;

            .layui-container {
                width: 100% !important;
                padding: 0 10px !important;

                .title {
                    margin-bottom: 30px;
                }

                .term-content {
                    padding: 0px;
                    flex-wrap: wrap;

                    li {
                        width: 45%;
                        flex-direction: column;
                        margin-bottom: 40px;

                        &:nth-child(2n) {
                            width: 2px;
                            height: 112px;
                            margin: 0 15px 0;

                        }

                        &:nth-child(4) {
                            display: none;
                        }

                        img {
                            width: 32px;
                        }

                        h6 {
                            margin: 12px 0 10px;
                            font-size: 14px;
                            font-weight: bold;
                        }

                        .line {
                            width: 46px;
                            height: 5px;
                            margin-bottom: 12px;

                        }

                        p {
                            font-size: 12px;
                            line-height: 1.5;
                            text-align: center;
                        }
                    }
                }
            }

        }

        .become-part {
            padding: 33px 0 10px;

            .layui-container {
                width: 100% !important;
                padding: 0 10px !important;

                .title {
                    margin-bottom: 30px;
                }

                .icons {
                    padding: 0 25px;
                    margin-bottom: 20px;

                    li {
                        width: 32px;
                        height: 32px;

                        img {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }

                .dots {
                    padding: 0 32px;
                    margin-bottom: 22px;

                    li {
                        width: 13px;
                        height: 13px;
                        border: 2px solid #9AFFE6;
                    }
                }

                .text {
                    padding: 0 15px;
                    // margin-bottom: 30px;

                    li {
                        width: 12%;
                        font-size: 12px;
                        text-align: center;
                    }
                }

                .kehu {
                    padding-top: 50px;
                    #logos {
                        height: 160px !important;

                        #logo-content {
                            .logo-imgs {
                                height: 70px;

                                li {
                                    width: 19%;
                                    height: 100%;

                                    img {
                                        width: 100%;
                                        height: 70px;
                                    }
                                }
                            }
                        }

                        .layui-carousel-ind {
                            margin-top: -10px;

                            ul {
                                background-color: transparent;

                                li {
                                    width: 30px;
                                    height: 5px;
                                    border-radius: 4px;
                                    margin: 0 10px;
                                    font-size: 14px;
                                }

                                .layui-this {
                                    background: #00AC81;
                                }
                            }
                        }
                    }

                    .layui-carousel>[carousel-item]:before {
                        content: '' !important;
                    }
                }
            }
        }

        .join {
            height: 200px;
            padding: 52px 0 0;

            .layui-container {
                h3 {
                    font-size: 24px;
                    margin-bottom: 37px;
                }

                button {
                    width: 108px;
                    height: 26px;
                    font-size: 12px;
                }
            }
        }
    }
}