@media screen and (min-width: 1200px) {
  .layui-container {
    width: 1200px !important;
    padding: 0 !important;
  }
}
@media screen and (min-width: 1195px) and (max-width: 1250px) {
  .layui-container {
    width: 1150px !important;
  }
}
#index {
  background-color: #f2f4f7;
  position: relative;
}
#index .title {
  font-size: 30px;
  color: #333;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 auto;
  text-align: center;
}
#banner {
  height: 600px;
  position: relative;
}
#banner .layui-carousel #banners .layui-carousel > [carousel-item] .banner-item {
  position: relative;
}
#banner .layui-carousel .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
#banner .layui-carousel .text-left {
  position: absolute;
  top: 25%;
  left: 20%;
}
#banner .layui-carousel .text-left h2 {
  font-size: 45px;
  font-weight: bold;
  color: #1DECFF;
  background: linear-gradient(257deg, #73FFE0 0%, #3EC0A5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
#banner .layui-carousel .text-left h5 {
  color: #fff;
  opacity: 0.8;
  font-size: 16px;
  width: 70%;
  margin: 78px 0 103px;
  line-height: 1.5;
}
#banner .layui-carousel .text-left .banner-a {
  z-index: 10;
  display: block;
  width: 167px;
  height: 44px;
  border: 1px solid #FFFFFF;
  color: #fff;
  text-align: center;
  line-height: 44px;
  font-size: 18px;
}
#banner .layui-carousel .text-center {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
#banner .layui-carousel .text-center h5 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#banner .layui-carousel .text-center h2 {
  font-size: 45px;
  font-weight: bold;
  color: #1DECFF;
  background: linear-gradient(257deg, #73FFE0 0%, #3EC0A5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
#banner .layui-carousel .text-center h5 {
  color: #fff;
  opacity: 0.8;
  font-size: 16px;
  width: 100%;
  margin: 78px 0 103px;
  line-height: 1.5;
  text-align: center;
}
#banner .layui-carousel .text-center .banner-a {
  margin: 0 auto;
}
#banner .layui-carousel .text-right {
  position: absolute;
  top: 25%;
  right: 16%;
}
#banner .layui-carousel .text-right h2 {
  font-size: 45px;
  font-weight: bold;
  color: #1DECFF;
  background: linear-gradient(257deg, #73FFE0 0%, #3EC0A5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
#banner .layui-carousel .text-right h5 {
  width: 80%;
  margin-left: 100%;
  margin: 78px 0 103px;
  text-align: left;
  color: #fff;
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.5;
}
#banner .layui-carousel .text-right .banner-a {
  float: left;
}
#banner .layui-carousel .layui-carousel-ind {
  display: none !important;
}
#banner .icons {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
}
#banner .icons ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#banner .icons ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#banner .icons ul li div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 5px;
}
#banner .icons ul li div img {
  width: 28px;
  height: 28px;
  object-fit: cover;
}
#banner .icons ul li p {
  font-size: 18px;
  color: #fff;
}
#banner #high-lights {
  position: absolute;
  bottom: -9.5%;
  left: 50%;
  transform: translateX(-50%);
  height: 110px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px rgba(193, 193, 193, 0.36);
  border-radius: 10px;
}
#banner #high-lights .stars {
  display: flex;
  padding: 30px 20px;
  box-sizing: border-box;
}
#banner #high-lights .stars li {
  width: 16.6%;
  border-right: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#banner #high-lights .stars li a {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#banner #high-lights .stars li a div {
  display: flex;
  align-items: center;
}
#banner #high-lights .stars li a div img {
  width: 27px;
  object-fit: cover;
  margin-right: 8px;
}
#banner #high-lights .stars li a div h6 {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
#banner #high-lights .stars li a p {
  color: #999;
  font-size: 12px;
  margin-top: 16px;
  letter-spacing: 1px;
}
#banner #high-lights .stars li a:hover h6 {
  color: #00cc99;
}
#banner #high-lights .stars li:nth-child(6) {
  border-right: 0;
}
#product {
  padding-top: 129px;
  box-sizing: border-box;
}
#product .product-content {
  width: 100%;
  margin: 0 auto;
  margin-top: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
#product .product-content .product-item {
  width: 32%;
  height: 272px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px rgba(193, 193, 193, 0.36);
  border-radius: 10px;
}
#product .product-content .product-item .item-head {
  display: flex;
  align-items: center;
  height: 61px;
  border-bottom: 1px solid #E5E5E5;
}
#product .product-content .product-item .item-head img {
  width: 30px;
  margin: 0 21px 0 11.5%;
}
#product .product-content .product-item .item-head h5 {
  width: 55%;
  text-align: center;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
#product .product-content .product-item .item-body {
  height: 166px;
  padding: 31px 30px 0;
  box-sizing: border-box;
}
#product .product-content .product-item .item-body p {
  color: #666;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.5px;
}
#product .product-content .product-item .item-footer {
  height: calc(100% - 227px);
  display: flex;
  align-items: center;
}
#product .product-content .product-item .item-footer button {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
}
#product .product-content .product-item .item-footer button a {
  color: #333;
}
#product .product-content .product-item .item-footer .more {
  border-radius: 0 0 0 10px;
  background-color: #e5e5e5;
}
#product .product-content .product-item .item-footer .free {
  background-color: #00cc99;
  border-radius: 0 0 10px 0;
}
#product .product-content .product-item .item-footer .free a {
  color: #fff;
}
#light-live {
  background-color: #fff;
  padding-top: 70px;
}
#light-live .title {
  margin-bottom: 91px;
}
#light-live .live-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 65px;
  box-sizing: border-box;
}
#light-live .live-content .live-item .item-top {
  color: #00cc99;
  display: flex;
  align-items: center;
}
#light-live .live-content .live-item .item-top .nums {
  font-size: 60px;
  font-weight: bold;
  margin: 0 5px;
}
#light-live .live-content .live-item .item-top span {
  font-size: 30px;
  margin: 0 10px;
}
#light-live .live-content .live-item .item-bottom {
  padding-left: 8px;
  margin-top: 30px;
  font-size: 18px;
  color: #333333;
}
#advantage {
  width: 100%;
  background: url('/static/image/index/youshi.png') no-repeat;
  background-size: cover;
  position: relative;
  padding: 65px 0 65px;
  box-sizing: border-box;
}
#advantage .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 47, 35, 0.7);
  z-index: 0;
}
#advantage .title {
  color: #fff;
  margin-bottom: 60px;
}
#advantage .advantage-content {
  display: flex;
  align-items: center;
}
#advantage .advantage-content .content-left {
  width: 269px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 120px;
}
#advantage .advantage-content .content-left .left-item {
  height: 71px;
  width: 269px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
}
#advantage .advantage-content .content-left .left-item div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 269px;
  height: 100%;
  position: relative;
}
#advantage .advantage-content .content-left .left-item div img {
  width: 26px;
  height: 26px;
}
#advantage .advantage-content .content-left .left-item div h5 {
  font-size: 25px;
  color: #fff;
  margin-left: 30px;
}
#advantage .advantage-content .content-left .active {
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 3px solid #00cc99;
}
#advantage .advantage-content .content-left .active div h5 {
  color: #00cc99;
}
#advantage .advantage-content .content-left .active span {
  display: block;
}
#advantage .advantage-content .content-right {
  height: 320px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
#advantage .advantage-content .content-right .right-item {
  display: none;
}
#advantage .advantage-content .content-right .right-item h6 {
  height: 50px;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 30px;
}
#advantage .advantage-content .content-right .right-item .text-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 14px;
}
#advantage .advantage-content .content-right .right-item .text-box li {
  width: 45%;
  height: 55px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
#advantage .advantage-content .content-right .right-item .text-box li img {
  width: 40px;
  height: 40px;
  margin-right: 21px;
}
#advantage .advantage-content .content-right .right-item .text-box li p {
  width: 60%;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.3px;
  box-sizing: border-box;
}
#advantage .advantage-content .content-right .right-item button {
  width: 130px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  float: right;
}
#advantage .advantage-content .content-right .right-item button a {
  font-size: 14px;
  color: #fff;
}
#advantage .advantage-content .content-right .right-item button:hover {
  background-color: #00cc99;
  border: 0;
}
#advantage .advantage-content .content-right .right-item button:hover a {
  color: #fff;
}
#advantage .advantage-content .content-right .actives {
  display: block;
}
#solve {
  padding-top: 76px;
}
#solve .title {
  margin-bottom: 67px;
}
#solve .solve-content {
  width: 92%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
#solve .solve-content .solve-item {
  width: 22%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3%;
  margin-right: 3.5%;
  box-shadow: 0px 4px 20px 1px rgba(193, 193, 193, 0.51);
  border-radius: 10px;
}
#solve .solve-content .solve-item:hover {
  background-color: #00cc99;
}
#solve .solve-content .solve-item:hover h6,
#solve .solve-content .solve-item:hover p {
  color: #fff;
}
#solve .solve-content .solve-item:nth-child(4n) {
  margin-right: 0;
}
#solve .solve-content .solve-item img {
  height: 130px;
  width: 100%;
}
#solve .solve-content .solve-item .text {
  padding: 15px 30px 0;
}
#solve .solve-content .solve-item .text h6 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}
#solve .solve-content .solve-item .text p {
  margin-bottom: 25px;
  font-size: 12px;
}
#solve .solve-content .solve-item .text img {
  width: 20px;
  height: 10px;
  float: right;
  margin-bottom: 13px;
}
#solve button {
  width: 15%;
  height: 40px;
  display: block;
  font-size: 14px;
  color: #00cc99;
  border: 1px solid #00cc99;
  outline: none;
  background-color: transparent;
  border-radius: 20px;
  margin: 12px auto 46px;
  cursor: pointer;
}
#solve button:hover {
  background-color: #00cc99;
  border: 0;
  color: #fff;
}
#qiye {
  background-color: #fff;
  padding: 60px 0 20px;
}
#qiye .title {
  margin-bottom: 70px;
}
#qiye nav {
  width: 90%;
  margin: 0 auto 70px;
}
#qiye nav .logo-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#qiye nav .logo-title .active {
  background-color: #00cc99;
  border-radius: 20px;
}
#qiye nav .logo-title .active span {
  color: #fff;
}
#qiye nav .logo-title li {
  cursor: pointer;
  height: 32px;
  width: 8%;
  margin: 0 auto;
  line-height: 32px;
  text-align: center;
  padding: 0 15px;
  position: relative;
}
#qiye nav .logo-title li span {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
  text-align: center;
}
#qiye nav .logo-title li:after,
#qiye nav .logo-title li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 32px;
  background: #fff;
  z-index: -2;
  border-radius: 20px;
}
#qiye nav .logo-title li:hover {
  z-index: 1;
  background: transparent;
}
#qiye nav .logo-title li:hover span {
  color: #fff;
}
#qiye nav .logo-title li:before {
  transition: 0.4s;
  background: #00cc99;
  z-index: -1;
}
#qiye nav .logo-title li:hover:after,
#qiye nav .logo-title li:hover:before {
  width: 100%;
}
#qiye .logo-box .logo-imgs {
  display: none;
}
#qiye .logo-box .logo-imgs li {
  width: 13.5%;
  height: 67px;
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 62px;
}
#qiye .logo-box .logo-imgs li:nth-child(6n) {
  margin-right: 0px;
}
#qiye .logo-box .logo-imgs li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#qiye .logo-box .active {
  display: block;
}
#college {
  background-color: #f2f4f7;
  padding: 60px 0 75px;
}
#college .title {
  margin-bottom: 62px;
}
#college .college-content {
  display: flex;
  align-items: center;
}
#college .college-content .college-left {
  width: 36%;
  height: 450px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px 1px rgba(193, 193, 193, 0.3);
  border-radius: 10px;
  margin-right: 46px;
}
#college .college-content .college-left .layui-carousel {
  border-radius: 10px;
}
#college .college-content .college-left .layui-carousel .lunbo-box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#college .college-content .college-left .layui-carousel .lunbo-box .lunbo-item {
  width: 100%;
  height: 100%;
  padding-bottom: 9px;
  box-sizing: border-box;
}
#college .college-content .college-left .layui-carousel .lunbo-box .lunbo-item img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 35px;
}
#college .college-content .college-left .layui-carousel .lunbo-box .lunbo-item .text-box {
  padding-left: 15px;
}
#college .college-content .college-left .layui-carousel .lunbo-box .lunbo-item .text-box h6 {
  font-size: 16px;
  color: #333;
  letter-spacing: 2px;
  line-height: 1.7;
  margin-bottom: 30px;
}
#college .college-content .college-left .layui-carousel .lunbo-box .lunbo-item .text-box p {
  font-size: 14px;
  color: #666;
  letter-spacing: 1.5px;
  line-height: 1.6;
}
#college .college-content .college-left .layui-carousel .layui-carousel-ind {
  position: absolute;
  top: 92%;
}
#college .college-content .college-left .layui-carousel .layui-carousel-ind ul {
  background-color: transparent;
}
#college .college-content .college-left .layui-carousel .layui-carousel-ind ul li {
  width: 9px;
  height: 9px;
  background: #ccc;
  border-right: 50%;
  margin: 0 8px;
}
#college .college-content .college-left .layui-carousel .layui-carousel-ind ul .layui-this {
  background-color: #34DBB1;
}
#college .college-content .college-right {
  width: 57%;
  height: 448px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px 1px rgba(193, 193, 193, 0.3);
  border-radius: 10px;
  padding: 26px 0 0 20px;
  box-sizing: border-box;
}
#college .college-content .college-right ul {
  background-color: #fff;
}
#college .college-content .college-right ul li {
  display: flex;
  padding-bottom: 25px;
  cursor: pointer;
  box-sizing: border-box;
}
#college .college-content .college-right ul li .type {
  width: 110px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  background: #00cc99;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  margin-right: 42px;
}
#college .college-content .college-right ul li .titles {
  width: 71%;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 20px;
}
#college .college-content .college-right ul li .titles h6 {
  font-size: 16px;
  color: #333;
  margin-bottom: 14px;
  letter-spacing: 2px;
}
#college .college-content .college-right ul li .titles p {
  font-size: 12px;
  color: #666;
  letter-spacing: 1px;
  line-height: 1.8;
}
#college .college-content .college-right ul li .titles span {
  font-size: 12px;
  color: #666;
  float: right;
}
#college .college-content .college-right ul li:last-child .titles {
  border: 0;
  padding-bottom: 0px;
}
#college .college-content .college-right .layui-carousel {
  border-radius: 10px;
}
#college .college-content .college-right .layui-carousel .layui-carousel-ind {
  display: none !important;
}
#college .college-content .college-right .layui-carousel > [carousel-item] {
  border-radius: 10px;
}
#fiveG {
  height: 500px;
  background: url('/static/image/index/fiveG.png') no-repeat;
  background-size: cover;
  position: relative;
}
#fiveG .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 47, 35, 0.7);
  z-index: 0;
}
#fiveG .fiveg-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 0 0;
  box-sizing: border-box;
}
#fiveG .fiveg-content h2 {
  font-size: 50px;
  color: #fff;
  text-align: center;
}
#fiveG .fiveg-content h5 {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
  margin: 31px auto 68px;
}
#fiveG .fiveg-content button {
  width: 31%;
  height: 60px;
  border: 0;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
#fiveG .fiveg-content button a {
  font-size: 30px;
  color: #FFFFFF;
}
#fiveG .fiveg-content button:hover {
  background-color: #00cc99;
  border: 0;
}
#fiveG .fiveg-content button:hover a {
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  #banner {
    height: 400px;
  }
  #banner .layui-carousel .text-left {
    position: absolute;
    top: 17%;
    left: 13%;
  }
  #banner .layui-carousel .text-left h2 {
    font-size: 32px !important;
    text-align: left;
  }
  #banner .layui-carousel .text-left h5 {
    font-size: 14px !important;
    width: 70%;
    margin: 48px 0 63px !important;
    line-height: 1.5;
  }
  #banner .layui-carousel .text-left .banner-a {
    width: 127px !important;
    height: 38px !important;
    line-height: 38px !important;
    font-size: 14px !important;
  }
  #banner .layui-carousel .text-center {
    position: absolute;
    top: 17% !important;
    left: 50%;
    transform: translateX(-50%);
  }
  #banner .layui-carousel .text-center h2 {
    font-size: 32px !important;
    text-align: center !important;
  }
  #banner .layui-carousel .text-center h5 {
    font-size: 14px;
    width: 100% !important;
    margin: 48px 0 63px !important;
    line-height: 1.5;
    text-align: center !important;
  }
  #banner .layui-carousel .text-center .banner-a {
    margin: 0 auto;
    width: 127px !important;
    height: 38px !important;
    line-height: 38px !important;
    font-size: 14px !important;
  }
  #banner .layui-carousel .text-right {
    position: absolute;
    top: 15%;
    right: 5%;
  }
  #banner .layui-carousel .text-right h2 {
    font-size: 35px !important;
    text-align: right !important;
  }
  #banner .layui-carousel .text-right h5 {
    width: 100% !important;
    margin-left: 100%;
    margin: 38px 0 63px !important;
    text-align: right !important;
    font-size: 14px !important;
    line-height: 1.5;
  }
  #banner .layui-carousel .text-right .banner-a {
    width: 127px !important;
    height: 38px !important;
    line-height: 38px !important;
    font-size: 14px !important;
    float: right !important;
  }
  #banner .icons {
    width: 51%;
  }
  #banner .icons ul li div {
    width: 40px;
    height: 40px;
  }
  #banner .icons ul li div img {
    width: 20px;
    height: 20px;
  }
  #banner .icons ul li p {
    font-size: 14px;
  }
  #banner #high-lights {
    height: 90px;
    width: 80%;
    bottom: -11.5%;
  }
  #banner #high-lights .layui-container {
    width: 100% !important;
  }
  #banner #high-lights .layui-container .stars {
    padding: 18px 20px;
  }
  #banner #high-lights .layui-container .stars li a div img {
    width: 22px;
  }
  #banner #high-lights .layui-container .stars li a p {
    margin-top: 12px;
    letter-spacing: 0;
  }
  #product {
    padding-top: 141px;
  }
  #product .product-content {
    margin: 50px auto 70px;
  }
  #product .product-content .product-item {
    height: 230px;
  }
  #product .product-content .product-item .item-head {
    height: 45px;
  }
  #product .product-content .product-item .item-head img {
    width: 25px;
  }
  #product .product-content .product-item .item-head img h5 {
    font-size: 18px;
  }
  #product .product-content .product-item .item-body {
    height: 140px;
    padding: 20px 20px 0;
  }
  #product .product-content .product-item .item-footer {
    height: calc(100% - 186px);
  }
  #light-live {
    padding-top: 50px;
  }
  #light-live .title {
    margin-bottom: 60px;
  }
  #light-live .live-content {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  #light-live .live-content .live-item .item-top .nums {
    font-size: 50px;
  }
  #light-live .live-content .live-item .item-top span {
    font-size: 25px;
  }
  #light-live .live-content .live-item .item-bottom {
    margin-top: 20px;
  }
  #advantage {
    padding: 60px 0 60px;
  }
  #advantage .title {
    margin-bottom: 50px;
  }
  #advantage .advantage-content .content-left {
    width: 230px;
    margin-right: 70px;
  }
  #advantage .advantage-content .content-left .left-item {
    width: 230px;
    height: 61px;
  }
  #advantage .advantage-content .content-left .left-item div {
    width: 230px;
  }
  #advantage .advantage-content .content-left .left-item div h5 {
    font-size: 22px;
  }
  #advantage .advantage-content .content-right {
    width: 65%;
  }
  #advantage .advantage-content .content-right .right-item h6 {
    font-size: 16px;
    margin-bottom: 45px;
    height: 45px;
  }
  #advantage .advantage-content .content-right .right-item .text-box li {
    height: 48px;
    margin-bottom: 32px;
  }
  #advantage .advantage-content .content-right .right-item .text-box li img {
    width: 32px;
    height: 32px;
  }
  #qiye nav {
    margin: 0 auto 70px;
  }
  #qiye nav .logo-title li span {
    font-size: 16px;
  }
  #qiye .logo-box .logo-imgs li {
    width: 18%;
    height: 55px;
    margin: 0 15px 50px 0;
  }
  #college {
    padding: 88px 0 91px;
  }
  #fiveG {
    height: 370px;
  }
  #fiveG .fiveg-content {
    padding: 60px 0 0;
  }
  #fiveG .fiveg-content h2 {
    font-size: 45px;
  }
  #fiveG .fiveg-content h5 {
    font-size: 32px;
    margin: 21px auto 50px;
  }
  #fiveG .fiveg-content button {
    width: 28%;
    height: 50px;
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1150px) {
  #banner #high-lights {
    width: 70%;
    height: 145px;
    bottom: -20%;
  }
  #banner #high-lights .layui-container .stars {
    padding: 15px 10px;
    flex-wrap: wrap;
  }
  #banner #high-lights .layui-container .stars li {
    width: 30%;
    margin: 0 auto;
    border-right: 0;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  #banner #high-lights .layui-container .stars li a p {
    margin-top: 8px;
  }
  #banner #high-lights .layui-container .stars li:nth-child(n + 4) {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #solve .layui-container {
    width: 98%;
  }
  #solve .layui-container .title {
    margin-bottom: 70px;
  }
  #solve .layui-container .solve-content {
    width: 100%;
  }
  #solve .layui-container .solve-content .solve-item {
    width: 23%;
    margin-right: 2%;
  }
  #solve .layui-container .solve-content .solve-item img {
    height: 100px;
  }
  #solve .layui-container .solve-content .solve-item .text {
    padding: 12px 20px 0;
  }
  #solve .layui-container .solve-content .solve-item .text h6 {
    font-size: 16px;
    margin-bottom: 11px;
  }
  #solve .layui-container .solve-content .solve-item .text p {
    margin-bottom: 15px;
  }
  #solve .layui-container .solve-content .solve-item .text img {
    height: 10px;
  }
  #qiye .layui-container {
    width: 90%;
  }
  #qiye .layui-container .title {
    margin-bottom: 75px;
  }
  #qiye .layui-container nav {
    width: 95%;
  }
  #qiye .layui-container nav .logo-title li {
    width: 10%;
  }
  #qiye .layui-container .logo-box .logo-imgs li {
    width: 19%;
    margin: 0 auto 40px;
  }
  #college .layui-container {
    width: 95%;
  }
  #college .layui-container .title {
    margin-bottom: 60px;
  }
  #college .layui-container .college-content .college-left {
    height: 350px;
  }
  #college .layui-container .college-content .college-left .layui-carousel .lunbo-box .lunbo-item img {
    height: 45%;
    margin-bottom: 20px;
  }
  #college .layui-container .college-content .college-left .layui-carousel .lunbo-box .lunbo-item .text-box h6 {
    font-size: 14px;
    margin-bottom: 14px;
  }
  #college .layui-container .college-content .college-left .layui-carousel .layui-carousel-ind {
    top: 89%;
  }
  #college .layui-container .college-content .college-right {
    height: 350px;
    padding: 12px 0 0 7px;
  }
  #college .layui-container .college-content .college-right .layui-carousel {
    border-radius: 10px;
  }
  #college .layui-container .college-content .college-right .layui-carousel > [carousel-item] {
    border-radius: 10px;
  }
  #college .layui-container .college-content .college-right ul li {
    padding-bottom: 10px;
  }
  #college .layui-container .college-content .college-right ul li .type {
    width: 75px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-right: 23px;
  }
  #college .layui-container .college-content .college-right ul li .titles {
    padding-bottom: 15px;
  }
  #college .layui-container .college-content .college-right ul li .titles h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  #college .layui-container .college-content .college-right ul li .titles p {
    margin-bottom: 5px;
  }
  #fiveG {
    height: 330px;
  }
  #fiveG .fiveg-content {
    padding: 60px 0 0;
  }
  #fiveG .fiveg-content h2 {
    font-size: 35px;
  }
  #fiveG .fiveg-content h5 {
    font-size: 26px;
    margin: 25px auto 40px;
  }
  #fiveG .fiveg-content button {
    width: 28%;
    height: 45px;
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1195px) {
  #solve .layui-container .solve-content {
    width: 95%;
  }
  #solve .layui-container .solve-content .solve-item {
    width: 23%;
    margin-right: 2%;
  }
  #solve .layui-container .solve-content .solve-item img {
    height: 110px;
  }
  #solve .layui-container .solve-content .solve-item .text {
    padding: 10px 20px 0;
  }
  #solve .layui-container .solve-content .solve-item .text p {
    margin-bottom: 16px;
  }
  #solve .layui-container .solve-content .solve-item .text img {
    height: 10px;
  }
  #college .layui-container {
    width: 95%;
  }
  #college .layui-container .title {
    margin-bottom: 70px;
  }
  #college .layui-container .college-content .college-left {
    height: 380px;
  }
  #college .layui-container .college-content .college-left .layui-carousel .lunbo-box .lunbo-item img {
    height: 45%;
    margin-bottom: 25px;
  }
  #college .layui-container .college-content .college-left .layui-carousel .lunbo-box .lunbo-item .text-box h6 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  #college .layui-container .college-content .college-left .layui-carousel .layui-carousel-ind {
    top: 89%;
  }
  #college .layui-container .college-content .college-right {
    height: 380px;
    padding: 18px 0 0 10px;
  }
  #college .layui-container .college-content .college-right .layui-carousel {
    border-radius: 10px;
  }
  #college .layui-container .college-content .college-right .layui-carousel > [carousel-item] {
    border-radius: 10px;
  }
  #college .layui-container .college-content .college-right ul li {
    padding-bottom: 15px;
  }
  #college .layui-container .college-content .college-right ul li .type {
    width: 85px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  #index .title {
    font-size: 22px;
  }
  #banner {
    height: 300px;
  }
  #banner .text-left {
    position: absolute;
    top: 15% !important;
    left: 10% !important;
  }
  #banner .text-left h2 {
    font-size: 22px !important;
  }
  #banner .text-left h5 {
    font-size: 12px !important;
    width: 70%;
    margin: 28px 0 33px !important;
    line-height: 1.5;
  }
  #banner .text-left .banner-a {
    width: 107px !important;
    height: 32px !important;
    text-align: center;
    line-height: 32px !important;
    font-size: 12px !important;
  }
  #banner .text-center {
    width: 90%;
    top: 19% !important;
    left: 50%;
    transform: translateX(-50%);
  }
  #banner .text-center h2 {
    font-size: 22px !important;
    text-align: center !important;
  }
  #banner .text-center h5 {
    width: 80% !important;
    margin: 38px auto 43px !important;
    text-align: center !important;
    font-size: 12px !important;
  }
  #banner .text-center .banner-a {
    margin: 0 auto;
    width: 107px !important;
    height: 32px !important;
    text-align: center;
    line-height: 32px !important;
    font-size: 12px !important;
  }
  #banner .text-right {
    position: absolute;
    top: 20% !important;
    right: 7% !important;
  }
  #banner .text-right h2 {
    font-size: 22px !important;
    text-align: right !important;
  }
  #banner .text-right h5 {
    width: 100% !important;
    margin-left: 100%;
    margin: 38px 0 43px !important;
    text-align: right !important;
    font-size: 12px !important;
  }
  #banner .text-right .banner-a {
    float: right !important;
    width: 107px !important;
    height: 32px !important;
    text-align: center;
    line-height: 32px !important;
    font-size: 12px !important;
  }
  #banner .icons {
    top: 93%;
    width: 95%;
  }
  #banner .icons ul li div {
    width: 40px;
    height: 40px;
    background-color: #00cc99;
  }
  #banner .icons ul li div img {
    width: 50%;
    height: 50%;
  }
  #banner .icons ul li p {
    font-size: 14px;
    color: #666;
  }
  #banner #high-lights {
    width: 92%;
    bottom: -78%;
    height: 215px;
  }
  #banner #high-lights .layui-container {
    padding: 0px;
  }
  #banner #high-lights .layui-container .stars {
    padding: 12px 7px;
    flex-wrap: wrap;
  }
  #banner #high-lights .layui-container .stars li {
    width: 30%;
    margin: 0 auto;
    border-right: 0;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  #banner #high-lights .layui-container .stars li a {
    justify-content: flex-start;
  }
  #banner #high-lights .layui-container .stars li a div {
    flex-direction: column;
  }
  #banner #high-lights .layui-container .stars li a div img {
    width: 21px;
    margin-bottom: 3px;
  }
  #banner #high-lights .layui-container .stars li a p {
    margin-top: 5px;
    text-align: center;
  }
  #banner #high-lights .layui-container .stars li:nth-child(n + 4) {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 12px;
  }
  #product {
    margin-top: 150px;
  }
  #product .product-content {
    width: 93%;
    margin-top: 36px;
    flex-direction: column;
    margin-bottom: 40px;
  }
  #product .product-content .product-item {
    width: 100%;
    height: 220px;
    margin-bottom: 25px;
  }
  #product .product-content .product-item .item-head {
    height: 50px;
  }
  #product .product-content .product-item .item-head img {
    width: 23px;
  }
  #product .product-content .product-item .item-head h5 {
    font-size: 16px;
  }
  #product .product-content .product-item .item-body {
    height: 121px;
    padding: 21px 20px 0;
  }
  #product .product-content .product-item .item-footer {
    height: calc(100% - 171px);
  }
  #light-live {
    padding-top: 40px;
  }
  #light-live .title {
    margin-bottom: 35px;
  }
  #light-live .live-content {
    padding-bottom: 20px;
    flex-wrap: wrap;
  }
  #light-live .live-content .live-item {
    width: 45%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #light-live .live-content .live-item .item-top .nums {
    font-size: 35px;
  }
  #light-live .live-content .live-item .item-top span {
    font-size: 22px;
    margin: 0 4px;
  }
  #light-live .live-content .live-item .item-bottom {
    margin-top: 7px;
  }
  #advantage {
    display: none;
  }
  #solve {
    padding-top: 40px;
  }
  #solve .title {
    margin-bottom: 35px;
  }
  #solve .solve-content {
    width: 100%;
  }
  #solve .solve-content .solve-item {
    width: 49%;
    margin-right: 2%;
  }
  #solve .solve-content .solve-item img {
    height: 90px;
  }
  #solve .solve-content .solve-item .text {
    padding: 10px 15px 0;
  }
  #solve .solve-content .solve-item .text h6 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  #solve .solve-content .solve-item .text p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  #solve .solve-content .solve-item:nth-child(2n) {
    margin-right: 0%;
  }
  #solve button {
    width: 130px;
    font-size: 14px;
    margin: 18px auto 40px;
  }
  #qiye {
    padding: 40px 0 20px;
  }
  #qiye .title {
    margin-bottom: 35px;
  }
  #qiye nav {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto 30px;
  }
  #qiye nav::-webkit-scrollbar {
    display: none;
  }
  #qiye nav .logo-title {
    width: auto;
  }
  #qiye nav .logo-title li {
    flex-shrink: 0;
    width: 14%;
    padding: 0px;
    height: 25px;
    line-height: 25px;
  }
  #qiye nav .logo-title li span {
    margin: 0;
    font-size: 14px;
  }
  #qiye nav .logo-title li:after,
  #qiye nav .logo-title li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 25px;
    background: #fff;
    z-index: -2;
    border-radius: 20px;
  }
  #qiye nav .logo-title li:hover {
    z-index: 1;
    background: transparent;
  }
  #qiye nav .logo-title li:hover span {
    color: #fff;
  }
  #qiye nav .logo-title li:before {
    transition: 0.4s;
    background: #00cc99;
    z-index: -1;
  }
  #qiye nav .logo-title li:hover:after,
  #qiye nav .logo-title li:hover:before {
    width: 100%;
  }
  #qiye .logo-box .logo-imgs li {
    width: 19%;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 22px;
  }
  #college {
    padding: 40px 0 50px;
  }
  #college .title {
    margin-bottom: 35px;
  }
  #college .college-content {
    display: flex;
    flex-direction: column;
  }
  #college .college-content .college-left {
    margin-right: 0;
    margin-bottom: 20px;
    width: 96%;
    height: 300px;
  }
  #college .college-content .college-left .layui-carousel .lunbo-box .lunbo-item img {
    margin-bottom: 15px;
  }
  #college .college-content .college-left .layui-carousel .lunbo-box .lunbo-item .text-box h6 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  #college .college-content .college-left .layui-carousel .lunbo-box .lunbo-item .text-box p {
    font-size: 12px;
  }
  #college .college-content .college-right {
    width: 96%;
    height: 365px;
    padding: 16px 0 0 10px;
  }
  #college .college-content .college-right ul li .type {
    display: none;
  }
  #college .college-content .college-right ul li .titles {
    width: 97%;
    padding-bottom: 10px;
  }
  #college .college-content .college-right ul li .titles h6 {
    margin-bottom: 9px;
  }
  #fiveG {
    height: 260px;
  }
  #fiveG .fiveg-content {
    padding: 35px 0 0;
  }
  #fiveG .fiveg-content h2 {
    font-size: 22px;
  }
  #fiveG .fiveg-content h5 {
    font-size: 18px;
    text-align: center;
    margin: 35px auto 20px;
  }
  #fiveG .fiveg-content button {
    width: 42%;
    height: 40px;
  }
  #fiveG .fiveg-content button a {
    font-size: 14px;
  }
}
