<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <title>轻直播_视频教程</title>
    <meta name="keywords"  content="轻直播,直播视频教程" />
    <meta name="description"
         content="轻直播是国内知名的企业级直播定制化服务平台,服务全球500强,为企业提供医疗直播、手术直播、活动直播、会议直播、营销直播、年会直播等全场景解决方案,热线:400-920-1599。" />
    <link rel="stylesheet" href="/static/css/tutorial/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--封装好的视频布局样式-->
    <link rel="stylesheet" href="/static/css/about/jsmodern.min.css">
    <script type='text/javascript' src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <!--mp4视频插件-->
    <script src="/static/common/js/jsmodern.min.js"></script>
    <script>(function (i, s, o, g, r, a, m) { i["DaoVoiceObject"] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; a.charset = "utf-8"; m.parentNode.insertBefore(a, m) })(window, document, "script", ('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/04cefad5.js", "daovoice")</script>
    <style>
        .layui-nav {
            background-color: #f2f4f7;
            display: none;
        }

        .layui-nav .layui-nav-item a {
            color: #333;
        }

        .layui-nav .layui-nav-item a:hover {
            color: #333;
        }

        .layui-nav-child dd.layui-this {
            background-color: #fff;
            color: #00cc99;
        }

        .layui-nav .layui-nav-more {
            border-top-color: #333;
        }

        .layui-nav .layui-nav-mored {
            border-color: transparent transparent #333;
        }

        .layui-nav-bar {
            display: none;
            background-color: #fff;
        }

        .layui-nav-child {
            left: 16%;
            top: 75px;
            min-width: 85%;
        }

        .layui-nav-child dd a {
            width: 100%;
            text-align: center;
            box-sizing: border-box;
        }

        .layui-nav-child dd:hover a {
            color: #00cc99 !important;
        }

        .layui-nav .layui-nav-child a:hover {
            background-color: #f2f2f2;
            color: #00cc99 !important;
        }

        .layui-nav .layui-nav-child dd.layui-this a,
        .layui-nav-child dd.layui-this {
            background-color: #00cc99 !important;
            color: #fff
        }


        .layui-nav {
            max-width: 180px;
            min-width: 145px;
            padding: 0 10px;
        }

        .layui-nav .layui-nav-item {
            width: 100%;
        }

        .layui-nav .layui-nav-item #img-a .layui-nav-img {
            margin-right: 6px;
        }

        .layui-nav .layui-nav-item #img-a {
            display: flex;
            align-items: center;
            padding: 0 5px;
        }

        .layui-nav .layui-nav-item #img-a .name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 67%;
            display: inline-block;
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1ceca10e8f570a044c292d9b35be38f5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div id="tutorial">

        <!--演示演示弹出框 -->
        {include file="common/order_box"}
        <!-- 咨询版块 -->
        {include file="common/siderbar-right"}
        <header>
            <div class="layui-container flex-box">
                <div class="logo">
                    <a href="">
                        <img src="/static/image/logo_b_text.svg" alt="">
                    </a>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block flex-box">

                    </div>
                </div>
                <a class="shouye" href="/">轻直播首页</a>
                <a class="shouye" href="/blog">轻学院</a>
                <div class="login flex-box">
                    <a href="/login" target="_blank">登录</a>
                    <a href="http://login.qingtv.com/signUp" target="_blank">注册</a>
                </div>
                <ul class="layui-nav" lay-filter="leftNav">
                    <li class="layui-nav-item">
                        <a id="img-a" href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img"><span
                                class="name">11</span></a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" data-id="1">轻直播管理平台</a></dd>
                            <dd><a href="javascript:;" data-id="2">退出登录</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </header>


        <nav class="nav-second flex-box">
            <div class="layui-container">
                <a class="active" href="/video">首页</a>
                <i class="layui-icon layui-icon-right"></i>
                <a class="active" href="/video/second?pid={$info['pid']}">{$info['pid_name']}</a>
                <i class="layui-icon layui-icon-right"></i>
                <span>{$info['theme_name']}</span>
            </div>
        </nav>

        <div class="video-box">
            <div class="layui-container flex-box">
                <!-- 视频播放区域 -->
                <div id="video">
                    <video id="videoShow" src="{$info['video_url']}"></video>
                    <!-- <span class="VideoBtn"><img src="/static/image/about/bofang.png"></span>
            <img class="video-hover" src="/static/image/about/video.png" alt=""> -->
                </div>
                <div class="video-list">
                    <div class="list-head">
                        <h4>{$info['theme_name']}</h4>
                        <p>主讲老师：轻直播/{$info['browse']}人在浏览</p>
                    </div>
                    <div class="list-body">
                        <div class="title">
                            <h6>介绍说明</h6>
                            <p>轻直播产品介绍<span>{$info['catalog']['all_dur']}</span></p>
                        </div>
                    </div>
                    <div class="list-content">
                        <ul>
                            {foreach $info['catalog']['catalog'] as $item}
                            <li class="{$info['id'] == $item['id'] ? 'active':''}">
                                <a href="/video/tutorial?browse=1&id={$item['id']}" title="{$item['title']}">
                                    <img src="/static/image/tutorial/video_btn.png" alt="">
                                    <span>{$item['title']}</span>
                                    <i>{$item['duration']}</i>
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                        <!--<ul>
                    <h6>第三课 发起直播</h6>
                    <li>
                        <img src="/static/image/tutorial/video_btn.png" alt="">
                        <span>创建直播频道</span>
                        <i>00:15:24</i>
                    </li>
                    <li>
                        <img src="/static/image/tutorial/video_btn.png" alt="">
                        <span>创建直播频道</span>
                        <i>00:15:24</i>
                    </li>
                    <li>
                        <img src="/static/image/tutorial/video_btn.png" alt="">
                        <span>创建直播频道</span>
                        <i>00:15:24</i>
                    </li>
                </ul>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-tab">
            <div class="tab-title">
                <div class="layui-container">
                    <span class="active">课程介绍</span>
                    <span>视频课时</span>
                </div>
            </div>
            <div class="tab-content">
                <div class="layui-container">
                    <div class="content-item active ">
                        <div class="item-box flex-box">
                            <div class="item-left">
                                <section>
                                    {$info['content']}
                                </section>
                            </div>
                            <div class="item-right">
                                <h6>猜你想学</h6>
                                {if($more_video['new_video'])}
                                {foreach($more_video['new_video'] as $item)}
                                <div class="right-item">
                                    <a href="/video/tutorial?browse=1&id={$item.id}">
                                        <img src="{$item.cover_img_url}" alt="">
                                        <h5>{$item.title}</h5>
                                        <p class="flex-box">
                                            <span>轻直播</span>
                                            <span>{$item.browse}人在浏览</span>
                                        </p>
                                        <p class="free">免费</p>
                                    </a>
                                </div>
                                {/foreach}
                                {/if}

                            </div>
                        </div>
                    </div>
                    <div class="content-item">
                        <div class="item-box flex-box">
                            <div class="item-left">
                                <section class="section">
                                    <h5 class="flex-box"><i></i><span>介绍说明</span></h5>
                                    <p class="flex-box active">
                                        <a href="/video/tutorial?browse=1&id={$item.id}">
                                            <img src="/static/image/tutorial/video_b.png" alt="">
                                            <span>{$info['theme_name']}</span>
                                            <span>{$info['catalog']['all_dur']}</span>
                                        </a>
                                    </p>
                                </section>
                                <!--<section class="section">
                            <h5 class="flex-box"><i></i><span>第一课 创建频道</span></h5>
                            <p class="flex-box">
                                <img src="/static/image/tutorial/video_b.png" alt="">
                                <span>轻直播操作入门课程</span>
                                <span>00:15:24</span>
                            </p>
                            <p class="flex-box">
                                <img src="/static/image/tutorial/video_b.png" alt="">
                                <span>轻直播操作入门课程</span>
                                <span>00:15:24</span>
                            </p>
                            <p class="flex-box">
                                <img src="/static/image/tutorial/video_b.png" alt="">
                                <span>轻直播操作入门课程</span>
                                <span>00:15:24</span>
                            </p>
                        </section>-->
                                <section class="section">
                                    {foreach $info['catalog']['catalog'] as $item}
                                    <p class="flex-box">
                                        <a href="/video/tutorial?browse=1&id={$item.id}">
                                            <img src="/static/image/tutorial/video_b.png" alt="">
                                            <span>{$item['title']}</span>
                                            <span>{$item.duration}</span>
                                        </a>
                                    </p>
                                    {/foreach}
                                </section>
                            </div>
                            <div class="item-right">
                                <h6>猜你想学</h6>
                                <div class="right-item">
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <h5>如何在电脑上开启直播...</h5>
                                    <p class="flex-box">
                                        <span>轻直播</span>
                                        <span>1217人在浏览</span>
                                    </p>
                                    <p class="free">免费</p>
                                </div>
                                <div class="right-item">
                                    <img src="/static/image/qingschool/bg_big.png" alt="">
                                    <h5>如何在电脑上开启直播...</h5>
                                    <p class="flex-box">
                                        <span>轻直播</span>
                                        <span>1217人在浏览</span>
                                    </p>
                                    <p class="free">免费</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="func-free">
            <h3>全功能免费试用，0成本体验轻直播带来的改变</h3>
            <a href="http://login.qingtv.com/signUp" target="_blank">免费体验</a>
        </div>

        {include file="common/footer"}

    </div>
</body>
<script src="/static/common/js/onlineService.js"></script>
<script src="/static/common/js/header-footer.js"></script>
<script>
    // 播放视频
    $(function () {
        //视频
        jsModern.video("#video");
        //播放视频
        $(".VideoBtn").click(function () {
            var video = document.getElementById("videoShow");
            video.play();
            $('.VideoBtn').hide();
            $('.video-hover').hide() // 隐藏视频封面图片
        })
        //监听视频的播放状态
        var video = document.getElementById("videoShow");
        video.oncanplay = function () {
            $(".VideoBtn").show();
            //$("#video").attr("poster","");
        }
        //视频播放事件
        video.onplay = function () {
            $("#videoShow").attr("poster", "");
            $(".VideoBtn").hide();
        };
        video.onplaying = function () {
            $(".VideoBtn").hide();
        };

        //视频暂停事件
        video.onpause = function () {
            $(".VideoBtn").show();
        };
        //点击视频周围暂停播放图片出现
        video.onclick = function () {
            if (video.paused) {
                $(".VideoBtn").hide();
                video.play();
            } else {
                $(".VideoBtn").show();
                video.pause();
            }
        };
    })

    $('.nav-tab').each(function (index, element) {
        var obj = $(this);
        obj.find('.tab-title .layui-container').children().on('click span', function () {
            $(this).addClass('active').siblings().removeClass('active');
            if (obj.find('.tab-content .layui-container').children().eq($(this).index()).length > 0)
                obj.find('.tab-content .layui-container').children().hide().eq($(this).index()).show();
        });
        setTimeout(function () {
            obj.find('.tab-title .active').trigger('li');
        }, 100);
    });
</script>
<script>
    // 登录成功后显示个人信息
    var tvInfo = JSON.parse(localStorage.getItem('tvInfo'))
    if (tvInfo) {
        $('.layui-nav').show()
        // 隐藏登录按钮
        $('.login').hide();
        $('.layui-nav-img').attr('src', tvInfo.avatar) // 头像
        $('#img-a .name').html(tvInfo.name) // 昵称
    }

    // 提示框
    layui.use('layer', function () {
        var layer = layui.layer;
    });

    layui.use('element', function () {
        var element = layui.element;
        element.on('nav(leftNav)', function (ele) {
            var id = ele.attr('data-id');
            // console.log(id);
            // 退出登录
            if (id == 2) {
                localStorage.removeItem('tvInfo')
                layer.msg('您已退出登录');
                setTimeout(() => {
                    window.location.href = "/login"
                }, 500);
            } else if (id == 1) {
                var token = tvInfo.token
                var name = tvInfo.name
                var avatar = tvInfo.avatar
                window.open(`http://login.qingtv.com/Home?lighostoken=${token}
                &lighosName=${name}
                &lighosHeadUrl=${avatar}`)
            }
        });
    });
</script>

</html>